<!DOCTYPE html>
<html xmlns:"http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>이벤트 게시판</title>

<link rel="stylesheet" href="css/event.css">

<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript">

	//function sendIt() {
	const sendIt = () => { //화살표함수
		
		var f = document.myForm;
	
	alert("등록");
		
		str = f.subject.value;
		str = str.trim();
		
		if(!str) { //양 쪽의 공백을 지웠더니, str이 없으면(value값이 없으면)
			alert("\n제목을 입력하세요!");
			f.subject.focus();
			return;
		}
		f.subject.value = str;
		
		str = f.userId.value;
		str = str.trim();
		if(!str) { //양 쪽의 공백을 지웠더니, str이 없으면(이름이 없으면)
			alert("\n아이디를 입력하세요!");
			f.userId.focus();
			return;
		}
		
		/*
		if(!isValidKorean(str)) { //이름이 한글인지 아닌지 판단하는 조건문(util.js파일에 있음)
			alert("\n이름을 정확히 입력하세요");
			f.name.focus();
			return;
		}
		*/
		
		f.userId.value = str;
		
		
		str = f.content.value;
		str = str.trim();
		
		if(!str) {
			alert("\n내용을 입력하세요!");
			f.content.focus();
			return;
		}
		f.content.value = str;
		
		str = f.pwd.value;
		str = str.trim();
		
		if(!str) { 
			alert("\n패스워드를 입력하세요!");
			f.pwd.focus();
			return;
		}
		f.pwd.value = str;
		
		f.action = "/eventCreated.action"; 
		f.submit();
		
	}

</script>

</head>
<body>


<div id="bbs" >

	<h2 align="center">Board</h2>
	<br/><br/>
	
	<form action="" name="myForm" method="post" enctype="multipart/form-data">
	<div id="bbsCreated">
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>제목</dt>
				<dd>
					<input type="text" name="subject" size="70" maxlength="100"
					class="boxTF"/>
				</dd>	
			</dl>
		</div>
		
		
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>아이디</dt>
				<dd>
					<input type="text" name="userId" size="70" maxlength="20"
					class="boxTF"/>
				</dd>	
			</dl>
		</div>
		
		
		<div id="bbsCreated_content">
			<dl>
				<dt>내용</dt>
				<dd>
					<textarea rows="12" cols="69" name="content" class="boxTA"
					style="resize: none; background-color: #ffffff"></textarea>
				</dd>	
			</dl>
		</div>
		
		
		<div class="bbsCreated_noLine">
			<dl>
				<dt>패스워드</dt>
				<dd>
					<input type="text" name="pwd" size="70" maxlength="10"
					class="boxTF" placeholder="(게시물 수정 및 삭제시 필요)"/> 
				</dd>	
			</dl>
		</div>
	</div>
	
	<div style="margin-bottom: 15px; margin-top: 15px;">
		<input type="file" name="upload" id="upload">
	</div>
	
	<div id="bbsCreated_footer">	
		<button class="btn-7" onclick="sendIt();">등록하기</button>
		<button class="btn-7" onclick="document.myForm.subject.focus();">다시입력</button>
		<button class="btn-7" onclick="javascript:location.href='/eventList.action';">작성취소</button>
	</div>
	
	</form>
	
</div>




</body>
</html>