<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">>

<div layout:fragment="content4">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>게 시 판</title>
<!-- 
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/article.css"/> -->

<!-- product.css -->
		<link rel="stylesheet" href="css/event.css">

</head>
<body>

<br/><br/>

<div id="bbs">
	<h2>Event / Magazine</h2>
	<br/><br/>
	
	<div id="bbsArticle">
		<div id="bbsArticle_header">
			<!-- <p th:text="${dto.subject }"></p> -->
			[[${dto.subject}]]
		</div>
		<div class="bbsArticle_bottomLine">
			<dl>
				<dt>작성자</dt>
				<dd th:text="${dto.userId}"></dd>						
			</dl>		
		</div>
		<div class="bbsArticle_bottomLine">
			<dl>
				<dt>등록일</dt>
				<dd th:text="${dto.created }"></dd>
				<dt>조회수</dt>
				<dd th:text="${dto.hitCount }"></dd>			
			</dl>		
		</div>
		<div id="bbsArticle_content">			
				<tr>
					<td >
						<p name="content"
						class="" th:text="${dto.content}" disabled="disabled"></p>
						<img alt="" th:if="${dto.image_Url}" th:src="${dto.image_Url}">
					</td>
				</tr>
			</table>		
		</div>
	</div>
	<!-- <div style="text-align: right;">
		From : [[${dto.ipAddr }]]
	</div> -->
	<div>
	
	
	
	<div id="bbsArticle_footer" style="text-align: center;">
		<tr>
		  <!-- 이전글 다음글 -->
		  <td style="font-family: 'NEXON Lv1 Gothic OTF';">
		    <h5 th:if="${preSubject != null and preSubject != ''}">
		      <a th:href="@{|/eventArticle.action?${params}&boardId=${preNum}|}">
		        이전글 : <span th:text="${preSubject}"></span>
		      </a>
		    </h5>
		    <h5 th:if="${nextSubject != null and nextSubject != ''}">
		      <a th:href="@{|/eventArticle.action?${params}&boardId=${nextNum}|}">
		        다음글 : <span th:text="${nextSubject}"></span>
		      </a>
		    </h5>
		  </td>
		</tr>
	
		<button class="btn-7" th:onclick="@{|location.href='/eventUpdated.action?boardId=${dto.boardId}&${params}'|}">수정</button>
		<button class="btn-7" th:onclick="@{|location.href='/eventDeleted.action?boardId=${dto.boardId}&${params}'|}">삭제</button>
		<button class="btn-7" th:onclick="@{|location.href='/eventList.action?${params}'|}">목록으로</button>
	</div>	
	
	</div>

</div>

</body>

</div>

</html>