<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>이벤트 게시판</title>

<link rel="stylesheet" href="css/event.css">

<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript">


	/* const sendIt = () => { */

	//function sendIt(){
		
		/* var f = document.myForm;
		
		str = f.subject.value;
		str = str.trim();
		if(!str){
			alert("\n제목을 입력하세요.");
			f.subject.focus();
			return;
		}
		f.subject.value = str;
		
		str = f.userId.value;
		str = str.trim();
		if(!str){
			alert("\n아이디를 입력하세요.");
			f.name.focus();
			return;
		} */
				
		/* 
		if(!isValidKorean(str)){
			alert("\n이름을 정확히 입력하세요.");
			f.name.focus();
			return;
		} 
		*/		
		/* f.userId.value = str;
		
		str = f.content.value;
		str = str.trim();
		if(!str){
			alert("\n내용을 입력하세요.");
			f.content.focus();
			return;
		}
		f.content.value = str;
		
		
		str = f.pwd.value;
		str = str.trim();
		if(!str){
			alert("\n패스워드를 입력하세요.");
			f.pwd.focus();
			return;
		}
		f.pwd.value = str;
		
		
		f.action = "/eventUpdated_ok.action";
		f.submit();
		
	}
 */
</script>

</head>
<body>

<div id="bbs" >

	<h2 align="center">Board</h2>
	<br/><br/>
	
	<form th:action="@{eventUpdated.action}" name="myForm" method="post" enctype="multipart/form-data">
	<div id="bbsCreated">
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>제목</dt>
				<dd>
				<input type="text" name="subject" size="70" maxlength="100"
				class="boxTF" th:value="${dto.subject }" required>
				</dd>
			</dl>		
		</div>
		
		<div class="bbsCreated_bottomLine">
		    <dl>
		        <dt>카테고리</dt>
		        <dd>
		            <select name="cno" class="boxTF">
		                <option value="1">이벤트</option>
		                <option value="2">매거진</option>
		                <option value="3">당첨자 발표</option>
		            </select>
		        </dd>    
		    </dl>
		</div>
		
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>작성자</dt>
				<dd>
				<input type="text" name="userId" size="70" maxlength="20"
				class="boxTF" th:value="${dto.userId }" >
				</dd>
			</dl>		
		</div>
		
		
		<div id="bbsCreated_content">
			<dl>
				<dt>내용</dt>
				<dd>
				<textarea rows="12" cols="69" name="content" class="boxTA"
				th:text="${dto.content }"required></textarea>
				</dd>
			</dl>		
		</div>
		
		<div class="bbsCreated_noLine">
			<dl>
				<dt>패스워드</dt>
				<dd>
				<input type="password" name="pwd" size="70" maxlength="10"
					class="boxTF" placeholder="(게시물 수정 및 삭제시 필요)" th:value="${dto.pwd }" required> 
				</dd>
			</dl>		
		</div>
		
	</div>
	
	<div style="margin-bottom: 15px;">
		<input type="file" name="upload" id="upload">
	</div>
	
	<div id="bbsCreated_footer">	
		<button class="btn-7" type="submit">수정하기</button>
		<button class="btn-7" type="button" th:onclick="@{|location.href='/eventArticle.action?${params}&amp;boardId=${dto.boardId}'|}" >수정취소</button>
	
		<input type="hidden" name="boardId" th:value="${dto.boardId }"/>
		<input type="hidden" name="pageNum" th:value="${pageNum }"/>
		<input type="hidden" name="searchKey" th:value="${searchKey }"/>
		<input type="hidden" name="searchValue" th:value="${searchValue }"/>
	</div>
		
	</form>

</div>





</body>
</html>




