<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.store.mapper.BagMapper">

<select id="maxNum" resultType="int">
	select nvl(max(bagId),0) from BagItem
</select>

<insert id="insertData" parameterType="com.book.store.dto.BagDTO">
	insert into BagItem (bagId,userId,seq_No) values(#{bagId},#{userId},#{seq_No})	
</insert>

<select id="getLists" parameterType="String" resultType="com.book.store.dto.BookDTO">
	SELECT  b.seq_No,a.title_Nm,a.publisher_Nm,a.prc_value,a.image_Url,a.authr_Nm
    FROM BookItem a INNER JOIN BagItem b 
    ON a.seq_No = b.seq_No 
    where b.userId = #{userId}
</select>

<select id="getReadData" parameterType="int" resultType="com.book.store.dto.BookDTO">
	select title_Nm,publisher_Nm,prc_value,image_Url,authr_Nm from BookItem 
	where seq_No = #{seq_No}
</select>

<delete id="deleteData" parameterType="map">
	delete from BagItem where seq_No = #{seq_No} and userId = #{userId}
</delete>

<!-- 이 하단은 장바구니에서 구매이후 주문완료 테이블 -->

<select id="findOG" parameterType="String" resultType="int">
	SELECT nvl(MAX(ordergroup),0) FROM orderbag WHERE userid = #{userId}
</select>

<insert id="insertOrderData">
	insert into orderbag(orderid,userid,seq_No,orderdate,ordergroup) 
	values (#{orderId},#{userId},#{seq_No},sysdate,#{orderGroup})
</insert>

<select id="findOrderCount" parameterType="String" resultType="int">
	select count(distinct ordergroup) from orderbag where userid = #{userId}
</select>

</mapper>