<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.store.mapper.BagMapper">

<select id="maxNum" resultType="int">
	select nvl(max(bagId),0) from BagItem
</select>

<insert id="insertData" parameterType="com.book.store.dto.BagDTO">
	insert into BagItem (bagId,userId,seq_No) values(#{bagId},#{userId},#{seq_No})	
</insert>

<select id="getLists" parameterType="String" resultType="com.book.store.dto.BookDTO">
	SELECT  b.seq_No,a.title_Nm,a.publisher_Nm,a.prc_value,a.image_Url,a.authr_Nm
    FROM BookItem a INNER JOIN BagItem b 
    ON a.seq_No = b.seq_No 
    where b.userId = #{userId}
</select>

<select id="getReadData" parameterType="int" resultType="com.book.store.dto.BookDTO">
	select title_Nm,publisher_Nm,prc_value,image_Url,authr_Nm from BookItem 
	where seq_No = #{seq_No}
</select>

<delete id="deleteData" parameterType="int">
	delete from BagItem where bagId = #{bagId}
</delete>




</mapper>