<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.store.mapper.BookItemMapper">

<select id="maxNum" resultType="int">
	select nvl(max(SEQ_NO),0) from BookItem	
</select>

<select id="getDataCount" parameterType="map" resultType="int">
	select nvl(count(*),0) from BookItem 
	where ${searchKey} like '%' || #{searchValue} || '%'
</select>

<select id="getLists" parameterType="map" resultType="com.book.store.dto.BookDTO">
	select * from (
	select rownum rnum,data.* from (
	select seq_No,isbn_Thirteen_No,authr_Nm,publisher_Nm,title_Nm,
	prc_Value,image_Url,book_Intrcn_Cn,kdc_Nm,pblicte_De,sal_Count
	from BookItem where ${searchKey} like '%' || #{searchValue} || '%' 
	order by seq_No desc) data) 
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<select id="recentLists" parameterType="map" resultType="com.book.store.dto.BookDTO">

	select * from (
	select rownum rnum,data.* from (
	select seq_No,isbn_Thirteen_No,authr_Nm,publisher_Nm,title_Nm,
	prc_Value,image_Url,book_Intrcn_Cn,kdc_Nm,pblicte_De,sal_Count
	from BookItem order by seq_No desc) data) 
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>

</select>

<select id="topSalLists" parameterType="map" resultType="com.book.store.dto.BookDTO">

	select * from (
	select rownum rnum,data.* from (
	select seq_No,isbn_Thirteen_No,authr_Nm,publisher_Nm,title_Nm,
	prc_Value,image_Url,book_Intrcn_Cn,kdc_Nm,pblicte_De,sal_Count
	from BookItem order by sal_Count desc) data) 
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>

</select>

<select id="getReadData" parameterType="int" resultType="com.book.store.dto.BookDTO">
	select 
	seq_No,isbn_Thirteen_No,title_Nm,authr_Nm,
	publisher_Nm,prc_Value,image_Url,book_Intrcn_Cn,kdc_Nm,
	pblicte_De,sal_Count from BookItem 
	where seq_No = #{seq_No}
</select>

<update id="updateData" parameterType="com.book.store.dto.BookDTO">
	update BookItem set 
	isbn_Thirteen_No = #{isbn_Thirteen_No},
	title_Nm = #{title_Nm},
	authr_Nm = #{authr_Nm},
	publisher_Nm = #{publisher_Nm},
	prc_Value = #{prc_Value},
	image_Url = #{image_Url},
	book_Intrcn_Cn = #{book_Intrcn_Cn},
	kdc_Nm = #{kdc_Nm},
	pblicte_De = #{pblicte_De} 
	where seq_No = #{seq_No}
</update>

<update id="updateSal_Count" parameterType="int">
	update BookItem set sal_Count = sal_Count+1 
	where seq_No = #{seq_No}
</update>

<delete id="deleteData" parameterType="int">
	delete from BookItem where SEQ_NO = #{SEQ_NO}
</delete>

<insert id="insertData" parameterType="com.book.store.dto.BookDTO">
	insert into BookItem (seq_No,isbn_Thirteen_No,title_Nm,authr_Nm,publisher_Nm,prc_Value,image_Url,
	book_Intrcn_Cn,kdc_Nm,pblicte_De,sal_Count) values (#{seq_No},#{isbn_Thirteen_No},#{title_Nm},#{authr_Nm},
	#{publisher_Nm},#{prc_Value},#{image_Url},#{book_Intrcn_Cn},#{kdc_Nm},sysdate,0)
</insert>


</mapper>