<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.store.mapper.ReviewMapper">

<select id="maxNum" resultType="int">
	select nvl(max(reviewId),0) from review
</select>

<insert id="insertData" parameterType="com.book.store.dto.ReviewDTO">
	insert into review (reviewId,seq_No,reviewStar,userId,content,created) 
	values(#{reviewId},#{seq_No},#{reviewStar},#{userId},#{content},sysdate) 
</insert>

<select id="getDataCount" parameterType="int" resultType="int">
	select nvl(count(*),0) from review 
	where seq_No = #{seq_No}
</select>

<select id="getAvgStar" parameterType="map" resultType="int">
	select nvl(avg(reviewStar),0) from review 
	where ${searchKey} like '%' || #{searchValue} || '%'
</select>

<select id="getLists" parameterType="map" resultType="com.book.store.dto.ReviewDTO">
	select * from (
	select rownum rnum,data.* from (
	select reviewId,seq_No,reviewStar,userId,content,to_char(created,'YYYY-MM-DD') created,
	to_char(fix_created,'YYYY-MM-DD') fix_created 
	from review where seq_No = #{seq_No} order by reviewId desc) data) 
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<select id="getReadData" parameterType="int" resultType="com.book.store.dto.ReviewDTO">
	select reviewId,seq_No,userId,content,created from review 
	where reviewId=#{reviewId}
</select>

<update id="updateData" parameterType="com.book.store.dto.ReviewDTO">
	update review set content=#{content} 
	where reviewId=#{reviewId}
</update>

<delete id="deleteData" parameterType="int">
	delete from review where reviewId=#{reviewId}
</delete>


</mapper> 
