<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.store.mapper.UserMapper">

<select id="findUserName" parameterType="String" resultType="com.book.store.user.UserData">
	select * from userdata where userId = #{userId}
</select>

<select id="findUserEmail" parameterType="String" resultType="com.book.store.user.UserData">
	select * from userdata where userId = #{email}
</select>

<insert id="insertData" parameterType="map">
	insert into USERDATA(userId,userPwd,userName,userAddr,userEmail,userBirth,userTel,userVip,userRole,realPwd) 
	values(#{userId},#{userPwd},#{userName},#{userAddr},#{userEmail},
	#{userBirth},#{userTel},0,'RULE_USER',#{realPwd})
</insert>

<insert id="insertOAuth" parameterType="map">
	insert into userdata(userId,userName,userRole) values(#{userId},#{userName},#{userRole})
</insert>

<update id="updateOAUData" parameterType="map">
	update userdata set username = #{name} where userid = #{id}
</update>

<select id="findUserId" parameterType="map" resultType="string">
	select userid from userdata where userName = #{userName} and userTel = #{userTel} 
</select>

<select id="findUserPwd" parameterType="map" resultType="String">
	select realpwd from userdata where userName = #{userName} and userTel = #{userTel} and userId = #{userId}
</select>

<select id="findUserBagItem" parameterType="String" resultType="int">
	select nvl(count(*),0) from bagitem where userid = #{userId}
</select>

</mapper>