<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.store.mapper.UserMapper">

<select id="findUserName" parameterType="String" resultType="com.book.store.user.UserData">
	select * from user where userId = #{userId}
</select>

<insert id="insertData" parameterType="map">
	insert into USERDATA values(#{userId},#{userPwd},#{userName},#{userAddr},#{userEmail},
	#{userBirth},#{userTel},0,'RULE_USER')
</insert>
</mapper>