@charset "UTF-8";

/* 스타일 */
/* 공통 참고하기
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
html{
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
body{
  background-color: #f8f9fa;
  font-family: "GmarketSansMedium";
}
*/

/* detail-wrap 시작 */
#detail-wrap{
  width: 100%;
  min-height: 65rem;
}
#board-detail{
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 5rem;
  border-top: 2px solid #272559; 
  border-bottom: 1px solid #ccc; 
  border-collapse: collapse;
}
#board-detail tbody th{
  color: #454545; 
  vertical-align: middle; 
  text-align: center;
}
#board-detail tbody th, #board-detail tbody td{
  padding: 1rem 1rem; 
  border-bottom: 1px solid #ccc;
}
/* detail-wrap 끝 */