@charset "UTF-8";

div.BookList-container {
	
  text-align: center;
  display: block;
  width: 100%;
  justify-content: space-between;
  padding-left: 6%;

}

div.BookList-container h5 {
  font-weight: bold;
  width: 100%;
  padding-bottom: 10px; 
  border-bottom: 1px solid black;
  margin-bottom: 20px;

}

div.BookList-container .BookList-row {
  display: inline-block;
  margin: 0 1%;
  margin-bottom: 20px;
  width: 20%;
  vertical-align: top;
  text-align: center;
 
  margin-right: 2%; 

}

div.BookList-container .BookList-row .BookList-img-box{
	
	/* border: 4px double #bcbcbc; */
	box-sizing: border-box;
	border: 3px double #bcbcbc;
	padding: 20px;
	width: 320px;
	height: 470px;
	border-radius: 10px ;
	
	/* box-shadow: 2px 2px 2px 1.5px grey; */
}

div.BookList-container .BookList-row .BookList-img-box img {
  	width: 120px;
	height: 150px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 3px 3px grey;
	transition: filter 0.3s;
}

div.BookList-container .BookList-row .BookList-img-box img:hover {
  	width: 120px;
	height: 150px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px 3px grey;
	filter: drop-shadow(8px 8px 6px #000);

}

div.BookList-container .BookList-row .BookList-img-box span {
  font-size: 11px;
  font-family: 'NEXON Lv1 Gothic OTF';
}

.BookList button {
	
  background-color: #fff;
}

