@charset "UTF-8";

div.BookList-container {
	
	text-align: center;
	font-family: "NanumGothicCoding";
	font-weight: bold;
	
}

div.BookList-container .BookList-row {
	
	display: inline-block;
	margin-bottom: 20px;
	width: 20%;
	
}

div.BookList-container .BookList-row .BookList-img-box img {
	
	width: 120px;
	height: 150px;
	border-radius: 5px;
	

}

div.BookList-container .BookList-row .BookList-img-box span {
	
	font-size: 10px;

}

.BookList button {
	background-color: #fff;
}
