@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: 0px solid silver;
      z-index: 2;
    }

    body {
      font-family: 'Roboto', sans-serif;
      font-size: 0.9rem;
      color: #999;
      line-height: 1rem;
      letter-spacing: 0.1px;
      z-index: 2;
    }


    p{
    font-family: 'Nanum Gothic', sans-serif;
    z-index: 2;
    }




    /* start */

    ul,
    ol,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    main {
      height: 700px;
      background: url('https://i.postimg.cc/pWT94zPM/photo-1510917087081-51e33cdcc51b.jpg') no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
    }


    main>div {
      width: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 1.5rem;
      color: #fff;
    }



 

    footer {
      padding: 3rem 0;
        margin: 0 auto;
        text-align: center;
    }

    footer div {
      width: 1000px;
      margin: 0 auto;
      text-align: center;
    }


    footer nav ul {
      width: 800px;
      list-style: none;
      display: flex;
      justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    footer p {

      width: 800px;
      line-height: 1.2rem;
        margin: 0 auto;
    }



