@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


    /* start */

    footer {
      padding: 3rem 0;
        margin: 0 auto;
        text-align: center;
    }

    footer div {
      width: 1000px;
      margin: 0 auto;
      text-align: center;
    }


    footer div ul {
      width: 800px;
      list-style: none;
      display: flex;
      justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    footer p {

      width: 800px;
      line-height: 1.2rem;
        margin: 0 auto;
    }



