@charset "utf-8";

/*font1*/

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*font2*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/*font3*/

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid red;
    outline: none;
    font-size: 0.9rem;
}

article {
    margin-top: 100px;
}

h1 {
    font-family: 'SF_HambakSnow';
    font-size: 2.5rem;
    text-align: center;
    margin: 30px 0;
}

h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
}

h4 {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 550;
    margin: 10px 0;
}

p {
    font-family: 'GongGothicMedium';
    font-size: 0.9rem;
    margin: 5px 0;
}

button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 3rem;
    border: 1px solid #dddddd;
    margin: 5px 0;
    padding: 0 5px;
}

.red-btn {
    background: #e6002d;
    color: white;
    font-weight: bold;
}

.red-btn:hover {
    box-shadow: 1px 1px 4px #cccccc;
    transition: 0.5s;
}

.black-btn {
    background: #444444;
    color: white;
}

.black-btn:hover {
    background: black;
    transition: 0.5s;
}

.white-btn {
    background: none;
    color: black;
    width: 100%;
    font-weight: bold;
}

.white-btn:hover {
    box-shadow: 1px 1px 4px #cccccc;
    transition: 0.5s;
}

.gray-btn {
    background: #eeeeee;
    color: black;
    font-weight: bold;
    padding: 0 40px;
    border: 0px;
}

.gray-btn:hover {
    transition: 0.5s;
    background: #cccccc;
}

.content-box {
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 50px 5%;
    padding: 50px 30px;
}

.essential::after {
    content: '*';
    color: #e6002d;
}

hr {
    border-bottom: 1px solid #dddddd;
    margin: 20px 0;
}

input {
    width: 100%;
    font-size: 1rem;
    line-height: 3rem;
    margin: 5px auto;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid black;
}

input::placeholder {
    color: #cccccc;
}

img {
    width: 17px;
    margin-right: 10px;
}

ul,
ol,
li {
    list-style-type: none;
}


/* 링크 기본값 */

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #747474;
    font-size: 0.8rem;
    font-weight: bold;
}


/*mobile*/

.login .content-box>:nth-child(1) {
    color: #888888;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.login .content-box>:nth-child(4) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.login .content-box>:nth-child(4) label input {
    width: 20px;
}

.login .content-box>:nth-child(4) div>:nth-child(1)::after {
    content: ' ❘';
}

.login .content-box>:nth-child(5) {
    width: 100%;
}

.login .content-box>:nth-child(8) p {
    text-align: center;
    margin: 10px 0;
}

.login .content-box>:nth-child(7) button {
    font-weight: normal;
}

.join-us .content-box {
    position: relative;
}

.join-us .content-box p {
    margin-top: 30px;
}

.join-us .content-box>:nth-child(3),
.join-us .content-box>:nth-child(13) {
    display: flex;
}

.join-us .content-box>:nth-child(3) input {
    width: 73%;
    margin-right: 2%;
}

.join-us .content-box>:nth-child(3) button {
    width: 25%;
}

.join-us .content-box>:nth-child(13) input {
    width: 61%;
    margin-right: 2%;
}

.join-us .content-box>:nth-child(13) button {
    width: 37%;
}

.join-us .content-box img {
    position: absolute;
    width: 30px;
    right: 30px;
    top: 760px;
}

.join-us .content-box>:nth-child(15):hover {
    background: #eeeeee;
    transition: 0.5s;
    cursor: pointer;
}

.join-us .content-box .birth div {
    display: flex;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 3rem;
    margin: 5px auto;
    padding-left: 20px;
}

.join-us .content-box .birth div select {
    text-align: center;
    padding-left: 0;
    margin: 0;
    border: 0px;
}

.join-us .content-box .birth div>:nth-child(2),
.join-us .content-box .birth div>:nth-child(3){
  padding-left:30px;
}

.join-us .content-box .agree input {
    width: 20px;
}

.join-us .content-box .agree>:nth-child(3) {
    width: 100%;
}

.join-us .content-box .agree .checkbox_group div>:nth-child(3):hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.join-us>:nth-child(4)>:nth-child(2) {
    height: 300px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    background: #eeeeee;
    padding: 15px;
    font-size: 0.9rem;
}

.join-us>:nth-child(4)>:nth-child(3) {
    margin: 20px;
    font-size: 0.85rem;
}

.join-us>:nth-child(4)>:nth-child(4) {
    width: 100%;
}

.join-us>:nth-child(5) {
    text-align: center;
}


/* .join-us>:nth-child(5) p{
  text-align:center !important;  
} */

.join-us>:nth-child(5) button {
    width: 45%;
}

.remov-acc {
    text-align: center;
}

.remov-acc>:nth-child(2) button {
    margin-top: 30px;
}

.remov-acc>:nth-child(3) p {
    text-align: left;
    margin: 20px 0;
}

.remov-acc>:nth-child(3) select {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.remov-acc>:nth-child(3) textarea {
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.remov-acc>:nth-child(4) img {
    width: 40px;
    margin-right: 0;
    margin-bottom: 30px;
}

.top-fix {
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 10;
}

.top-fix button {
    background: #222222;
    color: white;
    border-radius: 50%;
    width: 45px;
}

@media screen and (min-width: 1366px) {
  .content-box{
    width:600px;
    margin: 70px auto;
  }
}