@charset "UTF-8";

/* common */
.smallfont {
  font-size: 12px;
}

.activecustom {
  color: #f84646 !important;
  font-weight: bold !important;
}
.item:hover{
  color: #f84646 !important;
  background: none !important;
}
/*.item:active{
  color: #f84646 !important;
  font-weight: bold !important;
  background: none !important;
}*/

hr {
  border: 1px solid #f84646;
  margin: 0 auto;
}

.pointcolor {
  color: #f84646 !important;
}
.pointbutton {
  color: #fff !important;
  background: #f84646 !important;
  border: 1px solid #f84646;
}
.pointbutton:hover {
  background: #db3a29 !important;
}


/* header */
.logoimg {
  /*border: 1px solid #eee;*/
  margin-bottom: 20px;
  margin-top: -25px;
}
.ui.secondary.menu.mainmenu {
  /*border: 1px solid #eee;*/
  padding: 0 5%;
}
.ui.secondary.menu.mainmenu .item{
  /*border: 1px solid #eee;*/
  margin: 5px auto;
  margin-bottom: 40px;
}


/* Contents */
.ui.sub-container {
  /*border: 1px solid #eee;*/
  margin: 0 4% 0 4%;
}
.ui.vertical.text.menu.sidemenu .item{
  /*border: 1px solid #eee;*/
  margin-bottom: 10%;

}
.ui.items p {
  margin-top: -10px;
}
.ui.items .item.pointcolor {
  text-decoration: underline;
  font-size: 16px;  
}

/* DataTables */
table.dataTable td, th {
  padding: 10px 0 !important;
  text-align: center;
}
.dataTables_wrapper {
  width: 100%;
}
.dataTables_wrapper .dataTables_paginate {
  margin: 0 auto;
  float: none;
  text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border: none;
  background: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #f84646 !important;
  border: none;
  background: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
  color: #f84646 !important;
  font-weight: bold;
  border: none;
  background: none;
}


/* Footer */
.footercustom {
  margin: 100px 0 0 0;
}