@charset "UTF-8";

		
		/* * {padding: 0; margin: 0; text-decoration: none; box-sizing: border-box;} */

/* html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend 
 */
 .BookArticle body,
 .BookArticle span,
 .BookArticle span p {
     vertical-align: baseline; 
     font-family: inherit; 
     font-weight: inherit; 
     font-style: inherit; 
     font-size: 100%; 
     outline: 0; 
     padding: 0; 
     margin: 0; 
     border: 0;
     text-decoration: none; 
     box-sizing: border-box;
     color: #000;
     
     }

ul, ol, li {list-style: none; }

a {text-decoration: none; color: #000; }

a:hover a:focus {text-decoration: none; outline: 0;}

img {width:100%; vertical-align: top; border: 0 none; }
table {border-collapse: separate; border-spacing: 0;}
strong{font-weight:bold}
caption, th, td {font-weight: normal;text-align: left;}

blockquote:before, blockquote:after, q:before, q:after {content: "";}

blockquote, q {quotes: "" "";}

.clearfix::before, .clearfix::after, .clearfix:before, .clearfix:after {content: ""; display: block; }

.clearfix::after, .clearfix:after {clear: both; }

.hidden {font-size: 0px;line-height: 0px; text-indent: -9999px; position:absolute; overflow:hidden; left:-999em; width:0; height:0; visibility: hidden;}


.in_box{max-width: 1170px; padding:0 15px; width:100%; margin: 0 auto; position: relative; overflow: hidden;}
.displayN{display:none;}
.float-r{float:right}
.float-l{float:left}
.txt-red{color:#b12424;}

/*header*/
/* .header{width:100%; border-bottom:1px solid #ebebeb}
.header .logo{width:105px; padding:20px 0;} */

/* footer */
/* .footer{background:#f5f5f5; margin-top:80px; padding:45px 0;}
.footer .top_footer ul li{display:inline-block; margin-right:12px; font-size:11px; font-weight: bold; }
.footer .top_footer ul li a{color:#222;}
.footer .txt_box{color:#666; font-size:11px; margin-top:5px}
.footer .txt_box p{line-height:20px; }
.footer .txt_box p .bar{vertical-align: top; padding: 0 2px;} */

/*btn*/
.BookArticle .btn{
	box-sizing: border-box; 
	border: 2px solid transparent; 
	text-align: center; 
	width:100%; 
	padding:15px 0; 
	font-size:18px; 
	font-weight:bold; 
	cursor:pointer;}
	
.BookArticle .m-btn{
	box-sizing: border-box; 
	border: 2px solid transparent; 
	text-align: center; 
	width:auto; 
	padding:10px 30px; 
	font-size:13px; 
	font-weight:normal; 
	cursor:pointer;}
	
.BookArticle .black-btn{color: #ffffff !important; background-color: #222222 !important; border-color: #222222 !important;}
.BookArticle .btn_box{width:100%}

/*container*/
/********productshop********/

/*main_banner*/
.container .main_banner{width:100%; background:url(../img/shop/main_ban_bg.png) no-repeat; background-size:cover}

/*productwrap*/
.productwrap{font-size:0;}
.productwrap .product{display:inline-block; width:calc(50% - 20px); margin-top:80px;}
.productwrap>div:nth-child(odd){margin-right:40px;}

.productwrap .product .product_txt{margin-top:20px;}
.productwrap .product .product_txt p{color:#222; font-weight:normal;}
.productwrap .product .product_txt p:not(:last-child){font-size:18px; line-height:26px;}
.productwrap .product .product_txt p:last-child{font-size:24px; line-height:40px;}

.productwrap .product.preparing .thumb{position:relative;}
.productwrap .product.preparing .thumb:before{content:''; background:rgba(0,0,0,.5); width:100%; height:100%; display:block; position:absolute;}
.productwrap .product.preparing .thumb:after{content: '상품 준비중'; color: #fff; position: absolute; width: 100%; text-align: center; font-size: 16px; top: 50%; left:0; transform: translateY(-50%);}
.productwrap .product.preparing .price{color:#cccccc; text-decoration: line-through;}


/********productdetail********/
.product_detail{margin-top:50px}
.product_detail .product_top{font-size:0;}
.product_detail .product_top>div{width:calc(50% - 30px); display:inline-block; vertical-align: text-top;}
.product_detail .product_top>div:first-child{margin-right:60px; overflow:hidden}
.product_detail .product_box{font-size:15px;}
.product_detail .product_top .thumb_l{width:100%;}
.product_detail .product_top .thumb_l .slick-arrow, .product_detail .product_top .thumb_l .slick-dots{display:none !important}
.product_detail .product_top .thumb_s{overflow: hidden; margin-top:13px; width:100%; position:relative}
.product_detail .product_top .thumb_s>div{width:90%; max-height: 100px;  margin:0 auto; overflow:hidden}
.product_detail .product_top .thumb_s img{margin:5px; cursor: pointer;}
.product_detail .product_top .thumb_s img.slick-current{border:1px solid #707070}
.slick-arrow{position:absolute; top:46%;}
.slick-arrow.slick-prev{left:5px;}
.slick-arrow.slick-next{right:5px; }
.slick-prev:before, .slick-next:before{color:#666 !important;}

.productname{position: relative; width: 100%; height: 50px; border: 1px solid #ccc; line-height: 50px;}
.productname.active{border: 1px solid #222; border-bottom: 1px solid #ccc;}
.productname ul{position: absolute; width: calc(100% + 2px); border: 1px solid #222; background: #fff; left: -1px; top: 49px; display:none;}
.productname ul.active{border-top:0;}
.productname p{padding:0 5px; cursor:pointer; color:#ccc}
.productname p:after{content: ""; width: 0px; height: 0px; border-top: 7px solid transparent; border-right: 7px solid #ccc; transform: rotate(45deg); bottom: 45%; right: 13px;
    position: absolute;}
.productname ul li:hover, .productname ul li:focus{background-color:#f5f5f5;}

/**/
.drop-down01 {position: relative; display: block; width: 100%; height: 50px; line-height: 50px; border: 1px solid #ccc;}      
.drop-down01 select {display: none;}
.drop-down01 .select-list-link{font-size: 0; position: absolute; top: 0; width: 100%; display: block; left: 0;}
.drop-down01 .select-list-link:after{content: ""; width: 0px; height: 0px; border-top: 7px solid transparent; border-right: 7px solid #ccc; transform: rotate(45deg); bottom: 45%; right: 13px;
    position: absolute;}
.drop-down01 .select-list {position: absolute; top: -1px; left: -1px; z-index: 3; margin-top: 50px; padding: 0; background-color: #fff; width: calc(100% + 2px); }      
.drop-down01 .select-list li {display: none; border-left: 1px solid #222; border-right: 1px solid #222;}    
.drop-down01 .select-list li:first-child{border-top:1px solid #222;}
.drop-down01 .select-list li:last-child{ border-bottom: 1px solid #222;}
.drop-down01 .select-list li span {display: inline-block; min-height: 50px; min-width: 280px; width: 100%; padding: 0 15px 0 70px; background-color: #fff; background-position: left 10px center;
    background-repeat: no-repeat; font-size: 16px; text-align: left; color: #222; box-sizing: border-box; background-size: 40px; cursor:pointer;}     
.drop-down01 .select-list li span:hover,.drop-down01 .select-list li span:focus {background-color:#f5f5f5;}
.clone-slt span{background-size: 40px; padding: 0 15px 0 70px; background-position: left 10px center; background-repeat: no-repeat; display: inline-block; max-height: 48px;}

.product_detail .product_option .drop-down02{margin-top:15px; position: relative; display: block; width: 100%; height:40px; border: 1px solid #ccc;}
.product_detail .product_option .drop-down02 .productprice{display:none; width: calc(100% + 2px); background: #fff;border-bottom: 1px solid #222;
    z-index: 1; position: absolute; top: 38px; left: -1px; line-height: 40px; border-top: 1px solid #222;}
.product_detail .product_option .drop-down02 .productprice li{padding: 0 10px; cursor:pointer; border-right: 1px solid #222; border-left: 1px solid #222;}
.product_detail .product_option .drop-down02 .productprice li:hover,
.product_detail .product_option .drop-down02 .productprice li:focus{background-color:#f5f5f5;}
.product_detail .product_option .drop-down02 p{padding: 0 10px; cursor:pointer; width:100%; height: 40px; line-height: 40px; position: absolute; top: 0; left: 0; z-index: 2;}
.product_detail .product_option .drop-down02 p:after{content: ""; width: 0px; height: 0px; border-top: 7px solid transparent; border-right: 7px solid #ccc; transform: rotate(45deg); bottom: 45%; right: 13px;
    position: absolute;}
.product_detail .product_option .drop-down02.productprice{}

.price_rows{padding:20px 0; border-bottom:1px solid #eee; position:relative}
.price_rows .price_unit {position: absolute; right: 0; bottom: 20px; font-weight: bold; font-size: 18px;}
.price_rows .close_btn{background:url(../image/shop/option_delet_btn@3x.png) no-repeat center center; background-size:70%; cursor:pointer; width:20px; height:20px; color:#666; position:absolute; right: 0; top: 19px;}
.price_rows .price_btn{margin-top:15px;}
.price_rows .price_btn>input{font-size: 0; margin-left: -1px; cursor:pointer; color:#ccc; width:30px; height:30px; border:0; outline:0; display: inline-block; text-align: center;}
.price_rows .price_btn>input.number{font-size: 15px; vertical-align:bottom; color:#666; cursor:default; border:1px solid #ccc;}
.price_rows .price_btn>input.plus_btn{background:url(../image/shop/quantity_plus_btn@3x.png) no-repeat center center; background-size:100%}
.price_rows .price_btn>input.minus_btn{background:url(../image/shop/quantity_minus_btn@3x.png) no-repeat center center; background-size:100%}
.price_txt{ position: absolute; right: 0; bottom: 20px; font-weight: bold; font-size: 18px;}
.product_detail .product_txt{border-bottom:1px solid #ebebeb;padding-bottom:20px;}
.product_detail .product_txt p{color:#222; font-weight:normal;}
.product_detail .product_txt p:not(:last-child){font-size:18px; line-height:26px;}
.product_detail .product_txt p:last-child{font-size:24px; line-height:40px; margin-top: 20px;}

.product_detail .product_info{padding-top:20px; font-size:13px;}
.product_detail .product_info p{padding-bottom:20px; color:#666}
.product_detail .product_info strong{width: 90px; display: inline-block; color: #222; vertical-align: top;} 
.product_detail .product_info span{width: calc(100% - 95px); display: inline-block;} 

.product_detail .product_option{padding-top:20px; position:relative; min-height:250px; z-index:1}
/*.product_detail .product_option select{width:100%; padding:0 5px; display:block; margin-bottom:10px}*/
.product_detail .product_option select.productname{height:50px;}
.product_detail .product_option select.productprice{height:36px;}
.product_detail .product_option .option_btm{/*position:absolute; bottom:-50px;*/ width:100%; display:block}
.product_detail .product_option .price{padding-top:20px}
.product_detail .product_option .price>strong{font-size:16px; line-height: 46px;}
.product_detail .product_option .price span{color:#2cb0c9; font-size:18px; float:right}
.product_detail .product_option .price span>strong{font-size:30px; }
.product_detail .product_option .btn_box{margin-top:20px}

.product_detail .content{margin-top:120px}
.product_detail .tab_list{width:100%; background:#fff;}
.product_detail .tab_list ul{font-size:0; width:100%; background:#fff; border-bottom: 1px solid #ebebeb;}
.product_detail .tab_list ul li{width:calc(100% / 3.1); display:inline-block; cursor:pointer; font-size:16px; text-align:center; padding:13px 0} 
.product_detail .tab_list ul li.active{font-weight:bold; border-bottom:2px solid #222}

.product_detail .tab_list.activefixx{position:fixed; top:0; left:0;}
.product_detail .tab_list.activefixx ul{max-width:1140px; margin:0 auto}

.product_detail .tab_box{padding-top:120px;}
.product_detail .tab_box .tit{font-size:21px; font-weight:bold; padding-bottom:15px}
.product_detail .tab_box .ask_box{background:#f5f5f5; border-top:3px solid #222; padding:40px 50px 115px 50px;}
.product_detail .tab_box .ask_box p{margin-top:10px}
.product_detail .tab_box .ask_box label{width:80px; display:inline-block; font-size:14px; vertical-align: top; padding-top: 8px;}
.product_detail .tab_box .ask_box input{width:10%; min-width:100px; height:36px; padding:0 5px;}

/* .tab_box .ask_box input[type=radio] {
  display: inline-block;
  vertical-align: middle;
}
 */
/* .tab_box .ask_box p {
  white-space: nowrap;
  margin: 0;
}

.tab_box .ask_box input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 1rem;
  margin-right: -150px; 인접한 요소 사이의 간격을 제거합니다.
} */


.product_detail .tab_box .ask_box textarea{width:calc(100% - 86px); height:150px; overflow-y:auto; padding:10px 5px; resize: none;}
.product_detail .tab_box .ask_box .m-btn{margin-top:30px}

.product_detail .tab_box .notice_box{border-top:3px solid #222;}
.product_detail .tab_box .notice_box .tit{font-size:16px; padding-top:30px;}
.product_detail .tab_box .notice_box .sub_txt{font-size:14px; line-height:24px}


/******** 이용약관 개인정보처리방침 ********/
.userterms_box>.tit{font-size:24px; font-weight:bold; padding:60px 0 30px 0}
.userterms_box pre{white-space: pre-line;}
.userterms_box pre strong{font-size:16px; padding-top: 30px;  display: inline-block;}
.userterms_box pre span{font-size:16px; line-height:28px;}

.mob_ver{display:none}
.web_ver{display:block}


/* media 720 */
@media only screen and (max-width:720px){
.mob_ver{display:block}
.web_ver{display:none}
.product_detail{margin-top:0;}
.productwrap .product{margin-top:60px;}
.productwrap .product .product_txt p:not(:last-child){font-size:16px; line-height:22px;}
.productwrap .product .product_txt p:last-child{font-size:21px; line-height:40px;}

/********productdetail********/
.product_detail .product_top>div{width:100%; margin-right:0;}
.product_detail .product_top>div:first-child{margin-right:0; width: calc(100% + 30px); margin-left:-15px}
.product_detail .product_top .thumb_s{display:none}
.product_detail .product_top .thumb_l .slick-dots{display:block !important; bottom:2%}
.product_detail .product_top .thumb_l .slick-dots li{width: calc(80% / 12); margin:0; height:10px}
.product_detail .product_top .thumb_l .slick-dots li button:before{display:none;}
.product_detail .product_top .thumb_l .slick-dots li button{width:100%; height:5px; opacity: .25; background: #000; padding:0;}
.product_detail .product_top .thumb_l .slick-dots li.slick-active button{opacity: .75;}

.drop-down01 .select-list li span{min-width:100%;}


.product_detail .tab_box{padding-top:60px;}
.product_detail .tab_box.tab_box01{width: calc(100% + 30px); margin-left: -15px;}
.product_detail .tab_box .ask_box{padding:10px 20px 90px 20px; width: calc(100% + 30px); margin-left: -15px;}
.product_detail .tab_box .ask_box label{display:none}
.product_detail .tab_box .ask_box input{width:100%; min-width: 100%;}
.product_detail .tab_box .ask_box textarea{width:100%}
.product_detail .tab_box .ask_box .m-btn{margin-top:15px;}


.product_detail .content {margin-top: 10px; border-top: 1px solid #eee;}
/*.product_detail .product_option{position: fixed; bottom: 0; width: 100%; background: #fff; left: 0; padding: 15px 15px 0 15px; min-height:auto;}*/
.product_detail .product_option{min-height: auto; height: 59%; position: fixed; width: 100%; bottom: 0; overflow: visible; left: 0;}
.product_detail .product_option .btn_box {margin-top: 0;position: fixed; left: 0; bottom: 0;}
.product_detail .product_option .product_option_box{display:none; position: fixed; bottom: 56px; width: 100%; left: 0; padding: 55px 0 0 0; min-height:40%; overflow-y: auto; max-height:65%;}
.drop-down01 .select-list{max-height: 125px; overflow-y: auto;}
.product_detail .product_option .price{padding-top:10px}
.option_bg{background:url(../image/shop/main_bottom_scroll_bg_down.png) no-repeat center center; background-size:contain; width:100%; height:100px;position: absolute; top: -28px; left: 0;}
.mob_close {width: 37px; height: 36px; top: 0; position: absolute; cursor: pointer; left: 46%;}
.product_option_bg{display:none; position:absolute; padding: 0 15px; top: 10px; width: 100%; height: 50px;}
.product_detail .product_option .product_option_box .product_option_box_in{background: #fff; padding: 0 15px 67px 15px;}
}

@media only screen and (max-width:480px){
.productwrap .product{width:100%; margin-right:0}
.product_detail .tab_list ul li{font-size:14px; letter-spacing:-1px}
.product_detail .product_info strong{width:60px;}
.product_detail .product_info span{width:calc(100% - 65px);}
.drop-down01 .select-list li span{font-size:14px; letter-spacing:-1px;}
.product_detail .tab_box .ask_box input{font-size: 13px; letter-spacing: -1px;}
.product_detail .tab_box .ask_box textarea{letter-spacing: -1px;}
.price_rows .close_btn{width:30px; height:30px; background-size:50%; top:5px;}
/*.mob_ver.close_btn{display:none; width:30px; height:30px; position:absolute; top: -33px; left: 46%; }*/
.price_rows .price_unit{bottom:15px;}
.mob_ver.close_btn.active{display:block}
.product_detail .product_option .btn_box{margin:0;}
.price_rows{padding:13px 0}


}




.see-comments>p:nth-child(1) {
  margin-bottom: 20px;
}

.see-comments section {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.see-comments section>div:nth-child(1) {
  width: 17%;
  max-width: 50px;
}

.see-comments section>div:nth-child(1)>img {
  width: 40px;
  height: 40px;
}

.see-comments section>div:nth-child(2) {
  width: 100%;
}

.see-comments section>div:nth-child(2)>p:not(:last-child) {
  margin-bottom: 8px;
}

.see-comments section>div:nth-child(2)>p:nth-child(2) {
  font-weight: 300;
}

.see-comments section>div:nth-child(2)>p:nth-child(3) {
  font-size: 13px;
  color: #aaa;
}

.see-comments section>div:nth-child(3) {
  width: 18px;
  height: 50px;
  padding-top: 10px;
}

.see-comments section>div:nth-child(3)>img {
  width: 18px;
}

.see-comments textarea {
  font-size: 15px;
  margin-top: 40px;
  height: 80px;
  resize: none;
  
  
  font-family: 'Noto Sans KR', sans-serif;
/*   font-size: 1rem; */
  line-height: 1.2rem;
  width: 100%;
/*   height: 300px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  resize: none;
}

.see-comments textarea::placeholder {
  font-size: 15px;
}

.see-comments input[type="checkbox"] {
  margin-right: 6px;
}

.see-comments>div:nth-child(5) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.see-comments button {
  width: 120px;
}

.see-comments>div>div {
  display: flex;
  align-items: center;
}

/* .see-comments textarea {
  
}
 */
/* .see-comments section {
  display: flex;
  align-items: center;
  justify-content: space-between;
   width: 100%;
}

.see-comments section b {
  float: left;
  margin-right: 0.2rem;
} */

.see-comments section span {
  float: right;
  margin-right: 1rem;
}


.btn-555 {
  width: 120px;
  height: 50px;
  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border-radius: 4px;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
	
  background: #555;
  color: #fff;
}

.btn-555:hover {
  background: #000;
}

.btn-order {
  width: 100%;
  height: 50px;
  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border-radius: 4px;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
	
  background: #555;
  color: #fff;
}

.btn-order:hover {
  background: #000;
}

.btn-111 {
  width: 32.5%;
  height: 50px;
  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border-radius: 4px;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
	
  background: #eee;
  color: #333;
  display: inline-block;
}

.btn-111:hover {
  background: #ccc;
  color: #333;
}


#after { 
    width:  250px;
    height: 200px;
    position: absolute;
    top : 17%;
    left:   13%;
}

#before { 
    width:  250px;
    height: 200px;
    position: absolute;
    top: 14%;
    left:   13%;
    
    /* opacity: 1; 
  	transition: opacity 1.5s;
  	*/
}

#before:hover{
	/* opacity: 0; */
	width: 500px;
	height: 450px;
	 
}

