@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&subset=korean');

body{font-family: 'Noto Sans KR', sans-serif;}
html,body,h1,div,dl,dt,dd,p,span {margin:0;padding:0;box-sizing:border-box;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
h1 {margin:30px 0;color:#2AC1BC}
.grid1080{margin:0 auto;width:1080px;}
.box {border-top:4px solid #2AC1BC;margin-bottom:100px;}
dl dt{position:relative;}
dl dt a {display:block;padding:17px 30px;font-size:18px;border-bottom:1px solid #ddd;color:#555;}
dl dt a:after {position:absolute;right:0;}
dl dt {font-weight:700;}
dl dd {display:none;background:#f2f2f2;padding: 27px 50px 25px;line-height:28px;color:#333;font-size:16px;}
dd.on{display:block;}
.point {color:#2ac1bc;}
.btn{position:absolute;right:30px;width:16px;height:16px;border-top:3px solid #555;border-right:3px solid #555;transform:rotate(-225deg);}
dt.on .btn{transform:rotate(-45deg);top:40%;border-color:#2ac1bc;}



