@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
}

img {
  width: 100px;
}

li {
  list-style: none;
}

body {
  font-family: 'Noto Sans KR', serif;
  font-size: 15px;
  line-height: 1rem;
  color: #252525;
  letter-spacing: 0.1px;
}

h1 {
  font-family: 'Noto Serif KR', serif;
  font-size: 35px;
  line-height: 2.2rem;
  color: #222;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.5rem;
  color: #000;
  text-align: center;
  word-break: keep-all;
}

h3 {
  font-size: 20px;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 60px;
  text-align: center;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

strong {
  font-size: 23px;
  font-weight: 300;
  line-height: 2.5rem;
  font-family: 'Noto Serif KR', serif;
  word-break: keep-all;
}

small {
  font-size: smaller;
  color: #999;
}

a:link {
  color: #252525;
  text-decoration: none;
}

a:visited {
  color: #252525;
}

button {
  width: 100%;
  height: 50px;
  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border-radius: 4px;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #666;
  color: #fff;
}

.btn-eee {
  background: #eee;
  color: #333;
}

.btn-eee:hover {
  background: #ccc;
  color: #333;
}

.btn-555 {
  background: #555;
  color: #fff;
}

.btn-555:hover {
  background: #000;
}

.btn-red {
  background: #e6002d;
  color: #fff;
}

.btn-red:hover {
  background-color: #000;
}

article {
  width: 90%;
  max-width: 1000px;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 60px 30px 70px 30px;
  margin: 0 auto;
  margin-bottom: 120px;
}

input[type="text"] {
  width: 100%;
  height: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin-bottom: 24px;
  padding-left: 12px;
  border-bottom: 1px solid #ddd;
  outline: none;
}

textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  resize: none;
}

textarea:focus {
  outline: 1px solid black;
}


.see-comments>p:nth-child(1) {
  margin-bottom: 20px;
}

.see-comments section {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.see-comments section>div:nth-child(1) {
  width: 17%;
  max-width: 50px;
}

.see-comments section>div:nth-child(1)>img {
  width: 30px;
  height: 30px;
}

.see-comments section>div:nth-child(2) {
  width: 100%;
}

.see-comments section>div:nth-child(2)>p:not(:last-child) {
  margin-bottom: 8px;
}

.see-comments section>div:nth-child(2)>p:nth-child(2) {
  font-weight: 300;
}

.see-comments section>div:nth-child(2)>p:nth-child(3) {
  font-size: 13px;
  color: #aaa;
}

.see-comments section>div:nth-child(3) {
  width: 18px;
  height: 50px;
  padding-top: 10px;
}

.see-comments section>div:nth-child(3)>img {
  width: 18px;
}

.see-comments textarea {
  font-size: 15px;
  margin-top: 40px;
  height: 80px;
  resize: none;
}

.see-comments textarea::placeholder {
  font-size: 15px;
}

.see-comments input[type="checkbox"] {
  margin-right: 6px;
}

.see-comments>div:nth-child(5) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.see-comments>div:nth-child(5) button {
  width: 120px;
}

.see-comments>div:nth-child(5)>div {
  display: flex;
  align-items: center;
}

