<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 내가넣은거 -->
<link rel="stylesheet" href="css/basket.css">
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="text/javascript" src="/js/ajaxUtil.js"></script>
<script th:inline="javascript">

var itemList = document.getElementsByName("item");
var seq_No_List = document.getElementsByName("seq_No");
var title_Nm_List = document.getElementsByName("title_Nm");

$(function(){
	
	//체크박스 전체 체크
	$("#checkAll").click(function () {
		
		  $("input[name=item]").prop("checked", $(this).prop("checked"));
		  
		  var price = 0;
			
			$.each(itemList,function(index,item){
				
				if(item.checked==true){
					
					price += parseInt(item.value);
									
				}
				
			});
			
			$("#totalPrice").html(price + "원");
		
	});
	
	//하나의 체크박스가 풀렸을때 천체 체크의 체크취소
	$("input[name=item]").click(function(){
		
		if($("input[name=item]:checked").length == $("input[name=item]").length){
			
			$("#checkAll").prop("checked",true);
			
		}else {
			
			$("#checkAll").prop("checked",false);
			
		}
		
	});
	
	//하나의 아이템 선택했을 때 값이 바뀜
	$("input[name=item]").click(function(){
		
		var price = 0;
		
		$.each(itemList,function(index,item){
			
			if(item.checked==true){
				
				price += parseInt(item.value);
								
			}
			
		});
		
		$("#totalPrice").html(price + "원");
		
	});
	
	$("#deleteBag").click(function(){
		
		var boo = false;
		var value = [];
		
		for(i=0; i<itemList.length; i++){
			
			if(itemList[i].checked){
				boo = true;
				value.push(seq_No_List[i].value);
			}
		}
		
		if(!boo){
			alert("삭제하실 항목을 적어도 하나이상 선택해 주십시오.");
			return;
		}
		
		var data = value.join(",");
		window.location.href = 'deleteBag.action?data=' + data;
		
	});
	
	$("#let_Go").click(function(){
		
		//주문번호 : 주문을 버튼을 누른시간
		var now = new Date();
		var nano = now.getTime();
		
		var boo = false;
		var total_Price = 0;
		var bookName = [];
		var bookNum = [];
		
		for(i=0; i<itemList.length; i++){
			
			if(itemList[i].checked){
				boo = true;
				total_Price += parseInt(itemList[i].value);
				bookName.push(title_Nm_List[i].value);
				bookNum.push(seq_No_List[i].value);
			}
		}
		
		if(!boo){
			alert("구매하실 항목을 적어도 하나이상 선택해 주십시오.");
			return;
		}
		
		//ajax로 보낼 상품명 1개이상일땐 '상품명' 외 n권...
		var item_name = '';
		if(bookName.length > 1){
			item_name = bookName[0] + '외 ' + (bookName.length - 1) + '권';
		}else{
			item_name = bookName[0];
		}
		
		$.ajax({
			url:"https://kapi.kakao.com/v1/payment/ready",
			type:'POST',
			data:{
				'cid' : 'TC0ONETIME',
				'partner_order_id' : nano,
				'partner_user_id' : [[${userId}]],
				'item_name' : item_name,
				'quantity' : bookName.length,
				'total_amount' : total_Price,
				'tax_free_amount' : 0,
				'approval_url' : 'http://localhost:8080/success',
				'cancel_url' : 'http://localhost:8080/cancel',
				'fail_url' : 'http://localhost:8080/fail'
			},
			headers:{
				'Authorization' : 'KakaoAK 051b33bdbbe0ba43924808b0a780bb6c',
				'Content-type' : 'application/x-www-form-urlencoded;charset=utf-8'
			},
			dataType:"json",
			success:function(data){
				
				var url = data.next_redirect_pc_url;
				var tid = data.tid;
				
				window.location.href = 'ready?url='+url+'&tid='+tid+'&orderId='+nano+'&bookNum='+bookNum.join(",");
			},
			error:function(error){
				
				alert(error);
			}
		
		
		});
	
	
	});
	
});	

</script>

</head>
<body>
    <section class="cart">
        <div class="cart__information">
            <ul>
                <li>장바구니 상품은 최대 30일간 저장됩니다.</li>
                <li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
                <li>오늘출발 상품은 판매자 설정 시점에 따라 오늘출발 여부가 변경될 수 있으니 주문 시 꼭 다시 확인해 주시기 바랍니다.</li>
            </ul>
        </div>
        <table class="cart__list">
            <form>
                <thead>
                    <tr>
                        <td><input type="checkbox" id="checkAll"></td>
                        <td colspan="2">상품정보</td>
                        <td>옵션</td>
                        <td>상품금액</td>
                        <td>배송비</td>
                    </tr>
                </thead>
                
                <tbody>
                    <tr class="cart__list__detail" th:each="dto,dtoStat: ${lists}">
                        <td><input type="checkbox" th:id="${dto.seq_No}" name="item"
                        th:value="${dto.prc_Value}"></td>
                        <td><img th:src="${dto.image_Url}" alt="image"></td>
                        <td><a th:href="'/BookArticle.action?seq_No=' + @{${dto.seq_No}} + '&pageNum=1'">해당 상품 페이지</a>
                            <p>[[${dto.publisher_Nm}]]</p>
                            <span class="price">
                            [[${dto.prc_Value}]]</span>
                        </td>
                        <td class="cart__list__option">
                            <p>제목 : [[${dto.title_Nm}]]</p>
                            <button class="cart__list__optionbtn">주문조건 추가/변경</button>
                        </td>
                        <td><span class="price">[[${dto.prc_Value}]]원</span><br>
                            <button class="cart__list__orderbtn">주문하기</button>
                        </td>
                        <td>무료</td>
                        <td><input type="hidden" name="seq_No" th:value="${dto.seq_No}">
                        <input type="hidden" name="title_Nm" th:value="${dto.title_Nm}"></td>
                    </tr>
                </tbody>
                
                <tfoot>
                    <tr>
                        <td colspan="3"><input type="checkbox"> 
                        	<button class="cart__list__optionbtn" type="button" id="deleteBag">선택상품 삭제</button>
                        </td>
                        <td id="totalPrice"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </form>
        </table>
        <div class="cart__mainbtns">
            <button class="cart__bigorderbtn left" onclick="javascript:location.href='/main'">홈으로 이동하기</button>
            <button class="cart__bigorderbtn right" type="button" id="let_Go">주문하기</button>
        </div>
    </section>
</body>
</html>