<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div layout:fragment="content" >
<!-- 전체 디자인 -->
<link rel="stylesheet" href="/css/board.css">
<!-- 버튼용 -->
<link rel="stylesheet" type="text/css" href="/css/BoardCreated.css">


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- 댓글창 합쳐보기 -->
<!-- <script th:inline="javascript"> -->


<script th:inline="javascript">

$(function () {
	
	listPage(1);
	
});

$(document).ready(function() {
	
	$("#sendButton").click(function(){
		
		var param = "name=" + $("#name").val()
					+ "&boardNum=" + [[${dto.boardNum}]]
					+ "&content=" + $("#content").val();
							//alert(param);//-----------------------------
		$.ajax({
		    type: "POST",
		    url: "/CommentCreated.action",
		    data: param,
		    dataType:"text",
		    beforeSend: function(xhr) {
		        // 요청 전에 실행할 코드
		        showRequest();
		    },
		    success: function(data) {
		        // 응답 성공 시 실행할 코드
		        $("#listData").html(data);
		        $("#name").val("");
		        $("#content").val("");
		        $("#name").focus();
		    },
		    error: function(xhr, status, error) {
		        // 응답 실패 시 실행할 코드
		        alert("에러 발생: " + error);
		    }
		});
		
	});
	
});

/* function listPage(page) {
	
	var url = "/CommentList.action";
	//alert(url);
	
	$.post(url,{pageNum:page,boardNum:[[${dto.boardNum}]]},function(args){
		$("#listData").html(args);

	});
	
	$("#listData").attr("style", "display:block");
	$("#listData").show();
	
}  */


function listPage(page) {
	var url = "/CommentList.action";
		
	var boardNum = "boardNum=" + [[${dto.boardNum}]];
	var pageNum = "pageNum=" + page;
	//alert(boardNum);
	$.ajax({
		url: url,
		type: "POST",
		dataType:"text",
		data: {boardNum,pageNum},
		success: function(args) {
			$("#listData").html(args);
			$("#listData").show();
		},
		error:function(e){
			alert(e.responsetext);
		}
	});
}


 function showRequest() {
	
	var name = $.trim($("#name").val());
	var content = $.trim($("#content").val());
	
	if(!name){
		alert("\n이름을 입력하세요");
		
		$("#name").focus();
		return false;
	}

	if(!content){
		alert("\n내용을 입력하세요");
		$("#content").focus();
		return false;
	}
	
	if(content.length>200){
		alert("\n내용은 200자까지 가능합니다");
		$("#content").focus();
		return false;
	}
	
	return true;
	
} 








/* 

 function deleteData(num,page) {
	
	var url = "/CommentDeleted.action";
	
	$.post(url,{commentNum:num,pageNum:page,boardNum:${dto.boardNum}},function(args){
		$("#listData").html(args);
		
	});
	
} 
*/




</script>



</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
<!-- http://192.168.16.16:8080/boardlist.action -->
<h2  style="text-align: center;">게시글 상세내용</h2>
</br></br>
<!-- th:text="${dto.num}" 값이안들어감 -->

<article>
<section id="detail-wrap">
  <table id="board-detail">
    <colgroup>
      <col width="15%"/>
      <col width="35%"/>
      <col width="15%"/>
      <col width="35%"/>
    </colgroup>
   
    <tbody>
      <tr>
        <th>글 번호 :</th>
        <td>[[${dto.boardNum}]]</td>
        <th>조회수 :</th>
        <td>[[${dto.hitCount}]]</td>
      </tr>
      <tr>
        <th>작성자 :</th>
        <td>[[${dto.name}]]</td>
        <th>작성일 :</th>
        <td>[[${dto.created}]]</td>
      </tr>
      <tr>
        <th>제목 :</th>
        <td colspan="3">[[${dto.subject}]]</td>
      </tr>
      <tr>
      	<th>내용 :</th>
        <td colspan="4">[[${dto.content}]]</td>
      </tr>

    </tbody>
    
  </table>
  
  <div style="margin-top: 20px; margin-right: 100px;">
	  <button  class="black-btn float-r m-btn" 
	  th:onclick="@{|location='/BoardUpdated.action?num=${dto.boardNum }&${params }'|}">
	  수정</button>
	  <button class="black-btn float-r m-btn" 
	  th:onclick="'location.href=\'BoardDeleted_ok.action?num=' + @{${dto.boardNum}} + '&' + @{${params}} + '\''">
	  삭제</button>
	  <button class="black-btn float-r m-btn" 
	  th:onclick="@{|location.href='/BoardList.action?${params }'|}">
	  리스트</button>
	 <!--  <input type="hidden" name="boardNum" value="${dto.boardNum }"/> -->
  </div>
  
	<!-- 이전글 다음글 -->
	<div style="text-align: center;">
	이전글 : 
	<a th:if="${preSubject != null and preSubject != ''}" th:href="@{|/BoardArticle.action?${params}&num=${preNum}|}">
	  <span th:text="${preSubject}"></span>
	</a>
	</div>
	
	<div style="text-align: center;"> 
	다음글 : 
	<a th:if="${nextSubject != null and nextSubject != ''}" th:href="@{|/BoardArticle.action?${params}&num=${nextNum}|}">
	  <span th:text="${nextSubject}"></span> 
	</a>
	</div>
	
	
  
</section>  
  
</article>

<span id="listData" style="display: block;"></span>

<table width="700" border="0" cellpadding="0" cellspacing="0" style="margin: auto;">
<tr>
	<td width="600" colspan="4" height="3" bgcolor="#e6d4a6"></td>
</tr>

<tr>
	<td width="60" height="30" bgcolor="#eeeeee" align="center">작성자</td>
	<td width="240" height="30" style="padding-left: 10px;">
	<input type="text" id="name" size="35" maxlength="20" class="boxTF"/>
	</td>
</tr>

<tr>
	<td width="600" colspan="4" height="1" bgcolor="#e6d4a6"></td>
</tr>

<tr>
	<td width="60" height="30" bgcolor="#eeeeee" align="center">내용</td>
	<td width="540" colspan="3" style="padding-left: 10px;">
		<textarea rows="3" cols="85" class="boxTA" style="height: 50px; resize: none;" id="content"></textarea>
	</td>
	
<tr>
	<td width="600" colspan="4" height="3" bgcolor="#e6d4a6"></td>
</tr>

<tr>
	<td width="600" colspan="4" height="30" align="right" style="padding-right: 15px;">
		<input type="button" value="등록하기" class="btn2" id="sendButton"/>
	</td>
</tr>

</table>

<span id="listData" style="display: block;"></span> 




</div>

</html>