<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
  <title>login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- 내가넣은거 -->
<link rel="stylesheet" href="css/board.css">
<script type="text/javascript" src="js/board.js"></script>

</head>

<body>

  <div class="header" w3-include-html="header.html"></div>


  <article class="notice">
    <h2>고객센터</h2>
    <div>
      <div>
        <div>
          <h4><strong>공지사항</strong></h4>
          <h5>+ 전체보기</h5>
        </div>
        <div>
          <h5>네이버 알림 서비스 안내</h5>
          <h5>2020.06.20</h5>
        </div>
        <div>
          <h5>구매 안전 서비스 안내</h5>
          <h5>2020.05.25</h5>
        </div>
        <div>
          <h5>코로나 관련 배송 안내 사항</h5>
          <h5>2020.04.12</h5>
        </div>
        <div>
          <h5>일룸 이벤트 당첨자</h5>
          <h5>2020.04.10</h5>
        </div>
        <div>
          <h5>고객센터관련 업무사항</h5>
          <h5>2020.04.01</h5>
        </div>
      </div>
      <div>
        <div>
          <h3>1577-5670</h3>
          <h5>업무시간<br>
            평일 10:00 ~ 18:00 (점심시간 11:50~13:00)<br>
            토.일.공휴일은 휴무입니다.<br>

            통화량이 많아 연결이 어려우신 경우 게시판으로
            문의주시면 빠른 답변 도움 드리겠습니다.</h5>
        </div>
        <div>
          <h3>매장 전화문의</h3>
          <h5>매장에서 구매하신 제품의 배송문의, 주문내용 변경 등은 해당 대리점에서 문의 가능합니다.
            매장 운영시간은 매장 안내에서 확인하실 수 있습니다.</h5>
        </div>
      </div>


    </div>
  </article>


  <article class="quick">
    <h2>QUICK LINK</h2>
    <div>
      <img src="https://merongshop.com/SkinImg/board/board1.gif" alt="">
      <img src="https://merongshop.com/SkinImg/board/board2.gif" alt="">
      <img src="https://merongshop.com/SkinImg/board/board3.gif" alt="">
      <img src="https://merongshop.com/SkinImg/board/board4.gif" alt="">
      <img src="https://merongshop.com/SkinImg/board/board5.gif" alt="">
      <img src="https://merongshop.com/SkinImg/board/board6.gif" alt=""> <img src="https://merongshop.com/SkinImg/board/board7.gif" alt=""> <img src="https://merongshop.com/SkinImg/board/board8.gif" alt="">

    </div>
  </article>


  <article class="search2">

    <h2>자주 묻는 질문</h2>
    <div>
      <h4>Search</h4>
      <select>
        <option>일주일</option>
        <option>한 달</option>
        <option>두 달</option>
        <option>세 달</option>
        <option>전체</option>
      </select>
      <select>
        <option>제목</option>
        <option>글쓴이</option>
        <option>내용</option>
        <option>아이디</option>
        <option>별명</option>
      </select>
      <input type="text"><img src="https://cdn.pixabay.com/photo/2016/03/31/19/14/magnifying-glass-1294834_1280.png">
      <div>

  </article>

  <div class="wrapper">
    <div class="city-list-header heading">
      <span class="weather-header-details">구분</span>
      <span class="weather-header-details">등록일</span>
      <span class="weather-header-details">제목</span>
    </div>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">상품</span>
          <span class="weather-header-details">2020.08.13</span>
          <span class="weather-header-details">가격이 너무 비싸요.</span>
        </div>
      </summary>
      <div>
        <p>옷을 구입한다고 가정해보시면, 같은 기능을 가진 옷 한 벌의 가격이라도 여기저기 천차만별입니다.<br>
          그리고 소비자들은 같은 디자인이더라도, 브랜드에 대한 신뢰도와 소재의 질, A/S 등을 고려해서 다양한 선택을 합니다.<br>
          <br>
          <br>
          가구도 마찬가지입니다.<br>
          오히려 가구는 1~2년 쓰다 바꾸는 물건이 아닌 만큼, 제품의 질과 기능 A/S 등을 더욱 고려해봐야 합니다.
          <br>
          <br>
          실제로 일룸의 제품은 주자재뿐만 아니라 부자재까지 하나하나 엄선하여 사용하는 만큼 원가의 비중이 높습니다.<br>
          하지만 퍼시스와의 대량구매 및 자사 운영 공장에서의 생산으로 기타 비용을 절감하여,<br>
          소규모 경쟁사에 비해 동일 품질에서 가격이 높지 않습니다.<br>
          <br>
          <br>
          쉽게 망가지는 제품을 저가에 구입하시는 것보다 고품질의 제품을 합리적인 가격에 구입하시는 것이<br>
          <br>
          일반적인 가구의 수명을 고려할 때 훨씬 이득이 될 것입니다.<br>
          <br>
          <br>
          <br>
          일룸은 가구에 변함없는 신뢰를 더하여 고객에게 만족을 드립니다.</p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">AS</span>
          <span class="weather-header-details">2020.03.13</span>
          <span class="weather-header-details">이사를 하게 되어 가구를 옮겨야 하는데<br> 해체, 재조립해주시나요?</span>
        </div>
      </summary>
      <div>
        <p>안녕하세요. 고객님<br>
          <br>
          <br>

          현재 일룸에서는 해체/포장,재조립만 가능합니다.<br>
          <br>
          (이사 전 해체 및 포장 , 이삿짐 운반 , 이사 당일 또는 이사 후 조립)<br>
          <br>

          <br>
          일룸가구에 대해서는 이사전 분해 후 포장이 가능하니 이삿짐 업체에 운반만 요청하시고 재조립은
          <br>
          <br>

          이사 당일 또는 그 이후에 이루어 집니다.<br>
          <br><br>
          <br>

          비용은 제품의 종류와 수량에 따라 다르게 책정되므로,<br>
          <br>

          <br>
          고객센터 직원(1577-5670)과 상세히 상담하시고 일정과 비용을 확인 하신 후 접수하여 주십시오.

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          쇼핑몰 내 고객센터> 분해/설치 안내 로도 접수가 가능합니다. </p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">AS</span>
          <span class="weather-header-details">2019.11.13</span>
          <span class="weather-header-details">오래 전 구입한 제품인데, 하자가 나서<br> A/S를 신청하니 단종된 제품이라고 합니다.</span>
        </div>
      </summary>
      <div>
        <p>일룸 제품의 무상보증기간은 1년 입니다.<br>
          <br>
          단종된 제품이라 하더라도 A/S용 비축자재(약 3년)가 있으므로, 서비스를 받으실 수 있습니다.<br>
          일부 사양이 변경되었다면 구사양으로는 A/S가 불가능하며, 비슷한 형태의 신사양부품으로 교체가 가능합니다.</p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">배송/시공</span>
          <span class="weather-header-details">2018.06.13</span>
          <span class="weather-header-details">제품을 구입하면 사용하던 제품을 무료로<br> 수거해 주거나 옮겨주나요? </span>
        </div>
      </summary>
      <div>
        <p>대부분의 가구업체의 경우 폐가구 서비스를 하고 있지 않으며, 부득이 할 경우 유상으로 진행하고 있습니다.<br>
          <br>
          일부 사제가구업체는 일룸과 달리 판매가격에 폐가구를 수거하고 처리하는 비용을 포함하고 있습니다.<br>
          <br>
          원칙적으로 폐기물의 처리는 폐기물처리 운반법에서 지정하는 자만이 가능합니다.<br>
          <br>
          일룸은 합리적인 가격의 책정을 위해 폐기물 수거-처리 비용을 포함하고 있지 않습니다.<br>
          <br>
          폐기물의 수거 및 폐기 절차는 지역내 구청이나 해당구 지역 중고품 수거센터 혹은 재활용 센터에 문의해주시기 바랍니다.<br>
          <br>
          <br>
          <br>
          또한, 이사 및 이동으로 인해 일룸제품을 분해/설치하기 위해서는 품목별, 거리별 등에 따라 비용이 발생하며,<br>
          <br>
          자세한 사항은 고객센터 1577-5670으로 연락 또는 고객센터>분해/설치 안내를 참조해주시기 바랍니다. </p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">상품</span>
          <span class="weather-header-details">2018.04.13</span>
          <span class="weather-header-details">의자 등판이 오염되었어요.<br> 집에서 세탁해도 되나요?</span>
        </div>
      </summary>
      <div>
        <p>일룸 의자는 대부분 오염방지가공이 된 천소재로 되어 쉽게 오염이 되지는 않지만,<br>
          실수로 인하여 천오염이 되었을 경우에는 가급적 전문 세탁 업체에 의뢰하시는 것이 좋습니다.<br>
          <br>
          <br>
          의자 등판에 있는 지퍼의 경우 의자 제작 공정상 부착되는 것이어서,<br>
          지퍼를 열어 커버를 벗겨 낸 후 세탁을 할 수는 있지만 세탁 후에 다시 커버를 씌우는 것이 불가능 합니다.<br>
          <br>
          <br>
          따라서 전문 세탁업체에 의뢰하여 천을 벗겨내지 않고 세탁을 하시거나<br>
          그렇지 않으실 경우에는 등,좌판을 교체하시는것이 바람직 합니다.<br>
          <br>
          <br>
          ※ 등좌판 교체 등좌판을 판매하는 경우에는 대리점을 통하여 구매하실수 있습니다.</p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">상품</span>
          <span class="weather-header-details">2018.03.03</span>
          <span class="weather-header-details">세일기간은 언제인가요?</span>
        </div>
      </summary>
      <div>
        <p>일룸은 정직한 가격으로 정찰제를 고수합니다.<br>
          언뜻, 많은 세일을 통해서 소비자분들이 싸게 구입했다는 만족감을 드릴수 있을지는 몰라도, <br>
          <br>
          한편으로는 동시에 ’그렇다면 원가는 얼마일까, 남는게 없다는 장사꾼의 말은 거짓말’ 이라는 의심을 들게 합니다.<br>
          <br>
          일룸은 세일이나 재고를 예상하고 정가를 높이 책정하지도, 가격을 낮추려 부자재의 질을 떨어뜨리지도 않습니다. <br>
          <br>
          합리적인 신뢰가 있는 가격으로, 1년 내내 어느 대리점에서든지 같은 가격으로 제품을 구입하실수 있습니다.</p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">교환/반품</span>
          <span class="weather-header-details">2017.06.12</span>
          <span class="weather-header-details">일룸 가구는 반품이 안되나요?</span>
        </div>
      </summary>
      <div>
        <p>배송전 이나 조립전에 취소를 요청하시면 최대한 반품을 수용하고 있습니다.
          <br>
          단, 설치시공 후에는 목재가구 특성상 반품이 불가능합니다.<br>
          <br>
          한 번이라도 조립이 되어졌던 제품은 재조립이 일부 불가능하며(끼워 맞춤형), <br>
          <br>
          재조립한다 하더라도 미관상 좋지 못한 부분이 발생하므로 반품을 해 드리지 않고 있습니다.<br>
          <br>
          이 점 양해해 주시길 바랍니다. .</p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">배송/시공</span>
          <span class="weather-header-details">2017.03.13</span>
          <span class="weather-header-details">배송설치비가 따로 청구되나요?</span>
        </div>
      </summary>
      <div>
        <p>그렇지 않습니다.<br>
          <br>
          현재 일룸 제품에 표시된 모든 가격은 일체의 배송 설치비가 포함된 것입니다.<br>
          (그러나 제주도, 울릉도 등 산간지역은 배송비가 추가발생할수 있습니다.)<br>
          <br>
          저희 일룸은 퍼시스 그룹의 물류 시스템을 같이 사용하고 있어 <br>
          <br>
          고객님들께 타사에 비해 훨씬 경쟁력 있는 배송 설치 서비스가 가능합니다.</p>
      </div>
    </details>
    <details>
      <summary>
        <div class="city-list-header">
          <span class="weather-header-details">배송/시공</span>
          <span class="weather-header-details">2017.03.13</span>
          <span class="weather-header-details">배송 및 설치는 누가 어느 지역까지<br> 어떻게 하나요?</span>
        </div>
      </summary>
      <div>
        <p>일룸의 모든 제품은 최상의 시공품질을 제공하기 위해서<br>
          물류시공 전문계열사인 (주)바로스의 전문시공기사가 직접 배송, 설치합니다. <br>
          담당 시공기사가 결정되면 시공일 전날 또는 당일 아침에 고객님과 통화를 통해 세부일정을 확정하게 됩니다.<br>
          <br>
          단, 배송지역은 전국 주요도시와 광역권이며 일부 도서 산간지역은 배송이 안되거나 다소 늦을 수 있습니다.<br>
          <br>
          또한 제주도, 울릉도 등 배를 이용하는 지역의 배송 및 설치는 추가비용이 발생할수 있습니다.</p>
      </div>
    </details>

  </div>

  <div class="page">
    <nav class="pagination">

      <ol class="r-list pagination__list">
        <a href="#0" class="r-link pagination__control">
          <span class="pagination__symbol pagination__prev-symbol" aria-hidden="true">←</span>
          <span class="pagination__control-text">prev</span>
        </a>
        <li class="pagination__group"><a class="pagination__point" aria-current="page">1</a></li>
        <li class="pagination__group"><a href="#0" class="r-link pagination__point">2</a></li>
        <li class="pagination__group"><a href="#0" class="r-link pagination__point">3</a></li>
        <li class="pagination__group"><a href="#0" class="r-link pagination__point">4</a></li>
        <li class="pagination__group"><a href="#0" class="r-link pagination__point">5</a></li>
        <li class="pagination__group"><a href="#0" class="r-link pagination__point">6</a></li>
        <a href="#0" class="r-link pagination__control">
          <span class="pagination__control-text">next</span>
          <span class="pagination__symbol pagination__next-symbol" aria-hidden="true">→</span></a>
      </nav>
      </ol>

  </div>

  <div w3-include-html="footer.html"></div>
  <script>
    includeHTML();
  </script>

</body>

</html>
