<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div layout:fragment="content" >
</br></br></br></br>
</br></br></br></br>
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" type="text/css" href="/css/BoardCreated.css">


  <article class="search2">

    <h2>Q & A 게시판</h2>
    
    <div>
      <form action="" method="post" name="searchForm">
	  <h4>Search</h4>
	  <select name="searchKey" >
	    <option value="subject">제목</option>
	    <option value="userId">작성자</option>
	    <option value="content">내용</option>
	  </select>

	  <input type="text" name="searchValue">
	   <img onclick="submit();" src="https://cdn.pixabay.com/photo/2016/03/31/19/14/magnifying-glass-1294834_1280.png" >
	  </form>

       
      <button style="margin-top: 10px; " class="black-btn float-r m-btn" onclick="location='/Board.action'">
      등록</button>
      
      </div>

  </article>

  <div class="wrapper">
    <div class="city-list-header heading" >
      <span class="weather-header-details">번호</span>
      <span class="weather-header-details">작성자</span>
      <span class="weather-header-details">작성일</span>
      <span class="weather-header-details">조회수</span>
      <span class="weather-header-details" style="margin-left: 20px">제목</span>
    </div>
    
    
      <summary>
        <div class="city-list-header" th:if="${#lists.size(lists)}>0" th:each="dto:${lists}" >
          <span style="margin-left: 20px" class="weather-header-details" >[[${dto.boardId}]]</span>
          <span  class="weather-header-details" th:text="${dto.userId}" >작성자</span>
          
          <span  class="weather-header-details" th:if="${dto.fix_created} == ${dto.created}" 
          th:text="${#strings.length(dto.created) > 10 ? #strings.substring(dto.created, 0, 10) + '.' : dto.created}" >
          작성일</span>
          
          <span  class="weather-header-details" th:if="${dto.fix_created} != ${dto.created}" 
          th:text="${#strings.length(dto.fix_created) > 10 ? #strings.substring(dto.fix_created, 0, 10) + '.' : dto.fix_created}">
          수정일</span>
          
          <span  class="weather-header-details" th:text="${dto.hitCount}" style="margin-left: 50px">조회수</span>
          <a th:href="@{|${articleUrl}&num=@{${dto.boardId}}|}" style="margin-bottom: 20px; margin-right: 40px">
			<span  class="weather-header-details" 
				th:text="${#strings.length(dto.subject) > 10 ? #strings.substring(dto.subject, 0, 10) + '...' : dto.subject}" 
			    th:href="@{|${articleUrl}&num=@{${dto.boardId}}|}">제목</span> 
		  </a>
		  
        </div>
        
      </summary>
      
  </div>

  <div style="text-align: center;">
	<a th:if="${pageIndexList != null}" th:utext="${pageIndexList}"></a>
	<a th:if="${pageIndexList == null or pageIndexList == ''}">등록된 게시물이 없습니다.</a>
  </div>
  

  <article class="notice">
    <h2>고객센터</h2>
    <div>
      <div>
        <div>
          <h4><strong>공지사항</strong></h4>
          <h5>전체보기</h5>
        </div>
        <div>
          <h5>네이버 알림 서비스 안내</h5>
          <h5>2020.06.20</h5>
        </div>
        <div>
          <h5>구매 안전 서비스 안내</h5>
          <h5>2020.05.25</h5>
        </div>
        <div>
          <h5>코로나 관련 배송 안내 사항</h5>
          <h5>2020.04.12</h5>
        </div>
        <div>
          <h5>일룸 이벤트 당첨자</h5>
          <h5>2020.04.10</h5>
        </div>
        <div>
          <h5>고객센터관련 업무사항</h5>
          <h5>2020.04.01</h5>
        </div>

      </div>
      
      <div>
        <div>
          <h3>1577-5670</h3>
          <p>업무시간<br>
            평일 10:00 ~ 18:00 (점심시간 11:50~13:00)<br>
            토.일.공휴일은 휴무입니다.<br>

            통화량이 많아 연결이 어려우신 경우 게시판으로
            문의주시면 빠른 답변 도움 드리겠습니다.
          </p>
        </div>
        <div>
          <h3>매장 전화문의</h3>
          <p>매장에서 구매하신 제품의 배송문의, 주문내용 변경 등은 해당 대리점에서 문의 가능합니다.
            매장 운영시간은 매장 안내에서 확인하실 수 있습니다.
          </p>
        </div>
      </div>

    </div>
  </article>


</div>

</html>
