<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div layout:fragment="content" >
</br></br></br></br>
</br></br></br></br>
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" type="text/css" href="/css/BoardCreated.css">



  <article class="search2">

    <h2>Q & A 게시판</h2>
    
    <div>
      <form action="" method="post" name="searchForm">
	  <h4>Search</h4>
	  <select name="searchKey" >
	    <option value="subject">제목</option>
	    <option value="userId">작성자</option>
	    <option value="content">내용</option>
	  </select>

	  <input type="text" name="searchValue">
	   <img onclick="submit();" src="https://cdn.pixabay.com/photo/2016/03/31/19/14/magnifying-glass-1294834_1280.png" >
	  </form>
<!-- <img src="https://cdn.pixabay.com/photo/2016/03/31/19/14/magnifying-glass-1294834_1280.png" style="margin-left: 820px" onclick="sendIt();"> -->

       
      <button style="margin-top: 10px; " class="black-btn float-r m-btn" onclick="location='/Board.action'">
      등록</button>
      </div>

  </article>

  <div class="wrapper">
    <div class="city-list-header heading" >
      <span  style="margin-left: 0px;" class="weather-header-details">번호</span>
      <span  style="margin-left: 50px;" class="weather-header-details">작성자</span>
      <span  style="margin-left: 50px;" class="weather-header-details">작성일</span>
      <span  style="margin-left: 50px;" class="weather-header-details">조회수</span>
      <span  style="margin-left: 50px;" class="weather-header-details">제목</span>
    </div>
    
    
      <summary>
        <div class="city-list-header" th:if="${#lists.size(lists)}>0" th:each="dto:${lists}" >
          <span style="margin-left: 20px;" class="weather-header-details">[[${dto.boardId}]]</span>
          <span style="margin-left: 30px;" class="weather-header-details" th:text="${dto.userId}">작성자</span>
          <span style="margin-right: 80px;" class="weather-header-details" th:text="${dto.created}" 
          th:if="${dto.fix_created} == ${dto.created} ">작성일</span>
          <span style="margin-right: 80px;" class="weather-header-details" th:text="${dto.fix_created}" 
          th:if="${dto.fix_created} != ${dto.created} ">수정일</span>
          <span style="margin-right: 10px;" class="weather-header-details" th:text="${dto.hitCount}">조회수</span>
          <a th:href="@{|${articleUrl}&num=@{${dto.boardId}}|}" style="margin-bottom: 30px;">
	          <span style="margin-right: 110px;" class="weather-header-details" 
	          th:text="${dto.subject}" th:href="@{|${articleUrl}&num=@{${dto.boardId}}|}">
	          제목                    
	          </span>
		<!--  <span style="margin-right: 110px;" class="weather-header-details" 
				    th:text="${#strings.length(dto.subject) > 20 ? #strings.substring(dto.subject, 0, 20) + '...' : dto.subject}" 
				    th:href="@{|${articleUrl}&num=@{${dto.boardId}}|}">
				    제목                    
			  </span> -->
	          
		  </a>
		  
		 	
        </div>
        
      </summary>
      
  </div>

  <div style="text-align: center;">
	<a th:if="${pageIndexList != null}" th:utext="${pageIndexList}"></a>
	<a th:if="${pageIndexList == null or pageIndexList == ''}">등록된 게시물이 없습니다.</a>
  </div>
  

<div class="container product_detail">
	<div class="in_box"><!--in_box S-->
		
		
		<div class="content">
		
			<div class="tab_content">		
				
				<div class="tab_box">
					<p class="tit">배송/반품/교환</p>

					<div class="notice_box">
						<p class="tit">구매 시 주의사항</p>
						<div class="sub_txt">
							<p>- 본 구매상품은 째깍악어 앱에서 등록하여 사용이 가능합니다.</p>
							<p>- 수신자정보를 잘못 입력하여 타인이 코드를 기사용한 경우, 소비자 과실로 간주되어 환불이 불가합니다.</p>
							<p>- 구매한 상품권에 대한 기타 문의는 고객센터로 문의 바랍니다.</p>
						</div>

						<p class="tit">주문 이후 예상되는 배송기간</p>
						<div class="sub_txt">
							<p>- 실물카드(10만원권)의 경우 대금 지급일로부터 3일 이내 발송, 7일 이내 배송완료</p>
							<p>- 모바일 이용권(3만원, 5만원, 10만원권)의 경우 결제 완료 후 1일 이내 문자메시지로 발송완료</p>
						</div>

						<p class="tit">반품/교환 사유에 따른 요청 가능 기간</p>
						<div class="sub_txt">
							<p>- 코드가 노출되지 않은 미사용 실물카드에 한하여 구매일 포함7일까지 구매취소가 가능합니다.</p>
							<p>- 실물카드 결함으로 인해 사용할 수 없거나 잔액이 액면가의 40% 이하인 경우에만 째깍악어 앱을 통해 환불이 가능합니다.</p>
						</div>

						<p class="tit">반품/교환 안내</p>
						<div class="sub_txt">
							<p>- 판매자 지정택배사 : CJ대한통운(1588-1255 유선접수 또는 홈페이지 접수)</p>
							<p>- 보내실 곳 : 서울특별시 성동구 성수일로12길 20, 502호(성수동, 성동안심상가)</p>
							<p>- 상품 불량과 같은 자사 과실로 발생된 반품일 경우 무료 처리 가능하며, 그 외의 사유는 단순변심으로 배송비 발생</p>
							<p>- 반품 배송비는 환불 시 차감 후 처리되어 별도의 동봉 및 입금은 진행하지 않으며, 고객 직접 발송 시 착불로 발송처리</p>
						</div>

						<p class="tit">반품/교환 불가능 사유</p>
						<div class="sub_txt">
							<p>- 반품요청기간이 지난 경우</p>
							<p>- 구매자의 책임 있는 사유로 상품 등이 훼손된 경우 (상품의 내용을 확인하기 위하여 포장을 훼손한 경우는 제외)</p>
							<p>- 구매자의 사용에 의하여 상품의 가치가 감소한 경우</p>
							<p>- 시간의 경과에 의하여 재판매가 곤란할 정도로 상품의 가치가 감소한 경우</p>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div><!--in_box E-->
</div><!--container E-->





  <article class="notice">
    <h2>고객센터</h2>
    <div>
      <div>
        <div>
          <h4><strong>공지사항</strong></h4>
          <h5>전체보기</h5>
        </div>
        <div>
          <h5>네이버 알림 서비스 안내</h5>
          <h5>2020.06.20</h5>
        </div>
        <div>
          <h5>구매 안전 서비스 안내</h5>
          <h5>2020.05.25</h5>
        </div>
        <div>
          <h5>코로나 관련 배송 안내 사항</h5>
          <h5>2020.04.12</h5>
        </div>
        <div>
          <h5>일룸 이벤트 당첨자</h5>
          <h5>2020.04.10</h5>
        </div>
        <div>
          <h5>고객센터관련 업무사항</h5>
          <h5>2020.04.01</h5>
        </div>
        
        
      </div>
      <div>
        <div>
          <h3>1577-5670</h3>
          <p>업무시간<br>
            평일 10:00 ~ 18:00 (점심시간 11:50~13:00)<br>
            토.일.공휴일은 휴무입니다.<br>

            통화량이 많아 연결이 어려우신 경우 게시판으로
            문의주시면 빠른 답변 도움 드리겠습니다.
          </p>
        </div>
        <div>
          <h3>매장 전화문의</h3>
          <p>매장에서 구매하신 제품의 배송문의, 주문내용 변경 등은 해당 대리점에서 문의 가능합니다.
            매장 운영시간은 매장 안내에서 확인하실 수 있습니다.
          </p>
        </div>
      </div>


    </div>
  </article>


 

</div>

</html>
