<!DOCTYPE html>
<html lang="en" class="no-js">
<head>   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<link rel="stylesheet" href="css/BoardCreated.css">
        
</head>


<body>

<div class="container product_detail">
	<div class="in_box"><!--in_box S-->
		
		
		<div class="content">
		
			<div class="tab_content">
				

				<div class="tab_box">
					<p class="tit">상품문의</p>
					
					<div class="ask_box">
						<p><label>이메일주소</label> <input type="text" placeholder="답변메일을 받을 이메일주소를 입력해주세요."> </p>
						<p><label>문의내용</label> <textarea placeholder="문의내용을 입력해주세요."></textarea> </p>
						
						<div class="btn_box">
							<button class="black-btn float-r m-btn">문의 보내기</button>
						</div>
					
					</div>
					
				</div>
				
				<div class="tab_box">
					<p class="tit">배송/반품/교환</p>

					<div class="notice_box">
						<p class="tit">구매 시 주의사항</p>
						<div class="sub_txt">
							<p>- 본 구매상품은 째깍악어 앱에서 등록하여 사용이 가능합니다.</p>
							<p>- 수신자정보를 잘못 입력하여 타인이 코드를 기사용한 경우, 소비자 과실로 간주되어 환불이 불가합니다.</p>
							<p>- 구매한 상품권에 대한 기타 문의는 고객센터로 문의 바랍니다.</p>
						</div>

						<p class="tit">주문 이후 예상되는 배송기간</p>
						<div class="sub_txt">
							<p>- 실물카드(10만원권)의 경우 대금 지급일로부터 3일 이내 발송, 7일 이내 배송완료</p>
							<p>- 모바일 이용권(3만원, 5만원, 10만원권)의 경우 결제 완료 후 1일 이내 문자메시지로 발송완료</p>
						</div>

						<p class="tit">반품/교환 사유에 따른 요청 가능 기간</p>
						<div class="sub_txt">
							<p>- 코드가 노출되지 않은 미사용 실물카드에 한하여 구매일 포함7일까지 구매취소가 가능합니다.</p>
							<p>- 실물카드 결함으로 인해 사용할 수 없거나 잔액이 액면가의 40% 이하인 경우에만 째깍악어 앱을 통해 환불이 가능합니다.</p>
						</div>

						<p class="tit">반품/교환 안내</p>
						<div class="sub_txt">
							<p>- 판매자 지정택배사 : CJ대한통운(1588-1255 유선접수 또는 홈페이지 접수)</p>
							<p>- 보내실 곳 : 서울특별시 성동구 성수일로12길 20, 502호(성수동, 성동안심상가)</p>
							<p>- 상품 불량과 같은 자사 과실로 발생된 반품일 경우 무료 처리 가능하며, 그 외의 사유는 단순변심으로 배송비 발생</p>
							<p>- 반품 배송비는 환불 시 차감 후 처리되어 별도의 동봉 및 입금은 진행하지 않으며, 고객 직접 발송 시 착불로 발송처리</p>
						</div>

						<p class="tit">반품/교환 불가능 사유</p>
						<div class="sub_txt">
							<p>- 반품요청기간이 지난 경우</p>
							<p>- 구매자의 책임 있는 사유로 상품 등이 훼손된 경우 (상품의 내용을 확인하기 위하여 포장을 훼손한 경우는 제외)</p>
							<p>- 구매자의 사용에 의하여 상품의 가치가 감소한 경우</p>
							<p>- 시간의 경과에 의하여 재판매가 곤란할 정도로 상품의 가치가 감소한 경우</p>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div><!--in_box E-->
</div><!--container E-->

		
		

    </body>
    
</html>
