<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div layout:fragment="content" >
<!-- 전체 디자인 -->
<link rel="stylesheet" href="/css/board.css">
<!-- 버튼용 -->
<link rel="stylesheet" type="text/css" href="/css/BoardCreated.css">

</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
<!-- http://192.168.16.16:8080/boardlist.action -->
<h2  style="text-align: center;">게시글 상세내용</h2>
</br></br>
<!-- th:text="${dto.num}" 값이안들어감 -->

<article>
<section id="detail-wrap">
  <table id="board-detail">
    <colgroup>
      <col width="15%"/>
      <col width="35%"/>
      <col width="15%"/>
      <col width="35%"/>
    </colgroup>
   
    <tbody>
      <tr>
        <th>글 번호 :</th>
        <td>[[${dto.num}]]</td>
        <th>조회수 :</th>
        <td>[[${dto.hitCount}]]</td>
      </tr>
      <tr>
        <th>작성자 :</th>
        <td>[[${dto.name}]]</td>
        <th>작성일 :</th>
        <td>[[${dto.created}]]</td>
      </tr>
      <tr>
        <th>제목 :</th>
        <td colspan="3">[[${dto.subject}]]</td>
      </tr>
      <tr>
      	<th>내용 :</th>
        <td colspan="4">[[${dto.content}]]</td>
      </tr>

    </tbody>
    
  </table>
  
  <div style="margin-top: 20px; margin-right: 100px;">
  <button  class="black-btn float-r m-btn" 
  th:onclick="@{|location='/boardupdated.action?num=${dto.num }&${params }'|}">
  수정</button>
  <button class="black-btn float-r m-btn" 
  th:onclick="'location.href=\'boarddeleted_ok.action?num=' + @{${dto.num}} + '&' + @{${params}} + '\''">
  삭제</button>
  <button class="black-btn float-r m-btn" 
  th:onclick="@{|location.href='/boardlist.action?${params }'|}">
  리스트</button>
  </div>
  
</section>  
  
</article>



<!-- <textarea rows="12" cols="82" name="content"
						style="padding-left: 20px; border: none; resize: none; background-color: #ffffff;"
						class="boxTA" th:text="${dto.content}" disabled="disabled"></textarea>
				 -->	



</div>

</html>