<html layout:decorate="~{layout}">
<meta charset="UTF-8">

<div layout:fragment="content3" >

<div class="container product_detail">
	<div class="in_box"><!--in_box S-->
			
		<div class="content">
		
			<div class="tab_content">

				<div class="tab_box">
					<p class="tit" style="text-align: center;">Q&A 게시판 수정</p>
					</br></br>
					<form action="" method="post" name="myForm">
					
					<div class="ask_box">
						<p>
						<label>제&nbsp;목</label> 
						<input type="text"  name="subject" placeholder="제목를 입력해주세요."> 
						</p>
						<p>
						<label>작성자</label> 
						<input type="text"  name="name" placeholder="작성자를 입력해주세요."> 
						</p>
						<p>
						<label>이메일</label> 
						<input type="text"  name="email" placeholder="이메일주소를 입력해주세요."> 
						</p>
						
						<p>
						<label>내용</label> 
						<textarea name="content" placeholder="내용을 입력해주세요."></textarea> 
						</p>
						
						<div class="btn_box">
							<button class="black-btn float-r m-btn" onclick="#">수정하기</button>
						</div>
						
						<div class="btn_box">
							<button class="black-btn float-r m-btn" th:onclick="@{|location='/list.action?${params }'|}">수정취소</button>
						</div>
					
					</form>
					</div>
					
				</div>
				
			</div>
		</div>

	</div><!--in_box E-->
</div><!--container E-->
</br></br>

</div>

<script type="text/javascript">

	//function sendIt() =>{} 화살표 함수
	const sendIt = () => {
		alert("김치------------------------------");
	
		var f = document.myForm;
		
		str = f.subject.value;
		//str = str.trim();
		if(!str){
			alert("\n제목을 입력하세요.");
			f.subject.focus();
			return;
		}
		f.subject.value = str;
		
		str = f.name.value;
		//str = str.trim();
		if(!str){
			alert("\n작성자을 입력하세요.");
			f.name.focus();
			return;
		}
				
			
		f.name.value = str;
		
		/* if(f.email.value){
			if(!isValidEmail(f.email.value)){
				alert("\n정상적인 E-Mail을 입력하세요.");
				f.email.focus();
				return;
			}
		} */
		
		str = f.content.value;
		//str = str.trim();
		if(!str){
			alert("\n내용을 입력하세요.");
			f.content.focus();
			return;
		}
		f.content.value = str;
		
		
		
		f.action = "/boardupdated.action";
		f.submit();
		
	}

</script>

</html>
