<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div layout:fragment="content" >
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<link rel="stylesheet" href="/css/board.css"/>
<link rel="stylesheet" type="text/css" href="/css/BoardCreated.css"/>


  <article class="search2">

    <h2>Q & A 게시판</h2>
    
    <div>
      <form action="" method="post" name="searchForm">
	  <h4>Search</h4>
	  <select name="searchKey" >
	    <option value="subject">제목</option>
	    <option value="userId">작성자</option>
	    <option value="content">내용</option>
	  </select>

	  <input type="text" name="searchValue">
	   <img onclick="submit();" src="https://cdn.pixabay.com/photo/2016/03/31/19/14/magnifying-glass-1294834_1280.png" >
	  </form>

      <button style="margin-top: 10px; " class="black-btn float-r m-btn" onclick="location='/Board.action'"
		th:if="${session.user!=null || session.OauthUser!=null}" >
      등록</button>
      
      </div>

  </article>

  <div class="wrapper">
    <div class="city-list-header heading" >
      <span class="weather-header-details">번호</span>
      <span class="weather-header-details">작성자</span>
      <span class="weather-header-details">작성일</span>
      <span class="weather-header-details">조회수</span>
      <span class="weather-header-details" style="margin-left: 20px">제목</span>
    </div>
    
      <summary>
        <div class="city-list-header" th:if="${#lists.size(lists)}>0" th:each="dto,loop:${lists}"  >
          <span  class="weather-header-details" style="padding-left: 3%;" th:text="${dataCount - (start + loop.index-1)}"></span>
          
          <span class="weather-header-details" 
          th:text="${#strings.length(dto.userId) > 10 ? #strings.substring(dto.userId, 0, 10) + '..' : dto.userId}" style="width: 100%;">작성자</span>
        
          <a style="text-align: center; margin: auto;">
          <span  class="weather-header-details" th:if="${dto.fix_created} == ${dto.created}" 
          th:text="${#strings.length(dto.created) > 10 ? #strings.substring(dto.created, 0, 10) + '.' : dto.created}" >
          작성일</span>
        
          <span  class="weather-header-details" th:if="${dto.fix_created} != ${dto.created}" 
          th:text="${#strings.length(dto.fix_created) > 10 ? #strings.substring(dto.fix_created, 0, 10) + '.' : dto.fix_created}">
          수정일</span>
          </a>
        
          <a style=" text-align: center; margin: auto; padding-right: 10%;">
          <span  class="weather-header-details" th:text="${dto.hitCount}" style="">조회수</span>
          </a>
          
          <a th:href="@{|${articleUrl}&num=${dto.boardId}|}" style="width: 20%;">
			<span class="weather-header-details" th:text="${#strings.length(dto.subject) > 10 ? #strings.substring(dto.subject, 0, 10) + '...' : dto.subject}" >
			제목</span> 
		  </a>
		  
        </div>
        
      </summary>
      
  </div>

  <div style="text-align: center;">
	<a th:if="${pageIndexList != null}" th:utext="${pageIndexList}"></a>
	<a th:if="${pageIndexList == null or pageIndexList == ''}">등록된 게시물이 없습니다.</a>
  </div>
  
</div>

</html>
