<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="css/BookCreated.css">
<style type="text/css">

.alert_box {

	font-size: 15px;
	color: green;
	display: none;

}

</style>
</head>
<body>

<h1>Board</h1>

<h3>책 등록하기</h3>

<div style="padding-left: 23%; width: 60%;">

<form action="" name="myBookItem" method="POST" enctype="multipart/form-data">
<!-- form의 기본 method는 get이다 post로 할꺼면 post라고 적어야됨 -->
제목
<input type="text" name="title_Nm" id="title_Nm" class="value_box"  placeholder="제목을 입력하세요.">
<div id="title_alert" class="alert_box"></div><br/>

저자
<input type="text" name="authr_Nm" id="authr_Nm" class="value_box" placeholder="저자를 입력하세요.">
<div id="authr_alert" class="alert_box"></div><br/>

출판사명
<input type="text" name="publisher_Nm" id="publisher_Nm" class="value_box" placeholder="출판사명을 입력하세요.">
<div id="publisher_alert" class="alert_box"></div><br/>

카테고리
<input type="text" name="kdc_Nm" id="kdc_Nm" class="value_box" placeholder="카테고리 번호를 입력하세요.">
<div id="kdc_alert" class="alert_box"></div><br/>

가격
<input type="text" name="prc_Value" id="prc_Value" class="value_box" placeholder="가격을 입력하세요.">
<div id="prc_alert" class="alert_box"></div><br/>

일련번호
<input type="text" name="isbn_Thirteen_No" id="isbn_Thirteen_No" class="value_box" placeholder="일련번호를 입력하세요.">
<div id="isbn_alert" class="alert_box"></div><br/>

출판일자<br/><br/>
<input type="date" name="pblicte_De" id="pblicte_De" class="value_box" placeholder="출판일자를 입력하세요.">
<div id="pblicte_alert" class="alert_box"></div><br/>

<textarea name="book_Intrcn_Cn" id="book_Intrcn_Cn"  placeholder="책 설명을 입력하세요." style="margin-top: 20px;"></textarea>
<div id="Intrcn_alert" class="alert_box"></div><br/>

<div style="margin-bottom: 15px;">
<input type="file" name="upload" id="upload">
</div>
<div id="upload_alert" class="alert_box"></div><br/>

<div>
	<button class="btn-555" id="sendBookItem" type="button">등록하기</button>
</div>

</form>

</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="text/javascript">

var f = document.myBookItem;

$("#sendBookItem").click(function(){
	
	if($("#title_Nm").val()==""){
		
		title_alert = document.getElementById("title_alert");//var 안 적으면 전역변수로 빠짐
		
		title_alert.innerHTML = "제목을 입력해주세요";
		
		title_alert.style.display = "block";
		
		$("#title_Nm").focus();
		
		return;
		
	}
	
	if($("#authr_Nm").val()==""){
		
		authr_alert = document.getElementById("authr_alert");
		
		authr_alert.innerHTML = "저자를 입력해주세요";
		
		authr_alert.style.display = "block";
		
		$("#authr_Nm").focus();
		
		return;
		
	}
	
	if($("#publisher_Nm").val()==""){
		
		publisher_alert = document.getElementById("publisher_alert");
		
		publisher_alert.innerHTML = "출판사를 입력해주세요";
		
		publisher_alert.style.display = "block";
		
		$("#publisher_Nm").focus();
		
		return;
		
	}
	
	if($("#kdc_Nm").val()==""){
		
		kdc_alert = document.getElementById("kdc_alert");
		
		kdc_alert.innerHTML = "카테고리를 입력해주세요";
		
		kdc_alert.style.display = "block";
		
		$("#kdc_Nm").focus();
		
		return;
		
	}
	
	if($("#prc_Value").val()==""){
		
		prc_alert = document.getElementById("prc_alert");
		
		prc_alert.innerHTML = "가격을 입력해주세요";
		
		prc_alert.style.display = "block";
		
		$("#prc_Value").focus();
		
		return;
		
	}
	
	if($("#isbn_Thirteen_No").val()==""){
		
		isbn_alert = document.getElementById("isbn_alert");
		
		isbn_alert.innerHTML = "일련번호를 입력해주세요";
		
		isbn_alert.style.display = "block";
		
		$("#isbn_Thirteen_No").focus();
		
		return;
		
	}
	
	if($("#pblicte_De").val()==""){
		
		pblicte_alert = document.getElementById("pblicte_alert");
		
		pblicte_alert.innerHTML = "출판일자를 입력해주세요";
		
		pblicte_alert.style.display = "block";
		
		$("#pblicte_De").focus();
		
		return;

	}
	
	if($("#book_Intrcn_Cn").val()==""){
		
		Intrcn_alert = document.getElementById("Intrcn_alert");
		
		Intrcn_alert.innerHTML = "책 설명을 입력해주세요";
		
		Intrcn_alert.style.display = "block";
		
		$("#book_Intrcn_Cn").focus();
		
		return;
		
	}else if($("#book_Intrcn_Cn").val().length > 500){
		
		Intrcn_alert = document.getElementById("Intrcn_alert");
		
		Intrcn_alert.innerHTML = "책 설명은 최대 500자 입니다";
		
		Intrcn_alert.style.display = "block";
		
		$("#book_Intrcn_Cn").focus();
		
		return;
		
	}
	
	if($("#upload").val()==""){
		
		upload_alert = document.getElementById("upload_alert");
		
		upload_alert.innerHTML = "파일을 업로드 해주세요";
		
		upload_alert.style.display = "block";
		
		$("#upload").focus();
		
		return;
		
	}
	
	alertSubmit();
	
	/* f.action = "/BookCreated.action";
	
	alert("책이 등록되었습니다");
	
	f.submit(); */

});

//값 들어가면 경고문 지우기

$("#title_Nm").change(function(){
	
	title_alert.style.display = "none";

});

$("#authr_Nm").change(function(){
	
	authr_alert.style.display = "none";
	
});

$("#publisher_Nm").change(function(){
	
	publisher_alert.style.display = "none";

});

$("#kdc_Nm").change(function(){
	
	kdc_alert.style.display = "none";

});

$("#prc_Value").change(function(){
	
	prc_alert.style.display = "none";

});

$("#isbn_Thirteen_No").change(function(){
	
	isbn_alert.style.display = "none";

});

$("#pblicte_De").change(function(){
	
	pblicte_alert.style.display = "none";

});

$("#book_Intrcn_Cn").change(function(){
	
	Intrcn_alert.style.display = "none";

});

$("#upload").change(function(){
	
	upload_alert.style.display = "none";

});

//등록하시겠습니까? 디자인
		
function alertSubmit(){

	Swal.fire({
		  title: '등록하시겠습니까?',
		  icon: 'question',
		  iconHtml: '?',
		  confirmButtonText: '확인',
		  cancelButtonText: '취소',
		  showCancelButton: true,
		  showCloseButton: true
		}).then((result)=>{
			
			if(result.value){
				
				f.action = "/BookCreated.action";
				
				f.submit();
				
			}
			
		});

}

</script>

</html>