<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 밑의내용부터 content layout에 들어가니깐 이 내용이 charset=UTF-8라는 걸 적어야 한글이 안깨짐 -->
<div layout:fragment="content">

<link rel="stylesheet" type="text/css" href="css/BookList.css">

<script type="text/javascript" src="/js/ajaxUtil.js"></script>
<script type="text/javascript">

function sendBag(seq_No){
	
	if(seq_No==""){
		
		return;
	}
	
	var params = "seq_No=" + seq_No;
	
	sendRequest("/selectItem.action",params,returnBag,"POST");
	
}

function returnBag(){
	
	if(httpRequest.readyState==4){
		
		if(httpRequest.status==200){
			
			var text = httpRequest.responseText;
			var resultText = JSON.parse(text);
			var count = Object.keys(resultText.lists).length;
	
			
			for(var i=0;i<count;i++){
				
				var like = document.getElementById(resultText.lists[i].seq_No);
				like.innerHTML="장바구니 담김";
			}
			
		}
		
	}
	
}

function sendAllItem(){
	
	var params = null;
	sendRequest("/allItem.action",params,returnBag,"POST");
	
}

window.onload = function(){
	
	sendAllItem();
	
}


</script>

</br></br></br></br>
</br></br></br></br>

<div class="BookList-container" th:each="i : ${#numbers.sequence(0,2)}" th:if="${#lists.size(lists)}>0">
	<div class="BookList-row" th:each="j : ${#numbers.sequence(0,2)}">
		
		<div class="BookList-img-box" th:each="dto: ${lists[3*i+j]}"> 
			
			<a th:href="@{${articleUrl}} + '&seq_No=' + @{${dto.seq_No}}">
			<img alt="" th:src="@{${dto.image_Url}}"></a><br/>
			
			<span>[[${dto.title_Nm}]]</span><br/>
			<span>[[${dto.authr_Nm}]]</span><br/>
			<span>출판사:[[${dto.publisher_Nm}]]</span><br/>
			<span>가격:[[${dto.prc_Value}]]원</span><br/>
			<a th:onclick="|javascript:sendBag('${dto.seq_No}')|">찜</a>
			<div th:id="${dto.seq_No}"></div>
		</div>
		
		
		
	</div>
</div>

</br></br></br>

<div style="text-align: right; margin-right: 200px;">
	<button th:onclick="|location.href='@{BookCreated.action}'|">등록하기</button>
</div>

<br/>
<div style="text-align: center;">
<a th:utext="${pageIndexList}"></a>
</div>

</div>
</html>