<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<link rel="stylesheet" type="text/css" href="css/BookCreated.css">

<script type="text/javascript">

	function createdBookItem() {
		
		var f = document.myBookItem;
		
		alert("등록에 성공하셨습니다.");
		
		f.action = "/BookCreated.action";
		f.submit();
		
	}

</script>

<h1>Board</h1>

<h3>책 등록하기</h3>

<div style="width: 50%; margin-left: 450px;">

<form action="" name="myBookItem" method="POST" enctype="multipart/form-data">
<!-- form의 기본 method는 get이다 post로 할꺼면 post라고 적어야됨 -->
제목
<input type="text" name="title_Nm" placeholder="title_Nm 입력하세요.">
저자
<input type="text" name="authr_Nm" placeholder="authr_Nm 입력하세요.">
출판사명
<input type="text" name="publisher_Nm" placeholder="publisher_Nm 입력하세요.">
카테고리
<input type="text" name="kdc_Nm" placeholder="kdc_Nm 입력하세요.">
가격
<input type="text" name="prc_Value" placeholder="prc_Value 입력하세요.">
일련번호
<input type="text" name="isbn_Thirteen_No" placeholder="isbn_Thirteen_No 입력하세요.">

<textarea name="book_Intrcn_Cn"  placeholder="book_Intrcn_Cn 입력하세요."></textarea>

<div style="margin-bottom: 15px;">
<input type="file" name="upload">
</div>

<div>
	<button class="btn-555" onclick="createdBookItem();">등록하기</button>
</div>

</form>

</div>


</body>
</html>