<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 밑의내용부터 content layout에 들어가니깐 이 내용이 charset=UTF-8라는 걸 적어야 한글이 안깨짐 -->
<div layout:fragment="content" >

<link rel="stylesheet" type="text/css" href="css/BookList.css">
<style>

.searchResult_box{

	text-align: center;
	margin-bottom: 100px;
	font-size: 25px;
	font-weight: bold;
	color: blue;
	
}

</style>

<script type="text/javascript" src="/js/ajaxUtil.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


<br/><br/><br/><br/>
<br/><br/><br/><br/>

<!-- 왜 string 타입의 null이라는 글자가 들어갔을까 -->
<div th:if="${searchKey}=='null'" class="searchResult_box">해당 게시물은 존재하지 않습니다</div>

<div th:if="${searchValue != '' and searchKey == 'title_Nm'}" class="searchResult_box">'[[${searchValue}]]'로 검색한 결과 [[${dataCount}]]개가 검색되었습니다.</p></div>

<div class="BookList-container" th:each="i : ${#numbers.sequence(0,2)}" th:if="${#lists.size(lists)}>0">
	<div class="BookList-row" th:each="j : ${#numbers.sequence(0,2)}">
		
		<div class="BookList-img-box" th:each="dto: ${lists[3*i+j]}" style=" line-height: 1.8; "> 
			
			<a th:href="@{${articleUrl}} + '&seq_No=' + @{${dto.seq_No}}">
			<img alt="상품 준비중" th:src="@{${dto.image_Url}}"></a><br/><br/>
			
			<h5>[[${dto.title_Nm}]]</h5>
         <span>[[${dto.authr_Nm}]]</span><br/>
         <span>[[${dto.publisher_Nm}]]</span><br/>
         <span>가격: [[${#numbers.formatInteger(dto.prc_Value, 1,'COMMA')}]]원</span>
			
			
			<div th:id="${dto.seq_No}" >
			<a th:onclick="|javascript:sendBag('${dto.seq_No}')|"><button style="background-color: #fff; font-size: 20px;" type="button">🤍</button></a>
			</div>
			<div th:id="'delete' + ${dto.seq_No}" style="display: none;">
			<a th:onclick="|javascript:sendDeleteBag('${dto.seq_No}')|"><button style="background-color: #fff; font-size: 20px;" type="button">❤️</button></a>
			</div>
		
		</div>

	</div>
</div>

<br/>

<div style="text-align: right; margin-right: 200px;">
	<button th:if="${RULE == 'RULE_ADMIN'}" class="btn-555 float-r" th:onclick="|location.href='@{BookCreated.action}'|">등록하기</button>
</div>

<div style="text-align: center; padding-left: 5%;">
<a th:utext="${pageIndexList}"></a>
</div>
<br/><br/><br/><br/>

<script th:inline="javascript">

function sendBag(seq_No){
	
	if(seq_No==""){
		
		return;
	}
	if([[${session.OauthUser == null and session.user == null}]]){
		//session.user.userId 이건 비교할 수 없음 session.user는 비교가 됨
		//user가 없으면 애시당초 userId를 찾을 수가 없어서 에러가 남 그래서 딱 session.user까지만 비교를 해야 함
		
		alertLogin();

		
	}else if([[${session.OauthUser != null or session.user != null}]]){
		
		var params = "seq_No=" + seq_No;

		sendRequest("/insertItem.action",params,returnBag,"POST");
		//주의 : callback함수가 있으면 json형태로 값을 무조건 반환해주기 때문에 중간에 redirect같은 것이 안 됨
		
	}

}

function returnBag(){
	
	if(httpRequest.readyState==4){
		
		if(httpRequest.status==200){

			var text = httpRequest.responseText;
			var resultText = JSON.parse(text);
			var count = Object.keys(resultText.lists).length;

			for(var i=0;i<count;i++){

				showLike(resultText.lists[i].seq_No);
				
			}
		
		}
		
	}
	
}

function sendDeleteBag(seq_No){

	if(seq_No==""){
		
		return;
		
	}
	
	if([[${session.OauthUser == null and session.user == null}]]){
		
		alert("로그인이 만료되었습니다");
		
		window.location.href="/main";
		
	}else if([[${session.OauthUser != null or session.user != null}]]){
		
		var params = "seq_No=" + seq_No;
		
		sendRequest("/deleteItem.action",params,returnDeleteBag,"POST");
		
	}
	
}

function returnDeleteBag(){
	
	if(httpRequest.readyState==4){
		
		if(httpRequest.status==200){
			
			var text = httpRequest.responseText;
			var resultText = JSON.parse(text);
			
			hideLike(resultText.bagDTO.seq_No);

		}
		
	}
	
}

function sendAllItem(){
	
	if([[${session.OauthUser != null or session.user != null}]]){
		
		var params = null;
		
		sendRequest("/selectItem.action",params,returnBag,"POST");
		
	}

}

window.onload = function(){
	
	sendAllItem();
	//navbar.html 하이드 여기서 실행이 안됨 why? window.onload가 2번 겹쳐서 그럼  그래서 hide();를 여기서 써줌
	hide();
	
}

function showLike(seq_No) {

	var beforeItem = document.getElementById(seq_No);
	//beforeItem이 null값이 나오면 다음 단계로 진행이 안됨 그래서 if으로 걸러야됨
	if(beforeItem!=null){

		var d_No = "delete" + seq_No;
		
		beforeItem.style.display = "none";
		
		var afterItem = document.getElementById(d_No);
		afterItem.style.display = "block";
		
	}

}

function hideLike(seq_No) {
	
	var d_No = "delete" + seq_No;

	var beforeItem = document.getElementById(seq_No);
	beforeItem.style.display = "block";

	var afterItem = document.getElementById(d_No);
	afterItem.style.display = "none";
	
}

function alertLogin(){
	
	Swal.fire({
		  title: '로그인 후 이용해주세요',
		  icon: 'error',
		  iconHtml: 'X',
		  confirmButtonText: '확인',
		  cancelButtonText: '취소',
		  showCancelButton: true,
		  showCloseButton: true
		}).then((result)=>{
			
			if(result.value){
				
				window.location.href='/user/login';
				
			}
			
		});

}


</script>

</div>
</html>