

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>
<p th:if="${#lists.size(lists)}<=0">등록된 리뷰가 없습니다</p>
<table width="700" border="0" cellpadding="0" cellspacing="0" style="margin: auto;" 
th:unless="${#lists.size(lists)}<=0" th:each="dto: ${lists}">

<tr>
	<td colspan="2" bgcolor="#999999" height="1"></td>
</tr>

<tr height="30" bgcolor="#dbdbdb">
	<td width="300" style="padding-left: 10px;">
	<b>[[${dto.userId}]]</b>&nbsp;&nbsp;<b>[[${dto.reviewStar}]]</b>
	</td>
	<td width="300" align="right" style="padding-right: 10px;">
		[[${dto.created}]]&nbsp;
		<a th:href="'javascript:deleteReview(\'' + ${dto.reviewId} + '\', \'' + ${pageNum} + '\')'"
		th:if="${dto.userId == session.user.userId}">삭제</a>
	</td>
</tr>

<tr>
	<td height="50" style="padding-left: 10px;" colspan="2">
		[[${dto.content}]]
	</td>
</tr>

<tr>
	<td colspan="2" bgcolor="#dbdbdb" height="2">
	</td>
</tr>

</table>

<p th:utext="${pageIndexList}" style="text-align: center;"></p>
