<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script th:inline="javascript">

if([[${checkId}]]!=null){
	
	alert("이미 리뷰를 작성하셨습니다");
	
}

</script>

<body>

<p th:if="${#lists.size(lists)}<=0">등록된 리뷰가 없습니다</p>

<p>후기 [[${#lists.size(lists)}]]개&nbsp; 평점 : [[${#numbers.formatDecimal(avgStar, 1, 2)}]]점</p>

<table width="700" border="0" cellpadding="0" cellspacing="0" style="margin: auto;" 
th:unless="${#lists.size(lists)}<=0" th:each="dto: ${lists}">

	<div class="see-comments">
	  <section>
	    <div><img th:src="'/image/' + @{${dto.vip} + '.png'}" alt="확인"></div>
	    <div>
	      <p>
	        <b th:each="i : ${#numbers.sequence(0,dto.reviewStar-1)}">★</b>
	        <span>[[${dto.created}]] | [[${dto.userId}]]</span>
	       </p>
	       <p>
	        <span><a th:href="'javascript:deleteReview(\'' + ${dto.reviewId} + '\', \'' + ${pageNum} + '\')'" 
	        th:if="${session.user}!=null and ${session.user.userId} == ${dto.userId} or ${session.OauthUser}!=null and ${session.OauthUser.userId} == ${dto.userId} ">삭제</a></span>
	      </p>
	      
	      <p th:utext="${dto.content.replaceAll('(\r\n|\r|\n)', '<br/>')}"></p>
	    </div>
	    <div><img src="https://user-images.githubusercontent.com/112612653/189023767-c8fd2d91-9928-41bd-a758-b94befaafe23.png"></div>
	  </section>
	</div> 

</table>

<br/>

<div height="30" style="text-align: center;">
	<a th:utext="${pageIndexList}"></a>
</div>

<br/>

</body>
</html>