<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script th:inline="javascript">

if([[${checkId}]]!=null){
	
	alert("이미 리뷰를 작성하셨습니다");
	
}

</script>

<body>

<p th:if="${#lists.size(lists)}<=0">등록된 리뷰가 없습니다</p>

<p>후기 [[${#lists.size(lists)}]]개</p>

<table width="700" border="0" cellpadding="0" cellspacing="0" style="margin: auto;" 
th:unless="${#lists.size(lists)}<=0" th:each="dto: ${lists}">

	<!-- <div class="see-comments">		

		<section>
			<div> <img src="https://user-images.githubusercontent.com/112612653/189023768-c2387f31-2463-4198-9078-3e3eaa56f7a0.png" alt=""></div>
			<div>
				<p><b th:each="i : ${#numbers.sequence(0,dto.reviewStar-1)}">★</b>
				 [[${dto.created}]] | [[${dto.userId}]] | 
				<a th:href="'javascript:deleteReview(\'' + ${dto.reviewId} + '\', \'' + ${pageNum} + '\')'"
		th:if="${session.user}!=null and ${session.user.userId} == ${dto.userId}">삭제</a></p>
				
				<p>[[${dto.content}]]</p>
		session.user로 먼저 비교하고 이후 session.user.userId로 비교
			</div>
			<div><img src="https://user-images.githubusercontent.com/112612653/189023767-c8fd2d91-9928-41bd-a758-b94befaafe23.png"></div>
		</section>		
	</div> -->

	<div class="see-comments">
	  <section>
	    <div> <img src="https://user-images.githubusercontent.com/112612653/189023768-c2387f31-2463-4198-9078-3e3eaa56f7a0.png" alt=""></div>
	    <div>
	      <p>
	        <b th:each="i : ${#numbers.sequence(0,dto.reviewStar-1)}">★</b>
	        <span>[[${dto.created}]] | [[${dto.userId}]] </span>
	       </p>
	       <p>
	        <span><a th:href="'javascript:deleteReview(\'' + ${dto.reviewId} + '\', \'' + ${pageNum} + '\')'" 
	        th:if="${session.user}!=null and ${session.user.userId} == ${dto.userId} or ${session.OauthUser}!=null and ${session.OauthUser.userId} == ${dto.userId} ">삭제</a></span>
	      </p>
	      <p>[[${dto.content}]]</p>
	    </div>
	    <div><img src="https://user-images.githubusercontent.com/112612653/189023767-c8fd2d91-9928-41bd-a758-b94befaafe23.png"></div>
	  </section>
	</div> 

</table>

<br/>

<div height="30" style="text-align: center;">
	<a th:utext="${pageIndexList}"></a>
</div>

<br/>

</body>
</html>