<html layout:decorate="~{layout}">
<meta charset="UTF-8">


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
  <title>footer</title>
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

  <!-- Layer popup start -->
      <script language="JavaScript">
  <!--
  function setCookie( name, value, expiredays ) {
      var todayDate = new Date();
          todayDate.setDate( todayDate.getDate() + expiredays );
          document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
      }

  function closeWin() {
      if ( document.notice_form.chkbox.checked ){
          setCookie( "maindiv", "done" , 1 );
      }
      document.all['divpop'].style.visibility = "hidden";
  }
  //-->
  </script>
<!-- <div layout:fragment="foorterFragment" > -->
<div layout:fragment="footer" >
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>




 <footer>
    <div>
      <nav>
        <ul>
          <li> <a href="#">개인정보처리방침</a></li>
          <li> <a href="#">이용약관</a></li>
          <li> <a href="#">채용안내</a> </li>
          <li> <a href="#">찾아오시는 길</a> </li>
          <li> <a href="#">전화번호 안내</a> </li>
      </nav>
      <div>
        <p>(주)문학동네 | 10881 경기도 파주시 회동길 210 | 사업자번호 208-81-24906 | 대표자 : 염현숙, 김소영 | 이메일 : editor@munhak.com

          고객센터 전화번호 : 031-955-8888 | 사업자등록번호 : 208-81-24906 | 대표 이메일 : web@munhak.com
        </p>
      </div>
    </div>
  </footer>
  
</div>

</html>
