<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">

$(function(){
	
	var urlParams = new URLSearchParams(window.location.search);
	var pg_token = urlParams.get('pg_token');
	var tid = [[${tid}]];
	
	$("body").hide();
	 
	$.ajax({
		
		url:"https://kapi.kakao.com/v1/payment/approve",
		type:'POST',
		data:{
			'cid' : 'TC0ONETIME',
			'tid' : tid,
			'partner_order_id' : [[${orderId}]],
			'partner_user_id' : [[${user}]],
			'pg_token' : pg_token
		},
		headers:{
			'Authorization' : 'KakaoAK 051b33bdbbe0ba43924808b0a780bb6c',
			'Content-type' : 'application/x-www-form-urlencoded;charset=utf-8'
		},
		dataType:"json",
		success:function(data){
			
			
			$("#json").html(JSON.stringify(data))
			$("body").show();
		},
		error:function(error){
			
			alert(error);
		}
	});
	
	
	
});
</script>
<body>

ㅎㅇㅎㅇ 결제완료
<div id="json"></div>

<h3>구매한 책은 <span th:text="${#lists.size(lists)}"></span>권 입니당</h3>

</body>
</html>