<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="text/javascript">
$(function(){
	
	$("#button").click(function(){
		
		$.ajax({
		
			url:"/kakopay",
			dataType:"json",
			success:function(data){
				
				var url = data.next_redirect_pc_url;
				var tid = data.tid;
				
				window.location.href = '/ready?url='+url+'&tid='+tid;
			},
			error:function(error){
				
				alert(error);
			}
		});
	});
});
</script>
<body>

<h2>카카오페이 테스트</h2>

<input type="button" value="카카오페이" id="button">

<div th:text="${hi}"></div>


</body>
</html>