<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Spring Boot Board</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}">
<link rel="stylesheet" href="css/header.css"> 

<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- nav js -->
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- footer -->
<link rel="stylesheet" href="css/footer.css">



</head>
<body>
<!-- header -->
<nav th:replace="navbar :: navbarFragment"></nav>

<!-- content -->
<th:block layout:fragment="content"></th:block>

<!-- foorter -->
<th:block th:replace="footer :: footer"></th:block>

</body>
</html>