<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
  <title>book store</title>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<!-- 내가넣은거 -->
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
<form action="" method="post" name="myForm">
  <article class="login">
    <h1>Login</h1>
    <h2>환영합니다!<br/>book store입니다.</h2>

    <div class="content-box">

      <div>
        book store 통합 아이디로 로그인 하실 수 있습니다.<br/>
        <span th:if="${idAlert != null}" th:text="${idAlert}" style="color: black;"></span>
        <span th:if="${pwdAlert != null}" th:text="${pwdAlert}" style="color: black;"></span>
      </div>
      
      
      
      <div>
        <input type="text" placeholder="아이디를 입력해주세요." name="username" id="username">
      </div>

      <div>
        <input type="password" placeholder="비밀번호를 입력해주세요." name="password">
      </div>

      <div>
        <label>
        </label>
        <div>
          <a href="/user/findId">아이디 찾기</a>
          <a href="/user/findPwd">비밀번호 찾기</a>
        </div>
      </div>

      <button class="brown-btn" id="submitBtn">로그인</button>
      <a href="/user/member"><button class="white-btn" type="button">회원가입</button></a>
		
      <hr/>
	
	
      <div>
        <p>간편 로그인</p>
        <a href="/oauth2/authorization/google"><button class="white-btn" type="button"><img src="https://i.imgur.com/Y5lDbfv.png" alt="구글 로그인">구글 로그인</button></a>
        <a href="/oauth2/authorization/kakao"><button class="white-btn" type="button"><img src="https://i.imgur.com/do4jkuA.png" alt="카카오 로그인">카카오 로그인</button></a>
        <a href="/oauth2/authorization/naver"><button class="white-btn" type="button"><img src="https://i.imgur.com/rA3sTfG.png" alt="네이버 로그인">네이버 로그인</button></a>
      </div>

    </div>
  </article>
  <div style="text-align: center;">
  <a href="/main"><button type="button" style="width: 600px; font-weight: bold;">홈으로</button></a>
  </div>
</form>
</body>
