<html layout:decorate="~{layout}">
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: headLinkInit"> -->

<meta charset="UTF-8">


  <!-- Layer popup start -->
      <script language="JavaScript">
  <!--
  function setCookie( name, value, expiredays ) {
      var todayDate = new Date();
          todayDate.setDate( todayDate.getDate() + expiredays );
          document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
      }

  function closeWin() {
      if ( document.notice_form.chkbox.checked ){
          setCookie( "maindiv", "done" , 1 );
      }
      document.all['divpop'].style.visibility = "hidden";
  }
  //-->  
  
  </script>

<body>

<div layout:fragment="content" >
<!-- carousel 시작 -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%; height: 20%; top: 5%; padding-left: 3%; padding-right: 3%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <a href="/BookArticle.action?seq_No=11611">
      <img class="d-block w-100" src="https://www.munhak.com/data/main_banner/1794455158_N2oTjJYg_fc993e24f8de05ccc6f695ce03f31c49cb010397.jpg" alt="1st slide" style="width: 500px;"></a>
    </div>
    <div class="carousel-item">
    <a href="/BookArticle.action?seq_No=11612">
      <img class="d-block w-100" src="https://www.munhak.com/data/main_banner/1794455158_sDcQm3UG_07d81d9dda6425400a289c8532d3ed16e71bb092.jpg" alt="2nd slide" style="width: 500px; "></a>
    </div>
    <div class="carousel-item">
    <a href="/BookArticle.action?seq_No=11584">
      <img class="d-block w-100" src="https://www.munhak.com/data/main_banner/1794455158_Axnu6JDc_06b286ba18b54f5b9ccf4e8495e02b2625fdfdc2.jpg" alt="3th slide" style="width: 500px;"></a>
    </div>
    <div class="carousel-item">
    <a href="/BookArticle.action?seq_No=11586">
      <img class="d-block w-100" src="https://www.munhak.com/data/main_banner/1794455158_PtkjQoxf_c11955dfbe101f1ab2a60421db3e240eaa4d2c10.jpg" alt="4th slide" style="width: 500px;"></a>
    </div>
    <div class="carousel-item">
    <a href="/BookArticle.action?seq_No=11604">
      <img class="d-block w-100" src="https://www.munhak.com/data/main_banner/1794455158_IahSgJZ8_d41920fcb5b78b37987b332134761d6ebfe487e9.jpg" alt="5th slide" style="width: 500px;"></a>
    </div>
    <div class="carousel-item">
    <a href="/BookArticle.action?seq_No=11617">
      <img class="d-block w-100" src="https://www.munhak.com/data/main_banner/1794455158_60RCZxzr_1e42c2766a04414796b68a82325a1ebcee1d849e.jpg" alt="5th slide" style="width: 500px;"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- carousel 끝 -->
  <article class="imgs">
    <section>
      <div>
      	<a href="/BookArticle.action?seq_No=11601">
        <img src="https://contents.kyobobook.co.kr/dtl/cardnews/9791168340947_02.jpg"></a>
      </div>

      <div>
      	<a href="/BookArticle.action?seq_No=11584">
        <img src="https://image.aladin.co.kr/img/bn/book/2023/02/m_230419_booker_p.jpg"></a>
        <a href="/BookArticle.action?seq_No=11610">
        <img src="https://image.aladin.co.kr/img/bn/book/2023/02/m_230419_dasan_bomnal_p.jpg"></a>
      </div>

      <div>
      	<a href="/BookArticle.action?seq_No=11616">
        <img src="https://image.aladin.co.kr/img/bn/book/2023/02/m_20230405_borntoread90_p.jpg"></a>
      </div>
    </section>

  </article>

  <article class="slider">
    <h2>NEW BOOK</h2>
     <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="i : ${#numbers.sequence(0,3)}" th:if="${#lists.size(recentLists)}>0">
     <a th:href="'/BookArticle.action?seq_No=' + @{${recentLists[4*i].seq_No}}">
     <img th:src="${recentLists[4*i].image_Url}" ></a>
     
     <a th:href="'/BookArticle.action?seq_No=' + @{${recentLists[4*i+1].seq_No}}">
     <img th:src="${recentLists[4*i+1].image_Url}"></a>
     
     <a th:href="'/BookArticle.action?seq_No=' + @{${recentLists[4*i+2].seq_No}}">
     <img th:src="${recentLists[4*i+2].image_Url}"></a>
     <a th:href="'/BookArticle.action?seq_No=' + @{${recentLists[4*i+3].seq_No}}">
     
     <img th:src="${recentLists[4*i+3].image_Url}"></a>

        </div>
      </div>

      <!-- 네비게이션 지정 -->
      <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
      <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
    </div>


  </article>

  <article class="video">
    <div>
    <iframe width="100%;" height="500px;" src="https://www.youtube.com/embed/JSJ-7C6ltEw" title="제 딸을 살해한 놈들을 15년 후에 죽여주세요" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
    </div> 

    <div class="bg">
      <h2>문학이조 세계문학전집 <br> 10주년 기념 특강!</h2>
      <p>
        문학이조 세계문학전집 10주년 기념 특강 두번째 강연!<br>
        고려대 영어영문학과 윤조원 교수가 들려주는 주나 반스의 『나이트우드』
        <br>

        <br>


        <span>[세계문학 특별 강연회 일정] <br> <br>

          3강: 『데미안』 ㅣ정여울 (작가, 문학평론가) ㅣ 11월 14일
          <br>

          4강: 『안나 카레니나』 ㅣ 로쟈 이현우 (서평가) ㅣ 12월 20일</span></p>
      <button onclick="window.open('https://youtu.be/dQw4w9WgXcQ')">더 알아보기</button>
    </div>
  </article>

  <article class="big">
    <h2>Best</h2>
    <div>
      <section th:if="${#lists.size(topSalLists)}>0" th:each="topLists:${topSalLists}">
        <div class="image-container">

          <img th:src="${topLists.image_Url}" />

          <div class="after">

        	<img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png" 
        	th:onclick="|location.href='@{/BookArticle.action(seq_No=${topLists.seq_No})}'|">
            <!-- <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png"> -->

          </div>

          <!-- <div class="object">
            Top
          </div> -->
        </div>
        <br/>
        <h4>[[${topLists.title_Nm}]]<h4>
      </section>
	</div>
  </article>

  <article class="products">

    <div>
      <div>
        <h2>Award</h2>
      </div>

    </div>

    <div>
      <section>
        <div>
          청소년문학상
        </div>        
        <a href="/BookArticle.action?seq_No=11602">
        <img src="https://image.aladin.co.kr/product/31113/80/cover500/s002831046_1.jpg"></a>
        <h4>고요한 우연</h4>
        <h4>₩ 12,500</h4>
      </section>
      <section>
        <div>
          문학이조소설상
        </div>
        <a href="/BookArticle.action?seq_No=11586">
        <img src="https://image.aladin.co.kr/product/31440/13/cover500/8954691749_2.jpg"></a>
        <h4>2023 제14회 젊은작가상 수상작품집</h4>
        <h4>₩ 7,700</h4>
      </section>
      <section>
        <div>
          문학이조소설상
        </div>
        <a href="/BookArticle.action?seq_No=11604">
        <img src="https://image.aladin.co.kr/product/31374/18/cover500/8954698891_1.jpg"></a>
        <h4>1미터는 없어</h4>
        <h4>₩ 14,000</h4>
      </section>

    </div>
	
  </article>
 

  <script>
    new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next', // 다음 버튼 클래스명
        prevEl: '.swiper-button-prev', // 이번 버튼 클래스명
      },
    });
  </script>


<!-- POPUP start -->
<!--  
<div id="divpop" style="position:absolute;left:20%;;top:150px;z-index:200;visibility:hidden;">
 <table width=290px height=352px cellpadding=0 cellspacing=0>
<tr>
    <td style="border:0px #666666 solid"  align=center bgcolor=white>
    <img src="https://i.postimg.cc/9FpmVP5B/Untitled-5.jpg">
    </td>
</tr>

<tr>
    <td height=10 bgcolor="#000000">
    </td>
</tr>

<tr>
        <form name="notice_form">
    <td height=25 align=right bgcolor="#000000" valign=middle>
        <input type="checkbox" name="chkbox" value="checkbox"> <font color=#eeeeee>오늘 하루 이 창을 열지 않음 </font>
        <a href="javascript:closeWin();"> <font color=#eeeeee> <B>[닫기]</B> </font></a>
    </td>
       </form>
</tr>
</table>
</div>
-->

<script language="Javascript">
cookiedata = document.cookie;
if ( cookiedata.indexOf("maindiv=done") < 0 ){
    document.all['divpop'].style.visibility = "visible";
    }
    else {
        document.all['divpop'].style.visibility = "hidden";
}
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">



</div> 

</body>


</html>