<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
  <title>main</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

  <!-- Layer popup start -->
      <script language="JavaScript">
  <!--
  function setCookie( name, value, expiredays ) {
      var todayDate = new Date();
          todayDate.setDate( todayDate.getDate() + expiredays );
          document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
      }

  function closeWin() {
      if ( document.notice_form.chkbox.checked ){
          setCookie( "maindiv", "done" , 1 );
      }
      document.all['divpop'].style.visibility = "hidden";
  }
  //-->
  </script>

</head>

<body>



  <main>
    <div>
      <img src="https://i.postimg.cc/WpC1QZtt/a.png">
      <h5> <span>— </span> <br>
문학동네에서 발원한 다양한 임프란트와 계열사들이 함께하고 있으며,<br>
저마다 개성있는 소리와 빛으로 풍요롭고 다채로운 책의 세계를 만들어가고 있습니다.<br>
문학동네출판그룹은 책에 대한 열정과 기획능력이 있는 이에게 기회를 제공합니다.</h5>
      <button>Read more</button>
    </div>
    <div class= background>
    </div>
  </main>
  <article class="imgs">
    <section>
      <div>
        <img src="https://i.postimg.cc/7hqgG1BN/11.jpg">
      </div>

      <div>
        <img src="https://i.postimg.cc/NFxkpCyV/22.jpg">
        <img src="https://i.postimg.cc/9ftPKyH9/33.jpg">
      </div>

      <div>
        <img src="https://i.postimg.cc/7Z2BLC0s/33.jpg">
      </div>
    </section>

  </article>

  <article class="slider">
    <h2>NEW BOOK</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://i.postimg.cc/g0DzrrKb/1.jpg"></div>
        <div class="swiper-slide"><img src="https://i.postimg.cc/VvSm7gPz/2.jpg"></div>
        <div class="swiper-slide"><img src="https://i.postimg.cc/HLpHGd1Z/3.jpg"></div>
        <div class="swiper-slide"><img src="https://i.postimg.cc/wB0zgZ66/4.jpg"></div>
      </div>

      <!-- 네비게이션 지정 -->
      <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
      <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
    </div>


  </article>

  <article class="video">
    <div>
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/foaQu71esOE" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="bg">
      <h2>문학동네 세계문학전집 <br> 10주년 기념 특강!</h2>
      <p>
        문학동네 세계문학전집 10주년 기념 특강 두번째 강연!<br>
        고려대 영어영문학과 윤조원 교수가 들려주는 주나 반스의 『나이트우드』
        <br>

        <br>


        <span>[세계문학 특별 강연회 일정] <br> <br>

          3강: 『데미안』 ㅣ정여울 (작가, 문학평론가) ㅣ 11월 14일
          <br>

          4강: 『안나 카레니나』 ㅣ 로쟈 이현우 (서평가) ㅣ 12월 20일</span></p>
      <button>더 알아보기</button>
    </div>
  </article>

  <article class="big">
    <h2>요즘 이 책</h2>
    <div>
      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_2ghMECkZ_b681777f5ca1f3587144a437eaddadfddba5bb05.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">

          </div>

          <div class="object">
            SALE
          </div>
        </div>

        <p>일곱해의 마지막</p>

      </section>
      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_fHyNKa6t_c14c8004281227466d6b5ae6aa973e0617ea7ee5.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>


        </div>
        <p>여름의 빌라</p>

      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_zNQeMrKj_89876517f228a917516cdba71c8aace8ee28a620.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
        </div>
        <p>파르티잔 극장</p>
      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/238371604_uE6zFLmV_6648b7f6fa5494cc7c74eca0d084b31f2073210b.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
          <div class="object">
            SALE
          </div>
        </div>
        <p>미친 이별</p>
      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_82F6brfW_4725b0912f7d6c054924a2d0ae794a88556b5f52.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
          <div class="object">
            SALE
          </div>
        </div>
        <p>결혼하면 애는 그냥<br> 생기는 줄 알았는데</p>
      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_wH4kFTrn_2bb324734e2acf9bf324fc7411ebea2beef46465.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
        </div>
        <p>화이트 호스</p>
      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_9cgwPsvR_19f745a8cd50630cc901fadffb846e670e733584.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
        </div>
        <p>룬의 아이들 1</p>
      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_2kZ4Len1_e73dc5b69e9a0c22c576223e7e8dd52c47cb643b.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
          <div class="object">
            SALE
          </div>
        </div>
        <p>집의 귓속말</p>
      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/1794455158_0T8n6bC4_2b65715b910fdb7422eeff78fe58a9910f0206a3.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
        </div>
        <p>오늘의 착각</p>
      </section>

      <section>
        <div class="image-container">

          <img src="https://www.munhak.com/data/book/238371604_S4ibAxwP_b6b1ba43dfd30a5b4547be5a325fdb964dc20a99.jpg" />

          <div class="after">

            <img src="https://i.postimg.cc/SNWLXZdQ/256-256-60d899b276f7df8280ce9777d4aa29e5.png">
            <img src="https://i.postimg.cc/WpnDpDks/256-256-5eea0c1930aab7916cc960e027d032db.png">
          </div>
        </div>
        <p>내가 아니라 그가 나의 꽃</p>
      </section>

  </article>

  <article class="products">

    <div>
      <div>
        <h2>문학동네 수상작</h2>
      </div>

    </div>

    <div>
      <section>
        <div>
          문학동네소설상
        </div>
        <img src="https://www.munhak.com/data/book/1794455158_cJq8L0No_c24aa68ccacd9e59384d21bd86c2482f277821a5.jpg">
        <h5>최단경로</h5>
        ₩ 12,000
      </section>
      <section>
        <div>
          문학동네소설상
        </div>
        <img src="https://www.munhak.com/data/book/img_201712079162882_b.jpg">
        <h5>알제리의 유령들</h5>
        ₩ 12,000
      </section>
      <section>
        <div>
          문학동네소설상
        </div>
        <img src="https://www.munhak.com/data/book/img_201512213261733_b.jpg">
        <h5>소각의 여왕</h5>
        ₩ 12,000
      </section>

    </div>

  </article>



  <script>
    new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next', // 다음 버튼 클래스명
        prevEl: '.swiper-button-prev', // 이번 버튼 클래스명
      },
    });
  </script>


  <!-- POPUP start -->
<div id="divpop" style="position:absolute;left:20%;;top:150px;z-index:200;visibility:hidden;">
 <table width=290px height=352px cellpadding=0 cellspacing=0>
<tr>
    <td style="border:0px #666666 solid"  align=center bgcolor=white>
    <img src="https://i.postimg.cc/9FpmVP5B/Untitled-5.jpg">
    </td>
</tr>

<tr>
    <td height=10 bgcolor="#000000">
    </td>
</tr>

<tr>
        <form name="notice_form">
    <td height=25 align=right bgcolor="#000000" valign=middle>
        <input type="checkbox" name="chkbox" value="checkbox"> <font color=#eeeeee>오늘 하루 이 창을 열지 않음 </font>
        <a href="javascript:closeWin();"> <font color=#eeeeee> <B>[닫기]</B> </font></a>
    </td>
       </form>
</tr>
</table>
</div>

<script language="Javascript">
cookiedata = document.cookie;
if ( cookiedata.indexOf("maindiv=done") < 0 ){
    document.all['divpop'].style.visibility = "visible";
    }
    else {
        document.all['divpop'].style.visibility = "hidden";
}
</script>

</body>

</html>