<!DOCTYPE html>


<html lang="ko">


<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>회원가입</title>

  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- 내가넣은거 -->
<link rel="stylesheet" href="/css/membershipOau.css">

</head>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script type="text/javascript">

//ajax
$(function(){
	
	//체크박스 전체 체크
	$("#checkAll").click(function () {
		  $("input[name=license]").prop("checked", $(this).prop("checked"));
		});
	
	//하나의 체크박스가 풀렸을때 천체 체크의 체크취소
	$("input[name=license]").click(function () {
		  if ($("input[name=license]:checked").length == $("input[name=license]").length) {
		    $("#checkAll").prop("checked", true);
		  } else {
		    $("#checkAll").prop("checked", false);
		  }
		});
	
	//전화번호칸 숫자만 입력
	$("#usertel").on("keyup", function() {
        $(this).val($(this).val().replace(/[^0-9]/g,""));
    });
	
	//이메일 형식만 입력, 아이디가 중복된다면 서밋불가
	$('form').submit(function(event) {
        var email = $('#userEmail').val();
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        
        if(!emailReg.test(email)) {
            alert('이메일 형식이 올바르지 않습니다.');
            event.preventDefault();
        }
        
    });
	
});

//주소api 호출
$(function(){
	
	$("#addr").click(function(){
		
		new daum.Postcode({
			
			oncomplete:function(data){
				
				$("#addr").val(data.address);
				$("#addr_detail").focus();
			}
		
		}).open();
	});
});
</script>

<body>


  <form action="" name="myForm" method="post">

    <div class="membership">

      <div>
        <label class="imp">아이디</label>
        <div>
          <input type="text" th:value="${OauthUser.userId}" required readonly name="userId">
        </div>
        <div id="answerId"></div>
      </div>
	 
      <div>
        <label class="imp">이름</label>
        <input type="text" th:value="${OauthUser.userName}" required readonly name="userName">
      </div>



      <div>
        <label class="imp">휴대폰</label>
        <div>
          <input type="tel" placeholder="숫자만 입력해주세요" id="usertel" name="userTel" required>
        </div>
      </div>
      

      <div>
        <label class="imp">주소</label>
        <div>
          <input type="text" placeholder="도로명, 지번, 건물명 검색" required id="addr" name="userAddr">
          <img src="https://res.kurly.com/kurly/ico/2021/search_20_20_333.svg" alt="search">
        </div>
        <p>상세 주소</p>
        	<input type="text" required name="addr_detail" id="addr_detail">
      </div>

      <div>
        <label>생년월일</label>
        <div>
          <input type="text" name="birth_year" id="birth_year" pattern="[0-9]*" value label="생년월일" size="4" maxlength="4"
            placeholder="YYYY" required>
          <span>/</span>
          <input type="text" name="birth_month" id="birth_month" pattern="[0-9]*" value label="생년월일" size="2" maxlength="2"
            placeholder="MM" required>
          <span>/</span>
          <input type="text" name="birth_day" id="birth_day" pattern="[0-9]*" value label="생년월일" size="2" maxlength="2"
            placeholder="DD" required>
        </div>
      </div>
      
      <div>
        <label>이메일</label><br/>
        <input type="text" placeholder="예 : bookstore@gmail.com" name="userEmail" id="userEmail">
      </div>
      
    </div>
    
    
    
    <div class="terms">

      <label class="imp">이용약관동의</label>

      <div>
        <h3><input type="checkbox" id="checkAll"><span class="ico"></span>전체 동의합니다.</h3>
        <p> 선택 항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
      </div>

      <div>
        <input type="checkbox" name="license" required><span class="ico"></span>이용약관동의<span>(필수)</span>
        <a href="#"></a>
      </div>

      <div>
        <input type="checkbox" name="license" required><span class="ico"></span>개인정보 수집·동의<span>(필수)</span>
        <a href="#"></a>        
      </div>

      <div>
        <input type="checkbox" name="license"><span class="ico"></span>개인정보 수집·동의<span>(선택)</span>
        <a href="#"></a>   
      </div>

      <div>
        <input type="checkbox" name="license" required><span class="ico"></span>본인은 만 14세 이상입니다.<span>(필수)</span>
      </div>
    </div>

<input type="hidden" name="userPwd" th:value="${OauthUser.userPwd}">
<input type="hidden" name="realPwd" value="OAUTH_USER">

    <button type="submit">가입하기</button>
  </form> 

  
</body>


</html>