<!DOCTYPE html>


<html lang="ko">


<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>회원가입</title>

  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- 내가넣은거 -->
<link rel="stylesheet" href="/css/membership.css">

</head>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script type="text/javascript">

//아이디체크 ajax
$(function(){

	$("#idCheck").click(function(){
		
		var id = $("#userId").val();
		
		var userid = "userid=" + id;
		
		$.ajax({
			type:"POST",
			url:"/findId",
			data:userid,
			dataType:"JSON",
			success:function(args){
				
				$("#answerId").html(args.data);
				$("#ok").val(args.ok);
			},
			beforeSend:checkoutId,
			error:function(e){
				alert(e.responsetext);
			}
		});
	});
	
	//아이디 공백검사, 영문숫자검사, 길이검사
	function checkoutId(){
		
		//영문숫자 정규화표현식
		var regExp = /^[A-Za-z0-9+]*$/;
		
		if(!$("#userId").val()){
			alert("아이디를 입력하세요!");
			$("#userId").focus();
			return false;
		}
		
		if(!regExp.test($("#userId").val())){
			alert("영문과 숫자만 사용할 수 있습니다.");
			return false;
		}
		
		if ($("#userId").val().length < 5 || $("#userId").val().length > 25) {
		    alert("아이디는 5자 이상, 25자 이하로 입력해주세요.");
		    return false;
		}
		
		return true;
	}
	
	//체크박스 전체 체크
	$("#checkAll").click(function () {
		  $("input[name=license]").prop("checked", $(this).prop("checked"));
		});
	
	//하나의 체크박스가 풀렸을때 천체 체크의 체크취소
	$("input[name=license]").click(function () {
		  if ($("input[name=license]:checked").length == $("input[name=license]").length) {
		    $("#checkAll").prop("checked", true);
		  } else {
		    $("#checkAll").prop("checked", false);
		  }
		});
	
	//전화번호칸 숫자만 입력
	$("#usertel").on("keyup", function() {
        $(this).val($(this).val().replace(/[^0-9]/g,""));
    });
	
	//이메일 형식만 입력, 아이디가 중복된다면 서밋불가
	$('form').submit(function(event) {
        var email = $('#userEmail').val();
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        
        if(!emailReg.test(email)) {
            alert('이메일 형식이 올바르지 않습니다.');
            event.preventDefault();
        }
        
        if($("#ok").val() != 'true'){
        	alert('중복된 아이디입니다.');
            event.preventDefault();
        }  
        
    });
	
});

//주소api 호출
$(function(){
	
	$("#addr").click(function(){
		
		new daum.Postcode({
			
			oncomplete:function(data){
				
				$("#addr").val(data.address);
				$("#addr_detail").focus();
			}
		
		}).open();
	});
});

//비밀번호 데이터검사
function checkoutPwd(){
	
	if ($('#pwd1').val() != $('#pwd2').val()) {
		  alert('비밀번호가 일치하지 않습니다.');
		  $("#pwd1").focus();
		}
}

</script>

<body>


  <form action="" name="myForm" method="post">

    <div class="membership">

      <div>
        <label class="imp">아이디</label>
        <div>
          <input type="text" placeholder="예 : youngms12" required id="userId" name="userId">
          <button type="button" id="idCheck">중복확인</button>
          
        </div>
        <div id="answerId"></div>
      </div>
	 


      <div>
        <label class="imp">비밀번호</label>
        <input type="password" placeholder="비밀번호를 입력해주세요." required id="pwd1" name="password1">
      </div>

      <div>
        <label class="imp">비밀번호 확인</label>
        <input type="password" placeholder="비밀번호를 한번 더 입력해주세요." 
        required id="pwd2" onblur="checkoutPwd()" name="password2">
      </div>

      <div>
        <label class="imp">이름</label>
        <input type="text" placeholder="이름을 입력해주세요" required name="userName">
      </div>



      <div>
        <label class="imp">휴대폰</label>
        <div>
          <input type="tel" placeholder="숫자만 입력해주세요" id="usertel" name="userTel" required>
        </div>
      </div>
      

      <div>
        <label class="imp">주소</label>
        <div>
          <input type="text" placeholder="도로명, 지번, 건물명 검색" required id="addr" name="userAddr">
          <img src="https://res.kurly.com/kurly/ico/2021/search_20_20_333.svg" alt="search">
        </div>
        <p>상세 주소</p>
        	<input type="text" required name="addr_detail" id="addr_detail">
      </div>

      <div>
        <label class="imp">생년월일</label>
        <div>
          <input type="text" name="birth_year" id="birth_year" pattern="[0-9]*" value label="생년월일" size="4" maxlength="4"
            placeholder="YYYY" required>
          <span>/</span>
          <input type="text" name="birth_month" id="birth_month" pattern="[0-9]*" value label="생년월일" size="2" maxlength="2"
            placeholder="MM" required>
          <span>/</span>
          <input type="text" name="birth_day" id="birth_day" pattern="[0-9]*" value label="생년월일" size="2" maxlength="2"
            placeholder="DD" required>
        </div>
      </div>
      
      <div>
        <label>이메일</label><br/>
        <input type="text" placeholder="예 : bookstore@gmail.com" name="userEmail" id="userEmail">
      </div>
      
    </div>
    
    
    
    <div class="terms">

      <label class="imp">이용약관동의</label>

      <div>
        <h3><input type="checkbox" id="checkAll"><span class="ico"></span>전체 동의합니다.</h3>
        <p> 선택 항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
      </div>

      <div>
        <input type="checkbox" name="license" required><span class="ico"></span>이용약관동의<span>(필수)</span>
        <a href="#"></a>
      </div>

      <div>
        <input type="checkbox" name="license" required><span class="ico"></span>개인정보 수집·동의<span>(필수)</span>
        <a href="#"></a>        
      </div>

      <div>
        <input type="checkbox" name="license"><span class="ico"></span>개인정보 수집·동의<span>(선택)</span>
        <a href="#"></a>   
      </div>

      <div>
        <input type="checkbox" name="license" required><span class="ico"></span>본인은 만 14세 이상입니다.<span>(필수)</span>
      </div>
    </div>

    <button type="submit">가입하기</button>
    
    <input type="hidden" id="ok" value="false">

  </form> 

  
</body>


</html>