<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2>유저 회원가입 테스트</h2>

<form action="" method="post">

아이디:
<input type="text" name="userId"> <br/>

비밀번호:
<input type="text" name="userPwd"> <br/>

이름:
<input type="text" name="userName"> <br/>

주소:
<input type="text" name="userAddr"> <br/>

이메일:
<input type="text" name="userEmail"> <br/>

생년월일:
<input type="text" name="userBirth"> <br/>

전화번호:
<input type="text" name="userTel"> <br/>

<button>버튼</button>
</form>

</body>
</html>