<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2>OAuth유저 회원가입</h2>

<form action="" method="post">

아이디:
<input type="text" name="userId" th:value="${oauthId}" readonly="readonly"> <br/>

이름:
<input type="text" name="userName" th:value="${oauthName}" readonly="readonly"> <br/>

주소:
<input type="text" name="userAddr"> <br/>

이메일:
<input type="text" name="userEmail"> <br/>

생년월일:
<input type="text" name="userBirth"> <br/>

전화번호:
<input type="text" name="userTel"> <br/>

<input type="hidden" name="userPwd" value="OAUTH_USER">
<input type="hidden" name="realPwd" value="OAUTH_USER">

<button>확인</button>
</form>

</body>
</html>