<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 내가넣은거 -->
<link rel="stylesheet" href="/css/mypage.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">

$(function(){
	
	if([[${user}]]==null){
		alert('로그인 후 이용해주세요.');
		window.location.href = "/user/login";
	}
	
});
</script>
<body>
	
	<div class="wrap">
	  <div th:class="${vip > 50} ? 'diaContainer' : 
	  (${vip > 40} ? 'plaContainer' : 
	  (${vip > 30} ? 'goldContainer' : 
	  (${vip > 20} ? 'silverContainer' : 
	  (${vip > 10} ? 'bronzeContainer' : 'greenContainer'))))">
	    <div>
	      <div class="grade" th:text="${vip > 50} ? 'Diamond' : 
	      (${vip > 40} ? 'Platinum' : 
	      (${vip > 30} ? 'Gold' : 
	      (${vip > 20} ? 'Silver' : 
	      (${vip > 10} ? 'Bronze' : 'Welcome'))))"></div>
	      <div class="name">[[${user.userName}]]</div>
	    </div> 
	    <div class="cross">
	    <a href="/user/hi"><img class="img" alt="x" th:src="@{/image/cancel-button.png}"/></a>
		 </div>
	    <div class="modify">i</div>
	  </div>
	  <div class="summaryContainer">
	    <div class="item">
	        <div class="text">[[${user.userId}]]</div>
	        <div>아이디</div>
	      </div>
	      <div class="item">
	        <div class="text">[[${user.userBirth}]]</div>
	        <div>생년월일</div>
	      </div>
	      <div class="item">
	        <div class="text">[[${user.userVip}]]</div>
	        <div>총 구매권수</div>
	      </div>
	  </div>  
	  <div class="shippingStatusContainer">
	    <div class="title">
	      주문/배송조회
	    </div>
	    <div class="status">
	      
	      <div class="item">
	        <div>
	          <div class="brown number">[[${bagitem_length}]]</div>
	          <div class="text">장바구니</div>
	        </div>
<!-- 	        <div class="icon"> > </div> -->
	      </div>     
<!-- 	      <div class="item"> -->
<!-- 	        <div> -->
<!-- 	          <div class="number">0</div> -->
<!-- 	          <div class="text">결제완료</div> -->
<!-- 	        </div> -->
<!-- 	        <div class="icon"> > </div> -->
<!-- 	      </div>      -->
	      <div class="item">
	        <div>
	          <div class="green number">0</div>
	          <div class="text">배송중</div>
	        </div>
<!-- 	        <div class="icon"> > </div> -->
	      </div>     
	      <div class="item">
	        <div>
	          <div class="green number">[[${order_Count}]]</div>
	          <div class="text">구매완료</div>
	        </div>
	      </div>     
	      
	    </div>
	    
	  </div>  
	  <div class="listContainer">
	    <a href="/user/update" class="item">
	        <div class="icon">ii</div>
	        <div class="text">정보수정</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="#" class="item">
	        <div class="icon">ii</div>
	        <div class="text">상품후기</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="#" class="item">
	        <div class="icon">ii</div>
	        <div class="text">상품문의</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="#" class="item">
	        <div class="icon">ii</div>
	        <div class="text">단골상점</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="#" class="item">
	        <div class="icon">ii</div>
	        <div class="text">찜한상품</div>
	        <div class="right"> > </div>
	    </a>
	  </div>
	  
	  <div class="infoContainer">
	    <a href="#" class="item">
	      <div>icon</div>
	      <div>공지사항</div>
	    </a>    
	    <a href="#" class="item">
	      <div>icos</div>
	      <div>이용안내</div>
	    </a>    
	    <a href="#" class="item">
	      <div>icon</div>
	      <div>고객센터</div>
	    </a>
	  </div>
	</div>
	
</body>
</html>