<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 내가넣은거 -->
<link rel="stylesheet" href="/css/mypage.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">

$(function(){
	
	if([[${user}]]==null){
		alert('로그인 후 이용해주세요.');
		window.location.href = "/user/login";
	}
	
});

//새창 만들기
function Check(){
  
  window.open("/Notice.do", "win", "width=1200, height=800");
  
}

//회원탈퇴 alert
function outBtn(){
	
	Swal.fire({
		  title: '정말로 탈퇴 하시겠습니까?',
		  text: "탈퇴시 모든 기록은 삭제됩니다!",
		  icon: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: '탈퇴',
		  cancelButtonText: '취소'
		}).then((result) => {
		  if (result.isConfirmed) {
		    Swal.fire(
		      '탈퇴되었습니다!',
		      '저희 서비스를 이용해주셔서 감사합니다.<br/> 다시 돌아오실 때까지 기다리고 있을게요.',
		      'success'
		    ).then((result) => {
		    	location.href = "/user/delete?userId="+[[${user.userId}]];
		    })
		  }
		})
}
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
	
	<div class="wrap">
	  <div th:class="${vip > 50} ? 'diaContainer' : 
	  (${vip > 40} ? 'plaContainer' : 
	  (${vip > 30} ? 'goldContainer' : 
	  (${vip > 20} ? 'silverContainer' : 
	  (${vip > 10} ? 'bronzeContainer' : 'greenContainer'))))">
	    <div>
	      <div class="grade" th:text="${vip > 50} ? 'Diamond' : 
	      (${vip > 40} ? 'Platinum' : 
	      (${vip > 30} ? 'Gold' : 
	      (${vip > 20} ? 'Silver' : 
	      (${vip > 10} ? 'Bronze' : 'Welcome'))))"></div>
	      <div class="name">[[${user.userName}]]</div>
	    </div> 
	    <div class="cross">
	    <a href="/main"><img class="img" th:src="@{/image/cancel-button.png}"/></a>
		 </div>
	    <div class="modify">i</div>
	  </div>
	  <div class="summaryContainer">
	    <div class="item">
	        <div class="text">[[${user.userId}]]</div>
	        <div>아이디</div>
	      </div>
	      <div class="item">
	        <div class="text">[[${user.userBirth}]]</div>
	        <div>생년월일</div>
	      </div>
	      <div class="item">
	        <div class="text">[[${user.userTel}]]</div>
	        <div>연락처</div>
	      </div>
	  </div>  
	  <div class="shippingStatusContainer">
	    <div class="title">
	      주문/배송조회
	    </div>
	    <div class="status">
	      
	      <div class="item">
	        <div>
	          <div class="brown number">[[${bagitem_length}]]</div>
	          <div class="text">장바구니</div>
	        </div>
	      </div>     
	      
	      <div class="item">

	        <div>
	          <div class="green number">[[${order_Count}]]</div>
	          <div class="text">구매완료</div>
	        </div>

	      </div>     
	      <div class="item">
	        <div>
	          <div class="green number">[[${user.userVip}]]</div>
	          <div class="text">총 구매권수</div>
	        </div>
	      </div>     
	      
	    </div>
	    
	  </div>  
	  <div class="listContainer">
	    <a href="/user/update" class="item">
	        <div class="icon">ii</div>
	        <div class="text">정보수정</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="/userReview.action" class="item">
	        <div class="icon">ii</div>
	        <div class="text">상품후기</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="#" class="item">
	        <div class="icon">ii</div>
	        <div class="text">상품문의</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="/bag.action" class="item">
	        <div class="icon">ii</div>
	        <div class="text">찜한상품</div>
	        <div class="right"> > </div>
	    </a>
	    <a href="/user/test" class="item">
	        <div class="icon">ii</div>
	        <div class="text">주문목록</div>
	        <div class="right"> > </div>
	    </a>
	  </div>
	  
	  <div class="infoContainer">

	    <a href="#" class="item" onclick="Check();">
	      <div><i class="fa-solid fa-flag"></i></div>

	      <div>공지사항</div>
	    </a>    
	    <a href="#" class="item">
	      <div><i class="fa-solid fa-bullhorn"></i></div>
	      <div>이용안내</div>
	    </a>    
<!-- 	    <a th:href="@{/user/delete(userId=${user.userId})}" class="item"> -->
		<a onclick="outBtn()" class="item">
	      <div><i class="fa-solid fa-person-through-window"></i></div>
	      <div>고객센터</div>
	    </a>
	  </div>
	</div>
	
</body>
</html>