<meta charset="UTF-8">

<nav th:fragment="navbarFragment" class="navbar">

<script type="text/javascript" src="/js/ajaxUtil.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script type="text/javascript">

function sendIt() {
	  
	var f = document.searchForm;
	
	f.action = "/BookList.action";
	f.submit();
	
}

function sendKeyword() {
	
	var searchValue = document.searchForm.searchValue.value;

	if(searchValue==""){
		
		hide();
		return;
		
	}
	
	var params = "searchKey=title_Nm" + "&searchValue=" + searchValue;

	sendRequest("/SuggestClient.action",params,displaySuggest,"POST");
	
}

function displaySuggest(){
	
	if(httpRequest.readyState==4){
		
		if(httpRequest.status==200){
			
			var text = httpRequest.responseText;
			var resultText = JSON.parse(text);
			
			//alert(resultText.lists[0].title_Nm);
			
			var html = "";
			var img = "";
			
			//getElementById가 ""를 필요로 해서 이렇게 적어야됨
			var suggestArray = ["suggest0","suggest1","suggest2","suggest3","suggest4"];
			var suggest_Title_Array = ["suggest_Title0","suggest_Title1","suggest_Title2","suggest_Title3","suggest_Title4"];

			for(var i=0;i<5;i++){
				
				var suggest = resultText.lists[i];
				var suggestArrayElement =  document.getElementById(suggestArray[i]);
				var suggest_Title_ArrayElement =  document.getElementById(suggest_Title_Array[i]);
				suggest_Title_ArrayElement.innerHTML="<a href=\"javascript:select('" + suggest.title_Nm + "');\">"+  suggest.title_Nm + "</a>";
				suggestArrayElement.src = suggest.image_Url;
				
			}

			show();

		}
		
	}
	
}

function select(selectKeyword) {
	
	document.searchForm.searchValue.value = selectKeyword;
	hide();
	
}

function show() {
	
	var suggestDiv = document.getElementById("suggestDiv");
	
	suggestDiv.style.display = "block";
	
	
}

function hide() {
	
	var suggestDiv = document.getElementById("suggestDiv");
	
	suggestDiv.style.display = "none";
}

window.onload = function () {

	hide();
	
}

function alertLogin(){

	Swal.fire({
		  title: '로그인 후 이용해주세요',
		  icon: 'error',
		  iconHtml: 'X',
		  confirmButtonText: '확인',
		  cancelButtonText: '취소',
		  showCancelButton: true,
		  showCloseButton: true
		}).then((result)=>{
			
			if(result.value){
				
				window.location.href='/user/login';
				
			}else{
				
				 location.reload();
				
			}
			
		});

}


</script>


<div class="container-fluid">

<header>

  <article id="header" >
      <section>
        <div onclick="window.location.href='#'">
          <a href="/main"><img class="logo" src="/image/logo.png" alt=""></a>
        </div>
        
        <div class="backdiv"> </div>

        <nav class="lap-nav">
          <ul class="clearfix">
            
            <li><a>이벤트</a>
              <ul>
                <li>진행/대기</li>
                <li>당첨자 발표</li>
                <li>전체보기</li>
              </ul>
            </li>
            <li><a>고객지원</a>
              <ul>
                <li>공지사항</li>
                <li>FAQ</li>
                <li>자료실</li>
                <li>김치</li>
              </ul>
              
            </li>
<!--             <li><a>북클럽</a> -->
<!--               <ul> -->
<!--                 <li>이달의 책</li> -->
<!--                 <li>커뮤니티</li> -->
<!--               	<li>아지트</li> -->
<!--               </ul> -->
<!--             </li> -->
            <li style="width: 12rem;"><a>카테고리</a>
            <div style="display: inline-flex;">
              <ul style="width: 6rem; height: 50%;">
     			<a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm"><li>전체</li></a>
     			<a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=100"><li>철학</li></a>
     			<a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=200"><li>종교</li></a>
     			<a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=300"><li>사회과학</li></a>
     			<a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=400"><li>자연과학</li></a>
              </ul>
              <ul style="width: 6rem; height: 50%;">
                <a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=500"><li>기술과학</li></a>
                <a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=600"><li>예술</li></a>
                <a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=700"><li>언어(어학)</li></a>
                <a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=800"><li>문학</li></a>
                <a href="/BookCategoryList.action?pageNum=1&searchKey=kdc_Nm&searchValue=900"><li>역사</li></a>
              </ul>
            </div>
            </li>
            <li><a>도서</a>
              <ul>
                <li>새로나온 책</li>
                <li>수상도서</li>
                <li>매거진</li>
              </ul>
            </li>
          </ul>
        </nav>
        
        <div class="sample two" id="search-input">
        <form action="" name="searchForm" method="GET"> 		
 		
 		
          <ul class="clearfix-2">          
            <li>
		    	<input type="text" name="searchValue" placeholder="search" onkeyup="sendKeyword();">
			    <input type="hidden" name="searchKey" value="title_Nm">
			    <button type="submit" class="btn btn-search fa fa-search" onclick="sendIt();"></button>
			    <button type="reset" class="btn btn-reset fa fa-times"></button>		
				
				<ul>
				  <li>
					<div id="suggestDiv" class="suggest">
					<ul>
				    	<li><img alt="" src="" id="suggest0"><span id="suggest_Title0"></span></li><br/>
				    	<li><img alt="" src="" id="suggest1"><span id="suggest_Title1"></span></li><br/>
				    	<li><img alt="" src="" id="suggest2"><span id="suggest_Title2"></span></li><br/>
				    	<li><img alt="" src="" id="suggest3"><span id="suggest_Title3"></span></li><br/>
				    	<li><img alt="" src="" id="suggest4"><span id="suggest_Title4"></span></li><br/>
				    </ul>
					</div>
					
				  </li>
				</ul>
			</li>			
		  </ul>	
		  
		</form>
  		</div>  

  	<a href="/user/mypage"><i class="fas fa-user"></i></a>
    <a href="/bag.action" th:if="${session.OauthUser !=null or session.user != null}"><i class="fas fa-shopping-cart"></i></a>
    <a href= "#" th:unless="${session.OauthUser !=null or session.user != null}"><i class="fas fa-shopping-cart" onclick="alertLogin();"></i></a>
      </section>
      
    </article>

</header>
<br/><br/><br/><br/>
<br/><br/><br/>

</div>
</nav>
