<meta charset="UTF-8">

<nav th:fragment="navbarFragment" class="navbar">


<script type="text/javascript" src="/js/ajaxUtil.js"></script>

<script type="text/javascript">

function sendIt() {
	  
	var f = document.searchForm;
	
	f.action = "/BookList.action";
	f.submit();
	
}

function sendKeyword() {
	
	var searchValue = document.searchForm.searchValue.value;

	if(searchValue==""){
		
		hide();
		return;
		
	}
	
	var params = "searchKey=title_Nm" + "&searchValue=" + searchValue;

	sendRequest("/SuggestClient.action",params,displaySuggest,"POST");
	
}

function displaySuggest(){
	
	if(httpRequest.readyState==4){
		
		if(httpRequest.status==200){
			
			var text = httpRequest.responseText;
			
			var resultText = JSON.parse(text);
			
			//alert(resultText.lists[0].title_Nm);
			
			var html = "";
			
			for(var i=0;i<5;i++){
				
				var suggest = resultText.lists[i];
				
				html+="<a href=\"javascript:select('"	+ suggest.title_Nm + "');\">"	+ suggest.title_Nm + "</a><br/>";
				
			}
			
			var suggestListDiv = document.getElementById("suggestListDiv");
			suggestListDiv.innerHTML = html;
			
			show();

		}
		
	}
	
}

function select(selectKeyword) {
	
	document.searchForm.searchValue.value = selectKeyword;
	hide();
	
}

function show() {
	
	var suggestDiv = document.getElementById("suggestDiv");
	
	suggestDiv.style.display = "block";
	
	
}

function hide() {
	
	var suggestDiv = document.getElementById("suggestDiv");
	
	suggestDiv.style.display = "none";
}

window.onload = function () {
	
	hide();
	
}


</script>


<div class="container-fluid">

<header>

  <article id="header" >
      <section>
        <div onclick="window.location.href='#'">
          <a href="/main"><img class="logo" src="/image/logo.png" alt=""></a>
        </div>
        
        <div class="backdiv"> </div>

        <nav class="lap-nav">
          <ul class="clearfix">
          
            <li><a>이벤트</a>
              <ul>
                <li>진행/대기</li>
                <li>당첨자 발표</li>
                <li>전체보기</li>
              </ul>
            </li>
            <li><a>고객지원</a>
              <ul>
                <li>공지사항</li>
                <li>FAQ</li>
                <li>자료실</li>
              </ul>
            </li>
            <li><a>북클럽</a>
              <ul>
                <li>이달의 책</li>
                <li>커뮤니티</li>
              	<li>아지트</li>
              </ul>
            </li>
            <li><a>브랜드</a>
              <ul>
                <li>문학동네</li>
                <li>연혁</li>
                <li>제휴문의</li>
              </ul>
            </li>
            <li><a>도서</a>
              <ul>
                <li>새로나온 책</li>
                <li>수상도서</li>
                <li>매거진</li>
              </ul>
            </li>
          </ul>
        </nav>
        
 
  <div class="sample two">
  	<form action="" name="searchForm" method="GET">
	    <input type="text" name="searchValue" placeholder="search" onkeyup="sendKeyword();">
	    <input type="hidden" name="searchKey" value="title_Nm">
	    <button type="submit" class="btn btn-search fa fa-search" onclick="sendIt();"></button>
	    <button type="reset" class="btn btn-reset fa fa-times"></button>
	    
	 </form>
	 <div id="suggestDiv" class="suggest">
		<div id="suggestListDiv"></div>
	</div>
  </div>

  <i class="fas fa-user"></i>
    <i class="fas fa-shopping-cart"></i>
      </section>
      
    </article>

</header>
<br/><br/><br/><br/>
<br/><br/><br/>

</div>
</nav>
