<meta charset="UTF-8">

<script language="JavaScript">
 
  
  function sendIt() {
		
	  
		var f = document.searchForm;
		
		alert("ddd");
		
		f.action = "/BookList.action";
		f.submit();		
		
	}
  
  
  </script>


<nav th:fragment="navbarFragment" class="navbar">

<div class="container-fluid">

<header>

  <article id="header" >
      <section>
        <div onclick="window.location.href='#'">
          <a href="/main"><img class="logo" src="/image/logo.png" alt=""></a>
        </div>
        
        <div class="backdiv"> </div>

        <nav class="lap-nav">
          <ul class="clearfix">
          
            <li><a>이벤트</a>
              <ul>
                <li>진행/대기</li>
                <li>당첨자 발표</li>
                <li>전체보기</li>
              </ul>
            </li>
            <li><a>고객지원</a>
              <ul>
                <li>공지사항</li>
                <li>FAQ</li>
                <li>자료실</li>
              </ul>
            </li>
            <li><a>북클럽</a>
              <ul>
                <li>이달의 책</li>
                <li>커뮤니티</li>
              	<li>아지트</li>
              </ul>
            </li>
            <li><a>브랜드</a>
              <ul>
                <li>문학동네</li>
                <li>연혁</li>
                <li>제휴문의</li>
              </ul>
            </li>
            <li><a>도서</a>
              <ul>
                <li>새로나온 책</li>
                <li>수상도서</li>
                <li>매거진</li>
              </ul>
            </li>
          </ul>
        </nav>
        
 <form action="" name="searchForm" method="GET">
  <div class="sample two">
  	
	    <input type="text" name="searchValue" placeholder="search" >
	    <input type="hidden" name="searchKey" value="title_Nm">
	    <button type="submit" class="btn btn-search fa fa-search" onclick="sendIt();"></button>
	    <!-- onclick="javascript:location.href='/BookList.action?searchKey=title_Nm&searchValue=에듀윌'" -->
	    <button type="reset" class="btn btn-reset fa fa-times"></button>

  </div>
  </form>
  
  <i class="fas fa-user"></i>
    <i class="fas fa-shopping-cart"></i>
      </section>
      
    </article>
    
</header>
<br/><br/><br/><br/>
<br/><br/><br/>

</div>
</nav>
