<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content2">
    <!-- Begin Head -->
    <head>
        
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	
		<!-- product.css -->
		<link rel="stylesheet" href="css/product.css">
		
		<!-- js -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
		<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
		<script type="text/javascript" src="/js/ajaxUtil.js"></script>
		
		<script th:inline="javascript">
		
		$(function () {
			listPage(1);	
		});
		
		function one_order(){
			
			//확인 클릭시 ajax로 
			 if(confirm([[${dto.title_Nm}]] + '을 구매하시겠습니까?')){
				 
				var orderId = Math.floor(Math.random() * 10000000);
				 
				 $.ajax({
						url:"https://kapi.kakao.com/v1/payment/ready",
						type:'POST',
						data:{
							'cid' : 'TC0ONETIME',
							'partner_order_id' : orderId,
							'partner_user_id' : [[${userId}]],
							'item_name' : [[${dto.title_Nm}]],
							'quantity' : 1,
							'total_amount' : [[${dto.prc_Value}]],
							'tax_free_amount' : 0,
							'approval_url' : 'http://localhost:8080/success',
							'cancel_url' : 'http://localhost:8080/cancel',
							'fail_url' : 'http://localhost:8080/fail'
						},
						headers:{
							'Authorization' : 'KakaoAK 051b33bdbbe0ba43924808b0a780bb6c',
							'Content-type' : 'application/x-www-form-urlencoded;charset=utf-8'
						},
						dataType:"json",
						success:function(data){
							
							var url = data.next_redirect_pc_url;
							var tid = data.tid;
							
							window.location.href = 'ready?url='+url+'&tid='+tid+'&orderId='+orderId+'&bookNum='+[[${dto.seq_No}]];
						},
						error:function(error){
							
							alert(error);
						}
				 });
				 
			 }
		}
		
		function listPage(page){
			
			var params = "seq_No=" + [[${dto.seq_No}]] + "&pageNum=" + page;

			$.ajax({
				type:"POST",
				url:"/ReviewList.action",
				data:params,
				dataType:"text",
				success:function(args){
				//html 통째로 받으려면 dataType text여야함
					$("#reviewListData").html(args);
					
				}
			
			});
			
		}
		
		function deleteReview(reviewId,pageNum,userId){
			
			var params = "seq_No=" + [[${dto.seq_No}]] + "&reviewId=" + reviewId + "&pageNum=" + pageNum;
			
			$.ajax({
				type:"POST",
				url:"/ReviewDelte.action",
				data:params,
				dataType:"text",
				success:function(args){
				//html 통째로 받으려면 dataType text여야함
					$("#reviewListData").html(args);
					
				}
			
			});
			
		}
		
		function sendReview() {

			var userId = $('input[name=userId]').val();
			var content = $('textarea[name=content]').val();
			var reviewStar = $('input:radio[name=reviewStar]:checked').val();
			
			if(reviewStar == null || reviewStar == ''){
				
				alert("별점을 선택해주세요");
				
				return;
				
			}
			
			if(content=='' || content==null){
				
				alert("내용을 입력해주세요");
				
				return;
				
			}
			
			var params = "seq_No=" + [[${dto.seq_No}]] + "&userId=" + userId + "&content=" + content + "&reviewStar=" + reviewStar;
			
			$.ajax({
				type:"POST",
				url:"/ReviewCreated.action",
				data:params,
				dataType:"text",
				success:function(args){
				//html 통째로 받으려면 dataType text여야함
					$("#reviewListData").html(args);
					
				}
			
			});
			
			
		}
		
		function alertDelete(){

			Swal.fire({
				  title: '삭제하시겠습니까?',
				  icon: 'error',
				  iconHtml: 'X',
				  confirmButtonText: '확인',
				  cancelButtonText: '취소',
				  showCancelButton: true,
				  showCloseButton: true
				}).then((result)=>{
					
					if(result.value){
						
					location.href='/BookDelete.action?seq_No=' + [[${dto.seq_No}]] + '&' + [[${params}]] + '&image_Url=' + [[${dto.image_Url}]];
						
					}
					
				});

		}

		</script>
		
		<!-- 장바구니버튼 js -->
		<script th:inline="javascript">

		function sendBag(seq_No){
			
			if(seq_No==""){
				
				return;
			}
			if([[${session.OauthUser == null and session.user == null}]]){
				//session.user.userId 이건 비교할 수 없음 session.user는 비교가 됨
				//user가 없으면 애시당초 userId를 찾을 수가 없어서 에러가 남 그래서 딱 session.user까지만 비교를 해야 함
				
				alertLogin();
		
				
			}else if([[${session.OauthUser != null or session.user != null}]]){
				
				var params = "seq_No=" + seq_No;
		
				sendRequest("/insertItem.action",params,returnBag,"POST");
				//주의 : callback함수가 있으면 json형태로 값을 무조건 반환해주기 때문에 중간에 redirect같은 것이 안 됨
				
			}
		
		}
		
		function returnBag(){
			
			if(httpRequest.readyState==4){
				
				if(httpRequest.status==200){
		
					var text = httpRequest.responseText;
					var resultText = JSON.parse(text);
					var count = Object.keys(resultText.lists).length;
		
					for(var i=0;i<count;i++){
		
						showLike(resultText.lists[i].seq_No);
						
					}
				
				}
				
			}
			
		}
		
		function sendDeleteBag(seq_No){
		
			if(seq_No==""){
				
				return;
				
			}
			
			if([[${session.OauthUser == null and session.user == null}]]){
				
				alert("로그인이 만료되었습니다");
				
				window.location.href="/main";
				
			}else if([[${session.OauthUser != null or session.user != null}]]){
				
				var params = "seq_No=" + seq_No;
				
				sendRequest("/deleteItem.action",params,returnDeleteBag,"POST");
				
			}
			
		}
		
		function returnDeleteBag(){
			
			if(httpRequest.readyState==4){
				
				if(httpRequest.status==200){
					
					var text = httpRequest.responseText;
					var resultText = JSON.parse(text);
					
					hideLike(resultText.bagDTO.seq_No);
		
				}
				
			}
			
		}
		
		function sendAllItem(){
			
			if([[${session.OauthUser != null or session.user != null}]]){
				
				var params = null;
				
				sendRequest("/selectItem.action",params,returnBag,"POST");
				
			}
		
		}
		
		window.onload = function(){
			
			sendAllItem();
			//navbar.html 하이드 여기서 실행이 안됨 why? window.onload가 2번 겹쳐서 그럼  그래서 hide();를 여기서 써줌
			hide();
			
		}
		
		function showLike(seq_No) {
		
			var beforeItem = document.getElementById(seq_No);
			//beforeItem이 null값이 나오면 다음 단계로 진행이 안됨 그래서 if으로 걸러야됨
			if(beforeItem!=null){
		
				var d_No = "delete" + seq_No;
				
				beforeItem.style.display = "none";
				
				var afterItem = document.getElementById(d_No);
				afterItem.style.display = "block";
				
			}
		
		}
		
		function hideLike(seq_No) {
			
			var d_No = "delete" + seq_No;
		
			var beforeItem = document.getElementById(seq_No);
			beforeItem.style.display = "block";
		
			var afterItem = document.getElementById(d_No);
			afterItem.style.display = "none";
			
		}
		
		function alertLogin(){
			
			Swal.fire({
				  title: '로그인 후 이용해주세요',
				  icon: 'error',
				  iconHtml: 'X',
				  confirmButtonText: '확인',
				  cancelButtonText: '취소',
				  showCancelButton: true,
				  showCloseButton: true
				}).then((result)=>{
					
					if(result.value){
						
						window.location.href='/user/login';
						
					}
					
				});
		
		}

	</script>
	<!-- 장바구니js 끝 -->

    </head>
    <!-- End Head -->
<!-- 삭제만들어야함 -->
    <!-- Body -->
    <body>

		<div class="container product_detail"><!--container S-->
			<div class="in_box"><!--in_box S-->
				<div class="product_top" style="display: inline-flex; width: 100%;">

				<div style="margin: 50px 0 0 150px;">
				<img alt="" th:src="${dto.image_Url}" style="width: 190px; height: 240px; ">
				<span>
				<th:block th:switch="${#strings.substring(dto.kdc_Nm, 0, 1)}">
				    <img alt="" th:case="0" src="/image/총류.gif" id="before">
				    <img alt="" th:case="1" src="/image/철학.gif" id="before">
				    <img alt="" th:case="2" src="/image/종교.gif" id="before">
				    <img alt="" th:case="3" src="/image/사회과학.gif" id="before">
				    <img alt="" th:case="4" src="/image/자연과학.gif" id="before">
				    <img alt="" th:case="5" src="/image/기술과학.gif" id="before">
				    <img alt="" th:case="6" src="/image/예술.gif" id="before">
				    <img alt="" th:case="7" src="/image/언어.gif" id="before">
				    <img alt="" th:case="8" src="/image/문학.gif" id="before">
				    <img alt="" th:case="9" src="/image/역사.gif" id="before">
				</th:block>
				</span>
				</div>

					<div class="product_box">				
						<div class="product_txt">
							<h5 class="tit">[[${dto.authr_Nm}]] | [[${dto.publisher_Nm}]]</h5>
							<h3 class="sub_txt">[[${dto.title_Nm}]]</h3>

							<p class="price"><strong>[[${#numbers.formatInteger(dto.prc_Value, 1,'COMMA')}]]</strong>원</p>
						</div>

						<div class="product_info">
						
							<p><strong>적립혜택</strong><span>구매 시 교원포인트 50% 적립 (~5/31까지)</span></p>
							<p><strong>판매수량</strong><span>1,243 구매</span></p>
						</div>

						<div class="product_option">														
							<div class="product_option_box">	
								<div class="product_option_bg">
									<span class="option_bg"></span>
									<span class="mob_close"></span>
								</div>
							  <div class="product_option_box_in">
							
								<div class="option_btm">
									
									<div th:if="${RULE == 'RULE_ADMIN' }" style="text-align: center; white-space: nowrap;">
										<button class="btn-111" th:onclick="@{|location.href='/BookUpdate.action?seq_No=${dto.seq_No}&${params}'|}">수정</button>
										<button class="btn-111" onclick="alertDelete();">삭제</button>
										<button class="btn-111" th:onclick="@{|location.href='/BookList.action?${params}'|}">목록으로</button>
									</div>
								
								</div>
							</div>					
						</div>
						<!-- 장바구니버튼 test -->
							<div th:id="${dto.seq_No}" class="btn_box">
								<a th:onclick="|javascript:sendBag('${dto.seq_No}')|">
								<button type="button" class="btn-order">장바구니 담기</button></a>
							</div>
							<div th:id="'delete' + ${dto.seq_No}" class="btn_box" style="display: none;">
								<a th:onclick="|javascript:sendDeleteBag('${dto.seq_No}')|">
								<button type="button" class="btn-order">장바구니 꺼내기</button></a>
							</div>
						<!-- 장바구니버튼 test 끝 -->

						<div class="btn_box">


							<button class="btn-order" th:if="${session.user==null and session.OauthUser==null}" 
							onclick="javascript:alert('로그인 후 이용가능합니다')">바로 구매</button>
							
							<button class="btn-order" th:unless="${session.user==null and session.OauthUser == null}" name="one_Order" type="button" 
							onclick="one_order()">바로 구매</button>
							
							

						</div>
					</div>
				</div>				
				</div>
				<br/><br/><br/><br/>
				<div class="content">
					<div class="tab_list">
						<ul>
							<li class="active">상품설명</li>
							<li>상품 Review</li>
							<li>배송/반품/교환</li>
						</ul>
					</div>

					<div class="tab_content">
						<div class="tab_box tab_box01">
						
							<span id="book_Intrcn_Cn" 
							th:utext="${dto.book_Intrcn_Cn.replaceAll('(\r\n|\r|\n)', '<br/>')}" style="line-height: 1.5rem;"></span>

						</div>
						<div class="tab_box">
						<!-- form은 기능에 영향 안줌 디자인 때문에 남겨놓음 -->
						<form action="ReviewCreated.action" method="POST" id="reviewForm">
							<p class="tit">책 Review</p>
							
							<span id="reviewListData" style="display: block;"></span>
							
							<div class="ask_box">
                        <p>
                        <input type="radio" name="reviewStar" value="5"><label for="rate1">★★★★★</label> 
                        <input type="radio" name="reviewStar" value="4"><label for="rate2">★★★★</label>
                        <input type="radio" name="reviewStar" value="3"><label for="rate3">★★★</label>
                        <input type="radio" name="reviewStar" value="2"><label for="rate4">★★</label>
                        <input type="radio" name="reviewStar" value="1"><label for="rate5">★</label>
                        </p>
                        <!-- disabled적용하면 form으로 안 날라감 -->
                        <p th:if="${session.user==null and session.OauthUser==null}"><label>UserID</label><input type="text" placeholder="로그인 후 이용해주세요" disabled="disabled"></p>
                        <p th:unless="${session.user==null}"><label>UserID</label><input type="text" th:value="${session.user.userId}" name="userId" readonly="readonly"></p>
                        <p th:unless="${session.OauthUser==null}"><label>UserID</label><input type="text" th:value="${session.OauthUser.userId}" name="userId" readonly="readonly"></p>
                        <p th:if="${session.user==null and session.OauthUser==null}"><label>내용</label><textarea disabled="disabled"></textarea></p>
                        <p th:unless="${session.user==null}"><label>내용</label><textarea name="content" placeholder="문의내용을 입력해주세요." ></textarea></p>
                        <p th:unless="${session.OauthUser==null}"><label>내용</label><textarea name="content" placeholder="문의내용을 입력해주세요." ></textarea></p>
                        <div class="btn_box" th:if="${session.user!=null or session.OauthUser !=null}">
                           <button class="btn-555 float-r m-btn" onclick="sendReview();" type="button">리뷰 작성</button>
                           <!-- button은 기본type이 submit 그래서 바로 폼 주소로 가지만 이걸 벗어나려면 type button -->
                        </div>
                     
                     </div>
						</form>
						</div>

						
						<div class="tab_box">
							<p class="tit">배송/반품/교환</p>

							<div class="notice_box">
								<p class="tit">구매 시 주의사항</p>
								<div class="sub_txt">
									<p>- 본 구매상품은 문학이조 앱에서 등록하여 사용이 가능합니다.</p>
									<p>- 수신자정보를 잘못 입력하여 타인이 코드를 기사용한 경우, 소비자 과실로 간주되어 환불이 불가합니다.</p>
									<p>- 구매한 상품권에 대한 기타 문의는 고객센터로 문의 바랍니다.</p>
								</div>

								<p class="tit">주문 이후 예상되는 배송기간</p>
								<div class="sub_txt">
									<p>- 대금 지급일로부터 3일 이내 발송, 7일 이내 배송완료</p>
									<p>- 결제 완료 후 1일 이내 문자메시지로 발송완료</p>
								</div>

								<p class="tit">반품/교환 사유에 따른 요청 가능 기간</p>
								<div class="sub_txt">
									<p>- 코드가 노출되지 않은 미사용 실물카드에 한하여 구매일 포함7일까지 구매취소가 가능합니다.</p>
									<p>- 실물카드 결함으로 인해 사용할 수 없거나 잔액이 액면가의 40% 이하인 경우에만 째깍악어 앱을 통해 환불이 가능합니다.</p>
								</div>

								<p class="tit">반품/교환 안내</p>
								<div class="sub_txt">
									<p>- 판매자 지정택배사 : CJ대한통운(1588-1255 유선접수 또는 홈페이지 접수)</p>
									<p>- 보내실 곳 : 서울특별시 성동구 성수일로12길 20, 502호(성수동, 성동안심상가)</p>
									<p>- 상품 불량과 같은 자사 과실로 발생된 반품일 경우 무료 처리 가능하며, 그 외의 사유는 단순변심으로 배송비 발생</p>
									<p>- 반품 배송비는 환불 시 차감 후 처리되어 별도의 동봉 및 입금은 진행하지 않으며, 고객 직접 발송 시 착불로 발송처리</p>
								</div>

								<p class="tit">반품/교환 불가능 사유</p>
								<div class="sub_txt">
									<p>- 반품요청기간이 지난 경우</p>
									<p>- 구매자의 책임 있는 사유로 상품 등이 훼손된 경우 (상품의 내용을 확인하기 위하여 포장을 훼손한 경우는 제외)</p>
									<p>- 구매자의 사용에 의하여 상품의 가치가 감소한 경우</p>
									<p>- 시간의 경과에 의하여 재판매가 곤란할 정도로 상품의 가치가 감소한 경우</p>
								</div>
							</div>

						</div>
					</div>
				</div>


			</div><!--in_box E-->
		</div><!--container E-->

		
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
		<script type="text/javascript">		
		
		var counter_plus=0;
		//var w_height=$('.wish-box').height();
			$(document).ready(function(){

				//탭 스크롤 이동
				$(".tab_list ul li").click(function(){
					var objIndex =$(this).index();
					var top=$(".tab_content>div").eq(objIndex).offset().top;

				$(this).addClass("active").siblings().removeClass("active");
				$("html,body").stop().animate({scrollTop:top}, 500);
				});

				
				//탭메뉴 고정
				var tabListoffset = $(".tab_list").offset();
				$( window ).scroll( function() {
				  if ( $( document ).scrollTop() > tabListoffset.top ) {
					$(".tab_list").addClass("activefixx");
				  }
				  else {
					$(".tab_list").removeClass("activefixx");
				  }
				});
	
				
				$(window).on('resize', function() {
   				  $('.thumbSlide').slick('resize');
				  $('.thumbNavSlide').slick('resize');				
			  });

				
				//상품권 
				$('.drop-down01').append('<div class="clone-slt"></div>');    
				$('.drop-down01').append('<ul class="select-list"></ul>');    
				
				$('.drop-down01 select option').each(function() {  
				var bg = $(this).css('background-image');    
				
				$('.select-list').append('<li class="clsAnchor"><span value="' + $(this).val() + '" class="slt-thumb" style=background-image:' + bg + '>' + $(this).text() + '</span></li>');   
				});    
				
				$('.drop-down01 .clone-slt').html('<span style=background-image:' + $('.drop-down01 select').find(':selected').css('background-image') + '>' + $('.drop-down01 select').find(':selected').text() + '</span>' + '<a href="javascript:void(0);" class="select-list-link">Arrow</a>');   
				
				$('.drop-down01 ul li').each(function() {		
				if ( $(this).find('span').text() == $('.drop-down01 select').find(':selected').text()) {  
				$(this).addClass('active');
				}      
				});     
				
				$('.drop-down01 .select-list span').on('click', function(){
					
				counter_plus++;
				//w_height++;
				var dd_text = $(this).text();  
				var dd_img = $(this).css('background-image');
				var dd_val = $(this).attr('value');
				var price_text = $(this).text();  
				//var w_height = $('.wish-box').height();
				
				$('.drop-down01 .clone-slt').html('<span style=background-image:' + dd_img + '>' + dd_text + '</span>' + '<a href="javascript:void(0);" class="select-list-link">Arrow</a>');  
				$('.drop-down01 .select-list span').parent().removeClass('active');    
				$(this).parent().addClass('active');
				$('.drop-down01 select[name=nameoption]').val( dd_val );
				
				$('.drop-down01 .select-list li').slideUp();
				$('.productprice').slideDown();
				});       

				$('.drop-down01 .clone-slt').on('click','a.select-list-link', function(){      
					$('.drop-down01 ul li').slideToggle();
				});


				//상품권 가격
				$('.drop-down02 p').click(function(){
					$('.productprice').slideToggle();
					$('.drop-down01 ul li').slideUp();
					$('.productprice').toggleClass('active');
					
				});

				
				$('.productprice li').click(function(){
					$('.productprice').slideUp();

					var prod = $('.productname option:selected').text();
					var price = $(this).find('span').text();

					console.log(prod,price);
                    price = comma(price.replace("원",""));
                    price += "원";


					$('.prod').append('<div class="price_rows"><div><span>'+prod+'</span><span class="close_btn"></span></div><div class="price_btn"><input type="button" value="-" class="minus_btn"/><input type="text" value="1" class="number"/><input type="button" value="+" class="plus_btn"/></div><div class="price_unit" price="'+price.replace(/만|원|,/gi, '')+'">'+price+'</div></div>').show();
					$('.price_total').html(get_totalPrice());
				});

				//갯수 선택
				$( 'body' ).on( 'click', '.prod .price_btn > :button', function(){
					var $ths = $(this);
					var $par = $ths.parent().parent();
					var $obj = $par.find('input[type="text"]');
					var val = $obj.val();
					if ($ths.val()=='-') {
						if (val > 0) $obj.val(--val);
					}
					else if ($ths.val()=='+') {
						$obj.val(++val);
					}
					var $tar = $par.find('.price_unit');
					$tar.text(comma(parseInt($tar.attr('price')*val)) + '원');
					$('.price_total').html(get_totalPrice());
				})

				//총금액구하기
				function get_totalPrice() {
					var total = 0;
					$('.price_unit').each(function(k, v) {
						total = total + parseInt($(v).text().replace(/원/gi, '').replace(/,/gi,''));
					});
          
					return comma(total);
				}
			});

				$(document).on('click','.close_btn',function(e){
					//console.log('dd')
					$(this).parent().parent().hide();					
				});

				// 720 바로구매
				if ($(window).width() <= 720) {
					$('.order_btn').click(function(){
						$('.product_option_bg').show();
						$('.product_option_box').show();					
					});
					$('.mob_close').click(function(){
						$('.product_option_bg').hide();
						$('.product_option_box').hide();					
					});
				}

				$(window).resize(function(){				
					if ($(window).width() <= 720) {
						$('.order_btn').click(function(){
							$('.product_option_bg').show();
							$('.product_option_box').show();							
						});
						$('.mob_close').click(function(){
							$('.product_option_bg').hide();
							$('.product_option_box').hide();							
						});
					}
				});				

                comma = function(num){
                    var len, point, str;  
               
                    num = num + "";  
                    point = num.length % 3 ;
                    len = num.length;  
   
                    str = num.substring(0, point);  
                    while (point < len) {  
                        if (str != "") str += ",";  
                        str += num.substring(point, point + 3);  
                        point += 3;  
                    }  
                    return str;
                
                }
		</script>

    </body>
    <!-- End Body -->
    </div>
</html>