<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 내가넣은거 -->
<link rel="stylesheet" href="css/question.css">
<script type="text/javascript" src="js/question.js"></script>

</head>
<body>	

	<div  class="grid1080">

	<h1>자주 묻는 질문 Top5</h1>
	<div class="box">
	  <dl>
	    <dt><a href="javascript:;"><span class="point">Q.</span> 택배를 신청했는데 방문은 언제쯤 해주시나요?<span class="btn"></span></a></dt>
	    <dd>
	     상품 인수를 위한 방문 희망 일로 지정하신 요청일에 방문합니다.
	다만, 공휴일, 오전/오후 및 특정 시간을 지정하여 방문 요청하실 경우 반영되지 않으며 관할 지역 사정으로 인해 택배기사 방문이 1~2일 지연될 수 있기에 정확한 방문 시간 확인은 관할 대리점/사원이나 고객센터로 문의 바랍니다.
	    </dd>
	  </dl>
	  <dl>
	    <dt><a href="javascript:;"><span class="point">Q.</span> 물건이 어디쯤 가고 있는지 알고 싶습니다.<span class="btn"></span></a></dt>
	    <dd>
	      당사 홈페이지내의 [조회/예약]-[택배조회]를 이용하시거나 앱을 다운로드하시면 이동경로 확인이 가능하며 홈페이지나 대한통운 앱 이용이 어려우시면 당사 고객센터로 연락 주시면 안내드리도록 하겠습니다.<br>
	[택배조회 바로가기]
	    </dd>
	  </dl>
	  <dl>
	    <dt><a href="javascript:;"><span class="point">Q.</span> 공휴일이나 일요일에도 배달이 가능한지요?<span class="btn"></span></a></dt>
	    <dd>공휴일과 일요일은 택배사 휴무로 방문이 어려우니 양해 바랍니다. 더 나은 서비스를 제공하기 위해 최선을 다하겠습니다.</dd>
	  </dl>
	   <dl>
	    <dt><a href="javascript:;"><span class="point">Q.</span> 편의점에서도 택배를 보낼수 있나요?<span class="btn"></span></a></dt>
	    <dd>전국 약 4,000여 개의 편의점과 취급점 계약이 체결되어 있어, 가까운 편의점으로 상품을 가져가시면 택배 서비스를 이용하실 수 있습니다. </dd>
	  </dl>
	  <dl>
	    <dt><a href="javascript:;"><span class="point">Q.</span> 무인 락커 예약 사용은 어떻게 하나요?<span class="btn on"></span></a></dt>
	    <dd>택배 App 설치 후, 메뉴버튼에서 ‘무인락커 등록’을 선택합니다.
	사용 가능한 무인락커를 지도에서 선택, 보내는분, 받는분, 상품정보를 입력하고 상품 크기에 맞는 무인락커를 선택하시면 택배 예약이 완료됩니다. 
	<br>※ 사용 가능한 무인락커란? (아파트 : 입주민 대상, 대학교 : 학생 대상, 여성안심택배 등 : 지역주민 대상)
	</dd>
	  </dl>  
	</div>
	</div>

</body>
</html>