<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- <html layout:decorate="~{layout}"> -->


<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<!-- <meta charset="UTF-8"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0"> -->
	<title>review</title>
	<link rel="stylesheet" href="/css/review.css">
	<script src="/js/review.js"></script>
	<!-- AOS Download-->
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<!-- 스와이프 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<!--slick-->
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css'>
	<link rel='stylesheet' href='https://mreq.github.io/slick-lightbox/dist/slick-lightbox.css'>
</head>

<body>

<!-- <div layout:fragment="content2" > -->

<div layout:fragment="content2" >

<br/><br/><br/><br/><br/>

<!-- <h5 th:text="|${#lists.size(lists)}개의 답변이 있습니다.|"></h5> -->
 <h5 th:text="| |">리뷰 내용</h5> 

	<h2>Review</h2>
	
	<div class="see-comments">

		<p>댓글 2개</p>

		<section>
			<div> <img src="https://user-images.githubusercontent.com/112612653/189023768-c2387f31-2463-4198-9078-3e3eaa56f7a0.png" alt=""></div>
			<div>
				<p>cjlover</p>
				<p>정말 맛있고 건강한 재료들이 들어가서 좋아요.</p>
				<p>1시간 전</p>
			</div>
			<div><img src="https://user-images.githubusercontent.com/112612653/189023767-c8fd2d91-9928-41bd-a758-b94befaafe23.png"></div>
		</section>
		<section>
			<div>
				<img src="https://user-images.githubusercontent.com/112612653/189023768-c2387f31-2463-4198-9078-3e3eaa56f7a0.png" alt="">
			</div>
			<div>
				<p>shrimpmania</p>
				<p>새우살이 탱글탱글하게 씹혀요!</p>
				<p>1시간 전</p>
			</div>
			<div><img src="https://user-images.githubusercontent.com/112612653/189023767-c8fd2d91-9928-41bd-a758-b94befaafe23.png">
			</div>
		</section>
		<textarea placeholder="댓글을 입력하세요"></textarea>
		<div>
			<div><input type="checkbox" class="input-chek" id="secret-check"><label for="secret-check" class="form-chek">비밀글</label></div>
			<div><button class="btn-555" type="submit">등록하기</button></div>
		</div>
	</div>


    <h3>Review</h3>
    <div id="review" class="review">     
	    <p class="content">[[review.content]]</p>
	    <p class="name">[[review.userId]]</p>
	    <p class="created">{{review.created}}</p>
	</div>
        <br/><br/><br/><br/><br/><br/>
        
    <hr>
    
    <form id="review-form">
        <h3>Review 쓰기</h3>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>
        <label for="content">Content:</label>
        <textarea name="content" id="content"></textarea><br>
        <button class="btn-555" type="submit">등록하기</button>
        <div><button class="btn-555" type="submit">등록하기</button></div>
    </form>
    
    
    <script>
        $(document).ready(function() {
            // 페이지 로드 시 리뷰를 가져와서 보여줌
            $.ajax({
                url: "/review",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var review = data[i];
                        var reviewDiv = $("<div>").addClass("review");
                        $("<p>").text(review.name).appendTo(reviewDiv);
                        $("<p>").text(review.content).appendTo(reviewDiv);
                        $("<hr>").appendTo(reviewDiv);
                        $("#review").append(reviewDiv);
                    }
                }
            });

            // 리뷰 폼 제출 시 AJAX를 이용해 서버에 저장
            $("#review-form").submit(function(event) {
                event.preventDefault();
                var name = $("#name").val();
                var content = $("#content").val();
                $.ajax({
                    url: "/review",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: name,
                        content: content
                    }),
                    success: function() {
                        // 리뷰가 성공적으로 등록되면 페이지 새로고침
                        location.reload();
                    }
                });
            });
        });
    </script>
    
    </div>
    
</body>
</html>