<html layout:decorate="~{layout}">
<meta charset="UTF-8">

<div layout:fragment="content" >
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<!-- 
<link rel="stylesheet" type="text/css" href="https://unpkg.com/augmented-ui@2/augmented-ui.min.css">
 -->
 
<!--  -->
<link rel="stylesheet" type="text/css" href="/css/userReviewLists.css">

<script th:inline="javascript">

var count = 2;
var numPerPage = [[${numPerPage}]];

function sendCount(){

	if([[${session.user == null and session.OauthUser == null}]]){
		
		alert("로그인 후 이용해주세요");
		
		location.href="/user/login";
		
		return;
		
	}
	
	userReviewAjax();

	count += 1;
	
	if((count-1)*numPerPage+1 > [[${dataCount}]]){
		
		var button = document.getElementById("moreButton");

		button.style.display = "none";
		
	}

}

function userReviewAjax(){
	
	var params = "count=" + count + "&numPerPage=" + numPerPage;

		$.ajax({
			type:"POST",
			url:"/userReviewSub.action",
			data:params,
			dataType:"text",
			success:function(args){
				
				console.log(args);
				
				$("#listing1").append(args);

			}
		
		});
	
}

</script>


<!-- font-family: 'NEXON Lv1 Gothic OTF'; -->
<div style="text-align: center;">

<h5 style="font-size: 40px; font-family: 'NEXON Lv1 Gothic OTF';">&lt;내가 작성한 리뷰&gt;</h5>
<br/><br/>
<div th:if="${#lists.size(lists)}<=0">리뷰를 쓰신 기록이 없습니다</div>

<div th:if="${#lists.size(lists)}>0" th:each="dto,dtoStat: ${lists}">

<!-- ajax로 가져올 html에 똑같이 class listing주면 2배씩 늘어나서 안됨 -->
<div class="listing" th:id="'listing'+@{${dtoStat.index}}"  target="_blank">
	<a th:href="'/BookArticle.action?seq_No=' + @{${dto.seq_No}}">
	  <img th:src="${dto.image_Url}"
	    alt="해당 게시물은 존재하지 않습니다." th:unless="${dto.image_Url == null}">
	  <img src="/image/itemReady.jpg"
	    alt="" th:if="${dto.image_Url == null}">
	  
	  <div style="text-align: left; margin-left: 20%; ">
	  
	    <div class="price">[[${dto.publisher_Nm}]]</div>
	    <br/><br/>
	    <p class="title_Nm">[[${dto.title_Nm}]]</p><br/>
	    <p class="title_Nm">[[${dto.authr_Nm}]]</p>
	    <p class="content">댓글내용 : [[${dto.content}]]</p>
	  </div>
	</a>
</div>



</div>


<button class="moreButton" id="moreButton" onclick="sendCount();" type="button">Review More</button>
<br/><br/><br/><br/><br/><br/><br/><br/>

</div>

</div>
</html>




